/** 
 * Style for widget
 */
#base-general-setting {
    padding             : 10px;
    width               : 300px;
    margin              : 0 auto;
    border              : 1px solid #ccc;
    color               : #fff;
    background-color    : #999;
    text-align          : center;
}