.remove-contact-form-container {display:inline-block;padding:5px 0 0 95px;color:rgb(255,0,0);font-weight:600;cursor:pointer;}
.add-contact-form-container {display:inline-block;padding:0 0 10px 10px;color:rgb(18,112,253);font-weight:600;cursor:pointer;}
#widget-contact-configuration table td {text-align:center;height:20px;line-height:20px;}
#widget-contact-configuration table td.td-label {width:150px;}
#widget-contact-configuration table td.td-name {width:150px;}
#widget-contact-configuration table td.td-type {width:130px;}
#widget-contact-configuration table input[type="text"] {width:90%;}
#widget-contact-configuration .mode-form {display:none;}
#widget-contact-configuration .cell.contact-field-label,
#widget-contact-configuration .cell.contact-field-name {width:180px;}
#widget-contact-configuration .cell.no-data{width:2000px;}
#widget-contact-configuration .createField {
    color               : #fff;
    padding             : 5px 0;
    width               : 150px;
    cursor              : pointer;
	border              : 1px solid #919191;
	font                : 14px/22px tahoma,Arial, Helvetica, sans-serif;
	text-align          : center;
	text-shadow         : 0 -1px 0 rgba(0,0,0,0.25);
	background-color    : #505050;
	background-image    : linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image    : -o-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image    : -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image    : -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image    : -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image    : -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #505050),
		color-stop(1, #707070)
	);
	background-position : center top;
	background-repeat   : no-repeat;
}
#widget-contact-configuration .createField:hover {
	background-color    : #606060;
	background-image    : linear-gradient(top, #606060 0%, #808080 100%);
	background-image    : -o-linear-gradient(top, #606060 0%, #808080 100%);
	background-image    : -moz-linear-gradient(top, #606060 0%, #808080 100%);
	background-image    : -webkit-linear-gradient(top, #606060 0%, #808080 100%);
	background-image    : -ms-linear-gradient(top, #606060 0%, #808080 100%);
	background-image    : -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #606060),
		color-stop(1, #808080)
	);
	background-position : center bottom;
}

#form-manage-field .block_right {margin-top : 5px;}
#masking-html #station-form-wrapper .title-form {color : #fff;}
#selOption.selOption input[type="text"] {width : 100px;}
#masking-html.fieldConfig {width:540px;xmin-height:500px;max-height:500px;overflow-y:auto;}
#station-form-wrapper #form-manage-field .block_left {width:160px;}
.addLast,.removeLast {width:18px;height:18px;display:inline-block;background-position:center;background-repeat:no-repeat;cursor:pointer;}
.addLast {background-image:url('../images/plus.png');}
.removeLast {background-image:url('../images/min.png');}