#widget-page_footer-navigation ul {margin:0;padding:0;position:relative;}
#widget-page_footer-navigation ul li {float:left;padding-left:15px;}
#widget-page_footer-navigation ul li:first-child{padding:0;}
#widget-page_footer-navigation ul li a {font-weight:bold;text-transform:uppercase;}
#widget-page_footer-navigation ul li.active > a {color:#fff;}
#widget-page_footer-navigation ul li ul {position:relative;margin-top:5px;}
#widget-page_footer-navigation ul li ul li {float:none;padding:0;}
#widget-page_footer-navigation ul li ul li a {font-weight:normal;text-transform:none;}