#form_contact .two-column.left {float:left;width:120px;margin:5px 0 0 0;}
#form_contact .two-column.right {float:left;width:300px;margin:5px 0 0 0;}
#form_contact input[type="text"] {border:1px solid #ccc;width:220px;height:22px;line-height:18px;padding:0 5px 2px 5px;}
#form_contact input[type="submit"] {color:#000;padding:10px;margin:10px 0 0 120px;border:2px solid #ddd;border-radius:12px;-o-border-radius:12px;-webkit-border-radius:12px;-moz-border-radius:12px;cursor:pointer;}