#language-selector-wrapper {position:absolute;margin: -20px 0 0 724px;}
#language-selector-wrapper li, #language-selector-wrapper li a {display:inline-block;color:#000;}
#language-selector-wrapper li {margin-left:10px;}
#language-selector-wrapper li:first-child {margin-left:0;}
#language-selector-wrapper li a {color:#898943;}
#language-selector-wrapper li a.active {color:red;}