/* Basic jQuery Slider essential styles */
#basic-slider-wrapper {margin:3px 0 5px;}
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:10;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{display:none;}
p.bjqs-caption{background-color:rgb(83, 173, 9);display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;color:#fff;}
#banner-fade,#banner-slide{margin-bottom: 60px;}
ul.bjqs-controls.v-centered li a{display:block;padding:10px;background:#fff;color:#000;text-decoration: none;}
ul.bjqs-controls.v-centered li a:hover{background:#000;color:#fff;}