#media-library-wrapper {}
#media-library-wrapper a,
#media-library-wrapper span {display:inline-block;} 
#media-library-wrapper .liquid_left_column {background-color:transparent;}
#media-library-wrapper .media-active-folder, #media-library-wrapper #media-folder span.name {font-weight:bold;color:#389;}
#media-library-wrapper .media-active-folder {display:block;text-transform:uppercase;}
#media-library-wrapper #media-folder {border:1px solid #ccc;padding: 10px 5px;line-height:22px;}
#media-library-wrapper #media-folder .child.folder {margin-left:15px;}
#media-library-wrapper #media-folder .folder span.tree,#media-library-wrapper #media-folder .folder span.name {cursor:pointer;background-position:center;background-repeat:no-repeat;}
#media-library-wrapper #media-folder .folder span.tree {width:16px;}
#media-library-wrapper #media-folder .folder span.name {background-image:url('../images/folder.png');background-position:left center;padding-left:20px;}
#media-library-wrapper #media-folder .folder span.name.current{background-image:url('../images/folder-current.png');color:#333;}
#media-library-wrapper span.tree.closed {background-image:url('../images/plus.png');}
#media-library-wrapper span.tree.open {background-image:url('../images/minus.png');}
#media-library-wrapper .dirContextMenu {position:absolute;width:120px;z-index:1000000;border:solid 1px #bbb;background-color:#ccc;padding:5px 10px;margin:0px;display:none;}
#media-library-wrapper .dirContextMenu a {font-weight:bold;}
#media-library-wrapper .dirContextMenu a:hover {color:#881313;}
.new-folder-name-wrapper input[type="text"] {line-height:22px;}
.new-folder-name-wrapper input[type="text"].others {border:1px solid #333;line-height:20px;}
.new-folder-name-wrapper input[type="submit"],.new-folder-name-wrapper input[type="button"] {background-color:#515151;border:1px solid #585858;line-height:20px;padding:0 10px;color:#fff;cursor:pointer;}
#media-file .uploader {margin-top:10px;padding:5px 0;border-bottom:1px solid #ccc;}
#media-library-wrapper #media-file {border:1px solid #ccc;padding:10px;min-height:240px;overflow-y:auto;}
#media-library-wrapper #media-file .loading-file {padding:10px 0;}
#media-library-wrapper .file-manager {color: #333;line-height:16px;padding-top:1px;}
#media-library-wrapper .file-manager .item-file {margin-left:-3px;}
#media-library-wrapper .file-manager .gallery {width:120px;position: relative;display: inline-block;float: left;margin: 3px;border-width: 1px;border-style: solid;border-color: #eee;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;-o-border-radius: 4px;text-align: center;white-space: nowrap;cursor: pointer;overflow: hidden;}
#media-library-wrapper .file-manager .gallery.larger {height:150px;}
#media-library-wrapper .file-manager .gallery.smaller {height:85px;}
#media-library-wrapper .file-manager .gallery.larger.used,#media-library-wrapper .file-manager .gallery.smaller.used {opacity:0.5;border-color: rgb(207, 16, 16);}
#masking-html.file-detail,.masking-html.file-detail {height:320px;}
#masking-html.file-detail .view-detail.text,.masking-html.file-detail .view-detail.text  {height:298px;overflow-y:auto;}
#masking-html #media-file,.masking-html #media-file {max-height:240px;}
#media-library-wrapper #media-file #result-upload {margin:0;}
#media-library-wrapper #media-file #result-upload li {}
#media-library-wrapper #media-file #result-upload li.error {color:red;}
#media-library-wrapper #media-file #result-upload li.file-exists {color:red;}