/*
    Taken From : http://serenedestiny.com/blog/web-development/lets-create-the-perfect-css-reset; 
    Reset all your HTML Element to condition zero.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong,tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
body.noScroll {
    overflow:hidden;
}
textarea { overflow: auto; margin: 0;}
input,button { border: 0px solid white; margin: 0; padding: 0; }

ol, ul {
	list-style: none;
}

blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
content: "";
content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Rapid Default CSS
 */
body {
    width                   : 100%;
    height                  : 100%;
    font-family     : tahoma;
    font-size       : 12px;
    color           : #333;
}

a {
    text-decoration : none;
}

/** Layout **/
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.clear_left { clear: left; }
.clear_right { clear: right; }
.left { text-align: left; }
.right { text-align: right; }
.hidden {display:none !important;}
.hide{visibility:hidden !important;}

/** Text Font **/
.red { color: #fe0000; }
.brown { color: #c8b29b; }
.white { color : #fff; }
.bold { font-weight: bold; }
.bolder { font-weight: bolder; }
.lighter { font-weight: lighter; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }

/** Line Break **/
.break1 { height: 1px !important; }
.break2 { height: 2px !important; }
.break3 { height: 3px !important; }
.break4 { height: 4px !important; }
.break5 { height: 5px !important; }
.break6 { height: 6px !important; }
.break7 { height: 7px !important; }
.break8 { height: 8px !important; }
.break9 { height: 9px !important; }
.break10 { height: 10px !important; }
.break11 { height: 11px !important; }
.break12 { height: 12px !important; }
.break13 { height: 13px !important; }
.break14 { height: 14px !important; }
.break15 { height: 15px !important; }
.break20 { height: 20px !important; }
.break25 { height: 25px !important; }
.break40 { height: 40px !important; }
.break45 { height: 45px !important; }
.break50 { height: 50px !important; }
.break55 { height: 55px !important; }
.break60 { height: 60px !important; }
.break65 { height: 65px !important; }
.break70 { height: 70px !important; }
.break75 { height: 75px !important; }
.break80 { height: 80px !important; }
.break85 { height: 85px !important; }



.header_section {
    background-color    : #3b3b3b;
    padding             : 5px 10px;
}

.header_section h3 {
    padding             : 0;
    margin              : 0;
    color               : #fff;
}

.border_content_section {
    border              : 1px solid #494949;
    border-top          : none;
    padding             : 15px 10px 5px;
}



.horizon_separator_one,
.horizon_separator_two,
.horizon_separator_three {
    height              : 6px;
    display             : block;
    margin-bottom       : 15px;
}

.horizon_separator_one {
    background          : transparent url('../../images/general/horizontal-separator-one.gif') top left repeat-x;
}

.horizon_separator_two {
    background          : transparent url('../../images/general/horizontal-separator-two.png') top left repeat-x;
}

.horizon_separator_three {
    background-color    : #2398BE;
    height              : 3px;
}

.inline-block {
    display             : inline-block;
}