/**
 * Filter HTML
**/
.rounded-all {
    -moz-border-radius  : 2px;
    -webkit-border-radius   : 2px;
    border-radius       : 2px;     /* future proofing */
    -khtml-border-radius    : 2px; /* for old Konqueror browsers */
}
.filter_by {
    padding             : 2px 10px;
    float               : left;
}  
#coil_filter_box {
    
}

.coil_filter_title {
    margin              : 2px 10px 0 0;
    font-weight         : bold;
}

#coil_filter_box ul  {
    padding             : 0;
    margin              : 0;
}
#coil_filter_box ul li {
    position            : relative;
    float               : left;
    background          : transparent url('../../images/filter/coil_filter_left.png') top left no-repeat;
    height              : 25px;
    line-height         : 25px;
    color               : #fff;
    margin-right        : 4px;
    cursor              : pointer;
} 

#coil_filter_box ul li {
    display             : block;
    width               : inherit;
    height              : inherit;
}

#coil_filter_box ul span {
    margin-left         : 5px;
    padding             : 0 15px 0 10px;
    float               : left;
    background          : transparent url('../../images/filter/coil_filter_right.png') top right no-repeat;
    height              : 25px;
    line-height         : 25px;
    color               : #fff;
}   

#coil_filter_box ul li.active  {
    background-position : 0 -52px;
}  
#coil_filter_box ul li.active span {
    background-position : 100% -52px;
}

#coil_filter_box ul .coil_filter_decoration {
    position            : absolute;
    display             : none;
}
#coil_filter_box .coil_filter_option {
    margin-top          : 55px;
    position            : relative;
    background          : transparent url('../../images/filter/filter_Body.png') bottom left no-repeat;
    width               : 220px;
}
#coil_filter_box .coil_filter_option ul.coil_filter_option_select {
    margin              : 0;
    position            : relative;
    top                 : -23px;
    background          : transparent url('../../images/filter/filter_option_top.png') top left no-repeat;
    padding             : 30px 10px 0;
}
#coil_filter_box ul ul {
    display             : none;        
}
#coil_filter_box ul li.active ul,#coil_filter_box ul li.hover ul {
    display             : block;
}

#coil_filter_box ul li.hover .coil_filter_decoration {
    display             : block;
        
}        

#coil_filter_box ul ul li,#coil_filter_box ul ul li.active.hover {
    float               : none;
    background          : transparent url('../../images/filter/check_box.png') 175px center no-repeat;
    padding-right       : 15px;
    line-height         : 25px;
    height              : auto;
    border-bottom       : 1px solid #fff;
}

#coil_filter_box ul ul li.active,#coil_filter_box ul ul li.hover {
    background-position : right;
}



.nous-paging-container {
    float           : right;
    margin-top      : 5px;
}
.nous-paging-container .result-item {
    margin          : 2px 10px 0 0;
    position        : relative;
    float           : left;
}

.nous-paging-container a.inactive {
    cursor          : default;
}
.nous-paging-container a.inactive img {
    opacity         : 0.4;
    filter:alpha(opacity=40);
}

#nous-waiting-layering {
    position        : fixed !important;
    top             : 0;
    left            : 0;
    background      : transparent url('../../images/general/transparent.png') top left repeat;
    width           : 100%;
    height          : 100%;
    z-index         : 20;
}

.nous-waiting-container {
    width           : 300px;
    position        : fixed !important;
    top             : 40%;
    left            : 40%;
}

.nous_message_container {
    background-color: #eaeaea;
    padding         : 10px;
    color           : #333333;
}
    .nous_message_container > .spinner, .spinner {
        background  : transparent url(../../images/general/spinner.gif) top center no-repeat;
        height      : 25px; 
        width       : 25px;
        float       : left;
    }
    
    .nous_message_container > .message {
        margin      : 5px 0 0 10px;
        float       : left;
    }
