#widget_user_standalone_login {
    width               : 400px;
    height              : 215px;
    border              : 3px solid #d6d6d6;
    padding             : 10px;
}

#widget_user_standalone_login a {
    color               : #000;
    font-weight         : bold;
}

#widget_user_standalone_login input[type="submit"] {
    background          : url('../images/login-button.png')
                          left
                          no-repeat;
    width               : 40px;
    height              : 20px;
    cursor              : pointer;
}

#widget_user_standalone_login .wording {
    font-size           : 14px;    
}

#widget_user_standalone_login .widget_background {
    background          : url('../images/person.png')
                          left
                          no-repeat;
    background-position : 5px 50%;
    position            : relative;
    float               : left;
    width               : 185px;
    height              : 215px;
    z-index             : 10;
}

#widget_user_standalone_login .widget_content {
    padding-top         : 30px;
    float               : left;
    height              : 120px;
    position            : relative;
    z-index             : 10;
}

#widget_user_standalone_login .widget_action {
    background-color    : #d5d5d5;
    margin              : -65px -10px; 
    width               : 420px;   
    height              : 30px !important;
    position            : relative;
    z-index             : 5;      
}

#widget_user_standalone_login .input_container_left,
#widget_user_standalone_login .input_container_right {
    height              : 30px;
}

#widget_user_standalone_login .input_container_left {
    background          : transparent 
                          url('../images/text-box-left.png')
                          top left
                          no-repeat;
    padding-left        : 10px;
}

#widget_user_standalone_login .input_container_right {
    background          : transparent 
                          url('../images/text-box-right.png')
                          top right
                          no-repeat;
    padding-right       : 10px;
}

#widget_user_standalone_login .input_container_center {
    background          : transparent 
                          url('../images/text-box-center.png')
                          center
                          repeat-x;
    height              : 30px;
    width               : 180px;
}

#widget_user_standalone_login .widget_message {
    float               : right;
    background-color    : #A5DF00;
    padding             : 5px 10px;
    color               : #FF0040;
    width               : 200px;
    margin-top          : -28px;
}