#wrapper-header #navigation {
    margin-top:42px;position:absolute;padding:8px;border-radius:8px 8px 0 0;-moz-border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0;-o-border-radius:8px 8px 0 0;    
    background-image: -ms-linear-gradient(top, #8FB51C 0%, #689a1f 100%);
    background-image: -moz-linear-gradient(top, #8FB51C 0%, #689a1f 100%);
    background-image: -o-linear-gradient(top, #8FB51C 0%, #689a1f 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8FB51C), color-stop(1, #689a1f));
    background-image: -webkit-linear-gradient(top, #8FB51C 0%, #689a1f 100%);
    background-image: linear-gradient(to bottom, #8FB51C 0%, #689a1f 100%);
}
#wrapper-header #navigation ul {}
#wrapper-header #navigation ul li {float:left;padding-right:15px;}
#wrapper-header #navigation ul li ul {display:none;position:absolute;background-color:#78a51e;padding:10px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;-o-border-radius:6px;z-index:9999;}
#wrapper-header #navigation ul li:hover ul,#wrapper-header #navigation ul li.active ul {display:block;}
#navigation ul li a,#navigation ul li.active ul li a {color:#fff;}
#navigation ul li a:hover {color:#000;} 
#navigation ul li.active > a,#navigation ul li.active ul li.active > a {color:#333;}
#navigation ul li a.active {color:#222;}