@charset "utf-8";
/*=============================================================================================	
	css decorated by : Web Architect (webarq.com)
==============================================================================================*/



body  ::selection {background: #83cdf6;}
body  ::-moz-selection {background: #83cdf6;}

body {
	color:#333; 
	font-size:12px; 
	font-family: 'open_sansregular', arial,tahoma, times new roman;
	amin-height:1200px;
}

a, a:link,
a:active,
a:visited {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;	
	text-decoration:none;
	
}
.link1 {color: #666666 !important;}
.link2 {color: #004d84;text-decoration: underline !important;}
.link3 {color: #7d7d7d !important;font-size: 11px;text-decoration: underline !important;text-transform: uppercase;}
.f_12 {font-size: 12px !important;}

/* structure
----------------------------------------------------------------------------------------------*/
#container {}
.wrapper {width:940px;margin:0 auto;}
header,footer,#middle {position:relative;}



/* header
----------------------------------------------------------------------------------------------*/
header{}
.header {	display: block;position: fixed; top: 0;	margin-top:-125px; width: 100%; height: 135px; z-index: 105;}
header .head_top {height:90px;abackground:#920808;background:url('../images/material/header_top.png') repeat-x;margin-bottom:-10px;position:relative;}
header .head_bottom {height:55px;	background:url('../images/material/header_bottom.png') repeat-x 0 0;position:relative;z-index: -1;}
header .head_top .head_wrap {width:1290px; margin:0 auto; z-index:10; position:relative;}
header .head_bottom .head_wrap {width:1290px; margin:0 auto; z-index:9; position:relative;}
header .logo, nav {float:left;}
header .block_htop {float:right; margin-top:23px;}
header .logo {width:235px;height:80px;margin-top:0px;margin-right:30px;background:url('../images/material/blue_box.png') no-repeat right top;}
header .logo a{display:block; padding:12px 0;}
header nav  {margin:1px 0 0 0 !important;}
header nav ul{margin:0;}
header nav ul li {float:left; list-style:none; position:relative;}
header nav ul li:hover {background:url('../images/material/arrow_nav.jpg') no-repeat center bottom;}
header nav ul li a {display:block;color:#d2e1ff;font-size:14px;padding:29px 10px;font-family: 'open_sanslight';text-shadow: 1px 1px 2px #000;}
header nav ul li a span {font-family: 'open_sansextrabold';}
header nav ul li a:hover {text-decoration:none; color:#fff;}

header nav ul li > ul {display:none;}
header nav ul li:hover > ul {display:block; background: #5E080B url('../images/material/snavli_01.jpg') repeat-y 298px 0;}

header nav ul li ul {	
	position:absolute;
	left:0;
	top:100%;
	width:480px; 
	height:auto; 
	background:#5e080b;
	border-bottom:5px solid #4b0609;
	padding:0  20px 0px 20px;
	color:#d0dfff;
	
	-webkit-transition: height 0.3s ease-in;
	-moz-transition: height 0.3s ease-in;
	-o-transition: height 0.3s ease-in;
	-ms-transition: height 0.3s ease-in;
	transition: height 0.3s ease-in;
	
}
.sub_right {left: -340px;}
header nav .submenu2 {width: 160px;}
header nav ul li ul li {padding-top:20px; padding-bottom:20px;}
header nav ul li ul li:hover {background:none;}
header nav ul li ul li.li_01 {
	width:275px;
	height:auto;
	padding-right:15px;
	/*background:#5e080b url('../images/material/snavli_01.jpg') repeat-y right 0;*/
	font-family: 'open_sanslight';
	font-size:12px;
} 	
header nav ul li ul li.li_01 p {line-height:18px;}
header nav ul li ul li.li_01 .stitle{font-family: 'open_sansextrabold'; margin-bottom:5px; font-size:16px;}
header nav ul li ul li.li_02{width:160px;padding-left:15px; padding-right:15px;} 	
header nav ul li ul li.li_02 ul{
	float:left;
	padding:0;
	position:relative;
	display:block;
	width:auto;
	height:auto;
	border:0;
}
header nav ul li ul li.li_02 ul li{padding:0;float:none;}
header nav ul li ul li.li_02 ul li a{padding:0 0 6px 0;font-size:12px;text-transform:uppercase;}
.nav .submenu li a:hover {color:#F3B903;}

header .block_htop ul{margin:0;}
header .block_htop ul li{float:left;list-style:none;position:relative;}
header .block_htop ul li a, header .block_htop ul li div.click_search{display:block; cursor:pointer; width:31px; height:31px; text-indent:-999999px;}
header .block_htop ul li.lang{margin:0 5px;}
header .block_htop ul li.login a{background:url('../images/material/icon_akun.png') no-repeat 0 0;}
header .block_htop ul li.lang a{background:url('../images/material/icon_lang.png') no-repeat 0 0;}
header .block_htop ul li.search div.click_search{background:url('../images/material/icon_search.png') no-repeat 0 0;}

header .block_htop ul li.search > ul {display:none;}
header .block_htop ul li.search:hover > ul{display:block;}
header .block_htop .wrp_search {position:absolute;right:-5px;	top:-5px;}
header .block_htop .box_search {width:315px;height:40px;background:#5b0707;	margin:0;border-radius:25px;
	-moz-border-radius:25px;-webkit-border-radius:25px;-webkit-transition: background 5s;}
header .block_htop .box_search input {float:right;}
header .block_htop .box_search input[type="text"] {background:none;border:none;color:#999;font-size:12px;font-family: 'open_sanslight';
	width:250px;margin:6px 0 0 0;border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-webkit-box-shadow: inset 0 1px 1px #5b0707;
	-moz-box-shadow: inset 0 1px 1px rgba #5b0707;
	box-shadow: inset 0 1px 1px #5b0707;
}
header .block_htop .box_search input[type="submit"] {
	width:31px;
	height:31px;
	background:url('../images/material/icon_search_hover.png') no-repeat 0 0;
	border:none;
	margin:4px 5px;
}


header .box_blue {position:absolute;height:80px;width:17%;left:0;top:0;	background:#053290;	z-index:5;}

header .head_bottom .frame_time{float:left;}
header .head_bottom .frame_weather{float:right;}

header .head_bottom .frame_time ul{margin:0;}
header .head_bottom .frame_time ul li{list-style:none;float:left;padding:10px 5px 9px 5px;}
header .head_bottom .frame_time .day, header .head_bottom .frame_time .date {display:block;font-family: 'open_sanslight';text-transform:uppercase;line-height:13px;}
header .head_bottom .frame_time .day {color:#666; font-size:10px;text-align: right;}
header .head_bottom .frame_time .date {color:#c98828; font-size:12px;}
header .head_bottom .frame_time .clock {background:url('../images/material/clock.jpg') no-repeat 0 0;padding:2px 0 5px 25px;}
header .head_bottom .frame_time .clock .times {font-family: 'Digital-7';font-size: 30px;}
header .head_bottom .frame_time .clock .clock_count, header .head_bottom .frame_time .clock span  {float:left;}
header .head_bottom .frame_time .clock span  {height:12px;padding:0px 0 0 5px;color:#666;}
header .head_bottom .frame_time .clock .f_10 {margin-top: 7px;}
header .head_bottom .frame_weather ul {margin:0;}
header .head_bottom .frame_weather ul li{float:left;height:45px;border-left:1px solid #000;list-style:none;padding:0 13px 0 13px;position:relative;}
header .head_bottom .frame_weather ul li:hover{	background:#292929;}
header .head_bottom .frame_weather ul li > ul{display:none;}
header .head_bottom .frame_weather ul li:hover > ul{display:block;}
header .head_bottom .frame_weather ul li div{display:block; margin:9px 0 9px 0;}
header .head_bottom .frame_weather ul li .span01,
header .head_bottom .frame_weather ul li .span02{display:block;float:none;margin:0;text-transform:uppercase;line-height:13px;}
header .head_bottom .frame_weather ul li .span01 {color:#666; font-size:10px;}
header .head_bottom .frame_weather ul li .span02 {color:#c98828; font-size:12px;}

header .head_bottom .frame_weather .location {background:url('../images/material/icon_location.png') no-repeat 0 2px; padding:0 35px 0 35px;}
header .head_bottom .frame_weather .weather p{float:left;}
header .head_bottom .frame_weather .weather p.today{margin:0 63px 0 15px; width:100px;}

.today_weather {overflow: hidden;padding: 0 12px;}
.today_weather .icon_today_weather,.today_weather .desc_today_weather {float: left;}
.today_weather .icon_today_weather {width: 68px;}
.today_weather .desc_today_weather {color: #4b2609;text-transform: uppercase;line-height: 12px;width: 147px;}
.list_daily_weather0 {border-top: 1px solid #ae7015;padding: 0 !important;}
.list_daily_weather0 li {color: #4b2609;float: left !important;height: 70px !important;text-align: center;width: 60px;}

header .head_bottom .frame_weather .weather p.celsius{font-size:24px; color:#c98828; margin:5px 0 0 0;}
header .head_bottom .frame_weather .close_weather{cursor: pointer;display:block;width:27px;height:27px;
	background:url('../images/material/close_weather.png') no-repeat center 50%;text-indent:-999999px;}
header .head_bottom .frame_weather ul li .listdrop {position:absolute;top:100%;left:0;width:240px;min-height:140px;margin-top: 15px;opacity: 0;padding:15px;background:#c98828;border-bottom:5px solid #ae7015;}
header .head_bottom .frame_weather ul li li{float:none;border:0;height:auto;padding:0;}
header .head_bottom .frame_weather ul li li:hover{background:none;}
header .head_bottom .frame_weather .frame_searchlocation {margin:0; color:#4b2609;}
header .head_bottom .frame_weather  h2{margin-top:0;color:#4b2609;font-size:24px;line-height:25px;}
header .head_bottom .frame_weather .frame_searchlocation p{line-height:14px;}
header .head_bottom .frame_weather .frame_searchlocation .search_location {margin-bottom:10px;}
header .head_bottom .frame_weather .frame_searchlocation .search_location input{margin:0;}
header .head_bottom .frame_weather .frame_searchlocation .search_location input[type="text"]{
	float:left;
	width:175px;	
	border:1px solid #e5ad5b;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
header .head_bottom .frame_weather .frame_searchlocation .search_location input[type="submit"]{
	float:left;
	border:1px solid #e5ad5b;
	width:43px;
	height:32px;
	background:url('../images/material/search_location.jpg') no-repeat 0 0;
}
header .head_bottom .frame_weather .frame_change_weather .top_weat{}
header .head_bottom .frame_weather .frame_change_weather .top_weat h2 {float:left;}
header .head_bottom .frame_weather .frame_change_weather .top_weat a {
	float:right;
	background:url('../images/material/icon_plus.png') no-repeat 0 50%;
	color:#4b2609;
	font-size:12px;
	text-transform:uppercase;
	padding:0 0 0 17px;
}


/* middle home
----------------------------------------------------------------------------------------------*/
#slider {position:relative;}
.title_asean {width:100%;position:absolute;top:15%;left:0;z-index:11;}
.title_asean .wrp_title{width:560px;margin:0 auto;text-align:center;color:#fff;}
.title_asean .wrp_title .h1_caption {font-size:60px; line-height:65px; margin-bottom:0px; font-family: 'open_sansextrabold';}
.title_asean .wrp_title .short_caption {font-size:20px; line-height:24px; }

.notification {
	width:68px;
	height:97px;
	background:url('../images/material/notif_bg.png') no-repeat 0 0;
	position:fixed;	
	top:30%;
	left:0;
	z-index:15;	
	cursor:pointer;
}
.notification .notif_handler {width:68px;height:97px;cursor:pointer;}
.notification .count_notif {position:relative; float:right; width:26px; height:26px; text-align:center;}
.notification .count_notif span{position:absolute;width:100%;right:0;top:2px;color:#fff;}
.notification_hover {
	adisplay:none;
	position:fixed;	
	top:29%;
	margin-left:-355px;
	z-index:16;
	width:328px;
	height:auto;
	background:url('../images/material/notif_hover_bg.jpg') repeat-y 0 0;
	padding:0 0 0 27px;
	color:#fff;
}
.notification_hover .close_notif {
	width:25px;
	height:30px;	
	background:url('../images/material/close_notif.png') no-repeat center 50%;
	text-indent:-999999px;
	position:absolute;
	top:0;
	left:0;
	z-index:15;
	cursor:pointer;
}
.notification_hover ul {margin:0;}
.notification_hover ul li{list-style:none;position:relative;}
.notification_hover ul li a{
	display:block;
	padding:13px 34px 13px 34px;
	color:#e7a8a8;
	font-size:12px;
	line-height:14px;
	background:url('../images/material/arrow_notif.png') no-repeat 18px 16px;
}

.notification_hover ul li a:hover, .notification_hover ul li:hover a{color:#fff;background:#821418 url('../images/material/arrow_notif_active.png') no-repeat 18px 16px;}
.notification_hover li > ul {display:none;}
.notification_hover li:hover > ul {display:block;}
.notification_hover li ul {
	position:absolute;
	top:0;
	left:100%;
	background:#821418;
	width:135px;
	height:auto;
}
.notification_hover li li {}
.notification_hover li li a{
	padding-left:15px;
	padding-right:15px;
	background:none !important;
	text-align:center;
	color:#fff;
	text-decoration:underline;
}
.notification_hover li li a:hover, .notification_hover ul li li:hover a{
	background:none;
	text-decoration:none;
}


.frame_alert {width:100%;height:300px;position:absolute;left:0;bottom:0;z-index:13;}
.frame_alert .wrapper{width:960px;height:300px;position:relative;}

#disaster_box {bottom: 0px;height:120px; position:relative;}
#disaster_box .disaster{}
#disaster_box .disaster .title_box{float:left;width:110px;text-align:right;padding:20px 18px;}
#disaster_box .disaster .title_box span{display:block; font-size:18px; line-height:20px; font-family: 'open_sanslight'; color:#fff;}
#disaster_box .disaster .title_box span.sbold {font-family: 'open_sansextrabold'; font-size:24px;}
#disaster_box .disaster .icon_box{
	float:left;
	width:174px;
	padding:15px 0 0 0;
	text-align:center;
	font-size:10px;
	text-transform:uppercase;
}
.dis_earthquake .icon_box {color:#52080c;}
.dis_flood .icon_box {color:#0B263F;}
.dis_tsunami .icon_box {color:#0E4D5A;}
.dis_eruption .icon_box {color:#6B360F;}
.dis_twister .icon_box {color:#7A7979;}

#disaster_box .disaster .icon_box p{margin-bottom:0px;}
#disaster_box .disaster .distance_box{
	float:left;
	width:90px;
	padding:10px 0 0 0;
	text-align:center;
	color:#fff;
}
#disaster_box .disaster .distance_box p{margin:0 0 5px 0;}
#disaster_box .disaster .distance_box p .stance1{font-size:10px; text-transform:uppercase;}
#disaster_box .disaster .distance_box p .stance2{font-size:30px; font-family: 'open_sansextrabold';}
#disaster_box .disaster .location_box {float:left;width:260px;padding:7px 13px;}
.dis_earthquake .location_box {color:#9a050b;}
.dis_flood .location_box {color:#004c94;}
.dis_tsunami .location_box {color:#0086a3;}
.dis_eruption .location_box {color:#f37c21;}
.dis_twister .location_box {color:#333333;}

#disaster_box .disaster .location_box p {margin-bottom:5px;}
#disaster_box .disaster .location_box .time{font-size:10px; margin-bottom:0;}
#disaster_box .disaster .location_box .zona{}
#disaster_box .disaster .location_box .zona span{display:block; text-transform:uppercase;}
#disaster_box .disaster .location_box .zona .country{font-family: 'open_sansextrabold'; font-size:24px;}
#disaster_box .disaster .location_box .zona .city{font-family: 'open_sanslight'; font-size:18px;}
#disaster_box .disaster .location_box .lat_lon {
	padding:0 0 2px 22px;
	background:url('../images/material/lat_lon.png') no-repeat 0 2px;
	font-family: 'open_sanslight'; 
	font-size:12px;
}
#disaster_box .disaster .latest_info {float:left;width:210px;padding:13px 13px;}
#disaster_box .disaster .latest_info p{margin:0; line-height:14px;}
#disaster_box .disaster .latest_info .title{color:#333; font-family: 'open_sansbold';text-transform:uppercase; margin:0 0 7px 0;}
#disaster_box .disaster .latest_info .date{color:#666; font-size:10px;}
#disaster_box .disaster .latest_info .descrip{ font-size:12px; height:57px; overflow:hidden;}
.dis_earthquake .descrip {color:#92141a;}
.dis_flood .descrip {color:#033666;}
.dis_tsunami .descrip {color:#0086a3;}
.dis_eruption .descrip {color:#B44E00;}
.dis_twister .descrip {color:#2E2E2E;}

#disaster_box .disaster .dis_control {float: left;height: 116px;position: relative;width: 28px;}
.dis_control .dis_close_notif {cursor: pointer;left: 8px;position: absolute;top: 10px;}
.dis_control .icon_share {cursor: pointer;left: 6px;position: absolute;bottom: 10px;}

.dis_earthquake .fs{background:url('../images/material/disaster_01.png') no-repeat 0 0;}
.dis_flood .fs{background:url('../images/material/disaster_02.png') no-repeat 0 0;}
.dis_tsunami .fs{background:url('../images/material/disaster_03.png') no-repeat 0 0;}
.dis_eruption .fs{background:url('../images/material/disaster_04.png') no-repeat 0 0;}
.dis_twister .fs{background:url('../images/material/disaster_05.png') no-repeat 0 0;}

.fs {position:absolute; bottom:0; height:120px; width:960px;}

#disaster_hover {	display:none;width:813px;height:180px;position:absolute;bottom:99.5%;abottom:119px;	right:0;}
.dis_earthquake #disaster_hover{background:url('../images/material/bg_disasterhover_1.png') no-repeat 0 0;}
.dis_flood #disaster_hover{background:url('../images/material/bg_disasterhover_2.png') no-repeat 0 0;}
.dis_tsunami #disaster_hover{background:url('../images/material/bg_disasterhover_3.png') no-repeat 0 0;}
.dis_eruption #disaster_hover{background:url('../images/material/bg_disasterhover_4.png') no-repeat 0 0;}
.dis_twister #disaster_hover{background:url('../images/material/bg_disasterhover_5.png') no-repeat 0 0;}

#disaster_hover .ds_left{float:left; width:436px; color:#ccc;}
#disaster_hover .ds_rigth{float:left; width:348px; height:180px; background:#99b3cc; position:relative;}
#disaster_hover .ds_left .impact {float:left; padding:6px 15px; background:#111; font-size:14px; font-family: 'open_sansextrabold'; text-transform:uppercase;}
#disaster_hover .ds_left .view_report {
	float:right; 
	color:#fff; 
	text-transform:uppercase; 
	background:url('../images/material/btn_viewreport.png') no-repeat 0 45%;
	padding:0 0 0 16px;
	margin: 10px 15px 0 0;
}
#disaster_hover .ds_left .des_content {height: 115px;overflow: hidden;padding:12px 14px;}
#disaster_hover .ds_left .des_content .note p{margin:0 0 1px 0;	line-height:14px;}
#disaster_hover .ds_left ul.dis_count {margin:0 0 10px 0;}
#disaster_hover .ds_left ul.dis_count li{
	float:left;
	list-style:none;
  display: block;
	width:100px;
	height:58px;
	margin:0 2px 0 0;
}
.dis_earthquake .dis_count li {background:#3e0609;}
.dis_flood .dis_count li {background:#002F5C;}
.dis_tsunami .dis_count li {background:#00576a;}
.dis_eruption .dis_count li {background:#b54e00;}
.dis_twister .dis_count li {background:#262626;}

#disaster_hover .ds_left ul.dis_count li p{text-align:center; margin:0;}
#disaster_hover .ds_left ul.dis_count li .count{font-family: 'open_sansextrabold'; color:#fff; font-size:24px; padding:8px 0 2px 0;}
#disaster_hover .ds_left ul.dis_count li .txt{color:#999; font-size:10px;line-height: 12px; text-transform:uppercase; font-family: 'open_sanslight';}
#disaster_hover .ds_rigth .location{
	position:absolute;
	top:0;
	right:0;
	padding:6px 15px; 
	background:#111; 
	font-size:14px; 
	font-family: 'open_sansextrabold'; 
	text-transform:uppercase;
	color:#999;
}


#frame_logo {background:#fff;	height:130px;position: relative;z-index: 13;}
#frame_logo .wrapper{width:960px;}
#frame_logo ul.aseanlogo {margin:0; padding:38px 0 25px 0;}
#frame_logo ul.aseanlogo li{
	float:left;
	margin:0 30px 0 0; 
	padding:0 0 0px 0;
	list-style:none;
	position:relative;
}
#frame_logo ul.aseanlogo li.last{margin-right:0;}
#frame_logo ul.aseanlogo li a{
	display:block;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

#frame_logo ul.aseanlogo li > ul{display:none;}
#frame_logo ul.aseanlogo li:hover > ul{display:block;}
#frame_logo ul.aseanlogo li ul{position:absolute;margin:0;top:100%;left:-180%;z-index:15;}
#frame_logo ul.aseanlogo li ul.sn02{left:-285%;}
#frame_logo ul.aseanlogo li ul.sn05{left:-140%;}
#frame_logo ul.aseanlogo li ul.sn06{left:-270%;}
#frame_logo ul.aseanlogo li ul.sn09{left:-200%;}
#frame_logo ul.aseanlogo li li{float:none;}
#frame_logo ul.aseanlogo li li.span_arrow{
	width:290px;
	background:url('../images/material/arrow_lihover.jpg') no-repeat center bottom;
	margin:0 0 -1px 0;
	padding:0 0 13px 0;
	z-index:17;
}
#frame_logo ul.aseanlogo li li.detail_note{
	float:none;
	width:263px;
	min-height:105px;
	padding:13px;
	margin:0;
	background:#fff;
	border:1px solid #d8d8d8;
	border-bottom:5px solid #f20d0d;
	z-index:16;
}
#frame_logo ul.aseanlogo li li.detail_note .note_title{font-size:12px; color:#666; text-transform:uppercase; margin:0; line-height:13px;}
#frame_logo ul.aseanlogo li li.detail_note .note_stitle{font-size:14px; color:#333; text-transform:uppercase; margin:0; line-height:15px;}
#frame_logo ul.aseanlogo li li.detail_note .note_des{font-size:11px; color:#333; margin:12px 0 0 0; line-height:14px;}
#frame_logo ul.aseanlogo li li.detail_note .note_url{margin:10px 0 0 0;}
#frame_logo ul.aseanlogo li li.detail_note .note_url a{color:#0054a6; text-indent:-0px;}


#frame_map {width: 100%;height: 678px;overflow: hidden;position: relative;}
#frame_map .nav_map{position: absolute;z-index: 100;right: 0px;height: 146px;top: 120px;}
#frame_map .nav_map .real_map.active{
	display: block;
	margin-bottom: 10px;
	background-color: #004987;
	-webkit-border-top-left-radius: 50px;
-webkit-border-bottom-left-radius: 50px;
-moz-border-radius-topleft: 50px;
-moz-border-radius-bottomleft: 50px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
	
}
#frame_map .nav_map .real_map a{
	background-image: url(../images/material/btn-map.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -9999px;
	display: block;
	height: 68px;
	width: 68px;
	margin-left: 55px;
}
#frame_map .nav_map .real_map.active a{
	background-image: url(../images/material/btn-map-active.png);
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
	font-size: 14px;
	color: #FFF;
	text-indent: 0px;
	padding-left: 75px;
	font-family: "open_sansextrabold";
	text-transform: uppercase;
	height: auto;
	width: 120px;
	margin-left:0px;
	line-height: 16px;
	padding-top: 17px;
	padding-bottom: 17px;
}

#frame_map .nav_map .disaster_map.active{
	background-color: #b5a279;
	-webkit-border-top-left-radius: 50px;
-webkit-border-bottom-left-radius: 50px;
-moz-border-radius-topleft: 50px;
-moz-border-radius-bottomleft: 50px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
}
#frame_map .nav_map .disaster_map{ margin-top:15px; }
#frame_map .nav_map .disaster_map a{
	background-image: url(../images/material/btn-mapdisaster.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -9999px;
	display: block;
	height: 68px;
	width: 68px;
	margin-left: 55px;
}
#frame_map .nav_map .disaster_map.active a{
	background-image: url(../images/material/btn-mapdisaster-active.png);
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
	font-size: 14px;
	color: #FFF;
	text-indent: 0px;
	padding-left: 75px;
	font-family: "open_sansextrabold";
	text-transform: uppercase;
	height: auto;
	width: 150px;
	margin-left:0px;
	line-height: 16px;
	padding-top: 17px;
	padding-bottom: 17px;
}
#frame_about {background:#e8e8e8; min-height:350px; text-align:center;}
#frame_about .wrapper{width:930px;background:#e8e8e8 url('../images/material/frame_about.jpg') no-repeat center top;padding:50px 0 40px 0;}
#frame_about h1 {font-size:36px;text-transform:uppercase;font-family: 'open_sanslight';	margin-top:0;}
#frame_about h1 span{font-family: 'open_sansextrabold';}
#frame_about .short_about{font-size:14px;	margin:25px 0 35px 0;	}
.more_about_1{width:183px;height:43px;	margin:0 auto;border:1px solid #999;}
.more_about_1 a{
	display:block;	
	height:43px;	
	line-height:43px;
	color:#666;
	background:#d7d7d7 url('../images/material/more_about.png') no-repeat 12px 50%;
	padding:0 0 0 43px;
	text-align:left;
	font-size:14px;
}
.more_about_1 a:hover{color:#333;}

.more_about_2 {width:183px;height:43px;	margin:0 auto;border:none;}
.more_about_2 a {background:#920808 url('../images/material/more_news.png') no-repeat 12px 50%;color: #fff;display:block;font-family: 'open_sanslight';font-size:14px;line-height: 43px;padding:0 0 0 43px;}
.more_about_2 a:hover {color:#ADADAD;}

#frame_news_thumb {color:#fff; font-family: 'open_sanslight'; min-height:750px; background:#111;}
#frame_news_thumb .space{padding:50px 0px; width:1285px; margin:0 auto;}
.tf_top {}
.tf_top h1{float:left;font-size:36px;text-transform:uppercase;margin:0;}
.tf_top h1 span {font-family: 'open_sansextrabold';}
.tf_top .frame_select{float:right;}
.tf_top .frame_select .form_select{position:relative; float:right; margin:0 0 0 10px;}
.tf_top .frame_select .form_select .dropdown {
	border: solid 1px #666;
	font-size: 14px;
	font-weight: normal;		
	height: 44px;
	line-height: 44px;
	position: relative;	
	background:#eaeaea url('../images/material/select_icons01.png') no-repeat right center;	
	color:#666;	
	cursor:pointer;	
}
.tf_top .frame_select .form_select .dropdown a.dropdown-toggle{display:block;padding:0 35px 0 10px;color:#666;}
.tf_top .frame_select .form_select .dropdown.open {background:#666 url('../images/material/select_icons02.png') no-repeat 95% center;} 
.tf_top .frame_select .form_select .dropdown.open a.dropdown-toggle { color:#ccc;}
.open > .dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration:.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration:.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration:.2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tf_top .frame_select .form_select ul {
	margin:0;	
	width:100%;
	max-height:305px;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:6px 0;
	overflow-y:auto;
	z-index:50;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border:none;
}
.tf_top .frame_select .form_select ul li{list-style:none;}
.tf_top .frame_select .form_select ul li a{
	display:block;
	padding:8px 35px 8px 10px;
	text-transform:uppercase;
	font-size:14px;
	line-height:18px;
	color:#333;
}
.tf_top .frame_select .form_select ul li a:hover{background:#d9d9d9;}
.tf_top .frame_select .form_select ul li img{padding:0 8px 0 0;}

.tf_top .frame_select .fs01 .dropdown, 
.tf_top .frame_select .fs02 .dropdown, 
.tf_top .frame_select .fs03 .dropdown  {width:240px;}
.tf_top .frame_select .fs04 .dropdown {width:160px;}

.tf_bottom { padding:30px 0 0 0;}
#listNews{ padding:0 0 40px 0;}
/* Opportunities
-------------------------------------*/
.mainside,.sideside {display: inline;float: left;margin-left: 20px;}
.mainside {padding-left: 10px;width: 640px;}
.sideside {width: 270px;}
.line_vr2 {background: url(../images/material/line-v2.jpg) no-repeat right top;}
.sideside h4 {line-height: 30px;}
/* profile
-------------------------------------*/
.bigside,.smallside {display: inline;float: left;margin-left: 20px;} 
.bigside {width: 684px;}
.smallside {width: 256px;}
.line_vr3 {background: url(../images/material/line-v-shadow2.png) no-repeat right top;}
/* Box color
-------------------------------------*/
.news_large,.news_middle,.news_small {float:left; position:relative;}
.news_large a,.news_middle a,.news_small a{display:block;position:relative;background:#232323;	height:100%;}
.news_large a img,.news_middle a img, .news_small a img{position:absolute;	top:0;left:0;}

.news_small {	height:170px;	border-bottom:5px solid #333;  margin: 0 5px 5px 0;  width: 180px;}
.news_small a img {	width:100%;height:170px; }
.news_small.orange {border-bottom:5px solid #f37c21;}
.news_small.cyan {border-bottom:5px solid #038bbb;}
.news_small.red {border-bottom:5px solid #a41118;}
.news_small.blue {border-bottom:5px solid #0054a3;}
.news_small.purple {border-bottom:5px solid #40023e;}
.news_small.yellow {border-bottom:5px solid #c98828;}
.news_small.green {border-bottom:5px solid #3f7613;}
.news_small.brown {border-bottom:5px solid #4b2609;}
.news_small.noborder {border-bottom:0px solid #4b2609; height:210px;}
.news_small .caption {position:absolute;bottom:0px;left:0;width:100%;min-height:61px;
	background:url('../images/material/bg_caption.png') repeat 0 0;	margin:0 !important;
}
.news_small .caption span {display:block; padding:0 18px 0 18px; }
.news_small .caption .date {color:#ccc; font-size:10px; line-height:12px; padding-top:7px; padding-bottom:1px;}
.news_small .caption .title {color:#fff; font-size:14px; line-height:15px; padding-bottom:6px;}
.news_small .caption02 {margin:0;}
.news_small .caption02 span {display:block; padding:0 18px 0 18px; }
.news_small .caption02 .date {color:#ccc; font-size:12px; line-height:14px; padding-top:25px; padding-bottom:1px;}
.news_small .caption02 .title {color:#fff; font-size:20px; line-height:24px; padding-bottom:6px;}

.news_small .hover_caption {position:absolute;width:100%;	height:170px;
	background:url('../images/material/ahover.png') repeat 0 0;
	top:0;left:0;	display:none;	z-index:10;
}
.news_small.orange .hover_caption {background:url('../images/material/ahover_orange.png') repeat 0 0;}
.news_small.cyan .hover_caption {background:url('../images/material/ahover_cyan.png') repeat 0 0;}
.news_small.red .hover_caption {background:url('../images/material/ahover_red.png') repeat 0 0;}
.news_small.blue .hover_caption {background:url('../images/material/ahover_blue.png') repeat 0 0;}
.news_small.yellow .hover_caption {background:url('../images/material/ahover_yellow.png') repeat 0 0;}
.news_small.green .hover_caption {background:url('../images/material/ahover_green.png') repeat 0 0;}
.news_small.brown .hover_caption {background:url('../images/material/ahover_brown.png') repeat 0 0;}
.news_small .hover_caption{position:absolute;width:100%;	height:170px;
	background:url('../images/material/ahover.png') repeat 0 0;
	top:0;left:0;	display:none;	z-index:10;
}
.news_small.box_color_hover.allgrey .hover_caption{position:absolute;width:100%;	height:170px;background:#232323;top:0;left:0;	display:none;	z-index:10;}


.news_small .hover_caption span, 
.news_small .hover_black span {display:block; padding:0 18px 0 18px; }
.news_small .hover_caption .date, 
.news_small .hover_black .date  {color:#555; font-size:10px; line-height:12px; padding-top:20px; padding-bottom:1px;}
.news_small .hover_caption .title, 
.news_small .hover_black .title {color:#999; font-family: 'open_sanslight';font-size:18px; line-height:18px; padding-bottom:6px;}
.news_small .hover_caption .descontent, 
.news_small .hover_black .descontent {color:#fff; font-size:12px; line-height:14px; padding-top:15px;}

.news_middle {	height:220px;	border-bottom:5px solid #333;margin: 0 5px 5px 0; width: 230px;}
.news_middle a img {	width:100%;/*height:205px;*/ }
.news_middle.orange {border-bottom:5px solid #f37c21;}
.news_middle.cyan {border-bottom:5px solid #038bbb;}
.news_middle.red {border-bottom:5px solid #a41118;}
.news_middle.blue {border-bottom:5px solid #0054a3;}
.news_middle.purple {border-bottom:5px solid #40023e;}
.news_middle.yellow {border-bottom:5px solid #c98828;}
.news_middle.green {border-bottom:5px solid #3f7613;}
.news_middle.brown {border-bottom:5px solid #4b2609;}
.news_middle.noborder {border-bottom:0px solid #4b2609; height:220px;}
.news_middle .caption {position:absolute;bottom:0px;left:0;width:100%;min-height:61px;
	background:url('../images/material/bg_caption.png') repeat 0 0;	margin:0 !important;
}

.news_middle .caption span {display:block; padding:0 18px 0 18px; }
.news_middle .caption .date {color:#ccc; font-size:10px; line-height:12px; padding-top:7px; padding-bottom:1px;}
.news_middle .caption .title {color:#fff; font-size:14px; line-height:15px; padding-bottom:6px;}
.news_middle .caption02 {margin:0;}
.news_middle .caption02 span {display:block; padding:0 18px 0 18px; }
.news_middle .caption02 .date {color:#ccc; font-size:12px; line-height:14px; padding-top:25px; padding-bottom:1px;}
.news_middle .caption02 .title {color:#fff; font-size:20px; line-height:24px; padding-bottom:6px;}

.news_middle .hover_caption {position:absolute;width:100%;	height:220px;
	background:url('../images/material/ahover.png') repeat 0 0;
	top:0;left:0;	display:none;	z-index:10;
}
.news_middle.box_color_hover.allgrey .bg_dot {
   background:url('../images/material/transparent-dot.png') repeat 0 0;
   position: absolute;height: 220px;width: 100%;z-index: 1;
}
.news_middle.allgrey .outer {height: 220px;width: 194px;}
.news_middle.allgrey .outer img {position: relative;width: auto;}
.news_middle.allgrey .inner {text-align: center;}

.news_middle.orange .hover_caption {background:url('../images/material/ahover_orange.png') repeat 0 0;}
.news_middle.cyan .hover_caption {background:url('../images/material/ahover_cyan.png') repeat 0 0;}
.news_middle.red .hover_caption {background:url('../images/material/ahover_red.png') repeat 0 0;}
.news_middle.blue .hover_caption {background:url('../images/material/ahover_blue.png') repeat 0 0;}
.news_middle.purple .hover_caption {background:url('../images/material/ahover_purple.png') repeat 0 0;}
.news_middle.yellow .hover_caption {background:url('../images/material/ahover_yellow.png') repeat 0 0;}
.news_middle.green .hover_caption {background:url('../images/material/ahover_green.png') repeat 0 0;}
.news_middle.brown .hover_caption {background:url('../images/material/ahover_brown.png') repeat 0 0;}
.news_middle.blue_blue .hover_caption {background: #004d84;}

.news_middle .hover_caption span, 
.news_middle .hover_black span {display:block; padding:0 18px 0 18px; }
.news_middle .hover_caption .date, 
.news_middle .hover_black .date  {color:#ccc; font-size:10px; line-height:12px; padding-top:20px; padding-bottom:1px;}
.news_middle .hover_caption .title, 
.news_middle .hover_black .title {color:#fff; font-size:14px; line-height:16px; padding-bottom:6px;}
.news_middle .hover_caption .descontent, 
.news_middle .hover_black .descontent {color:#fff; font-size:12px; line-height:14px; padding-top:15px;}


.news_large {	width:428px;height:415px;	border-bottom:5px solid #0054a3;}
.news_large .caption {position:absolute;bottom:0;	left:0;width:100%;	min-height:100px;
	background:url('../images/material/bg_caption.png') repeat 0 0;	margin:0;
}
.news_large .caption span {display:block; padding:0 18px 0 18px;}
.news_large .caption .date {color:#ccc; font-size:12px; padding-top:15px; padding-bottom:3px;}
.news_large .caption .title {color:#fff; font-size:22px; line-height:24px; padding-bottom:6px;}
.news_large .caption02 {margin:0;}
.news_large .caption02 span {display:block; padding:0 18px 0 18px; }
.news_large .caption02 .date {color:#ccc; font-size:12px; line-height:14px; padding-top:25px; padding-bottom:1px;}
.news_large .caption02 .title {color:#fff; font-size:20px; line-height:24px; padding-bottom:6px;}
/*untuk home*/
#frame_news_thumb .news_middle.noborder {height: 210px;}
#frame_news_thumb .news_middle {margin: 0;height: 205px;width: 214px;}
#frame_news_thumb .news_middle img {height: 205px;}
#frame_news_thumb .news_middle .hover_caption {height: 210px;}
.box_hover_caption_blue {border-bottom: none;}
.box_hover_caption_blue a {}
.grayscale img{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.grayscale.disabled img,.active img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}
.box_hover_caption_blue a:hover .caption {background:url('../images/material/ahover_blue.png') repeat 0 0;
-webkit-transition-property: color, background;
-webkit-transition-duration: .4s, .4s;
-webkit-transition-timing-function: linear, ease-in-out;}

/* Pinbox
-------------------------------------*/
/** {box-sizing: border-box;}*/
.mosaicflow__column {float:left;}
.mosaicflow__item {margin: 10px 5px;position:relative;}
.mosaicflow__item img {display:block;width:100%;max-width:500px;height:auto;}
.mosaicflow__item .caption {
   position:absolute;
   bottom:0;
   left:0;
   width:100%;
   margin:0 !important;
   background:url('../images/material/bg_caption.png') repeat 0 0;
   color:#fff;
   font-size:14px;
   text-shadow:1px 1px 1px hsla(0,0%,0%,.75);

   -webkit-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
   -moz-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
   -o-transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
   transition: all 0.4s cubic-bezier(0.23,1,0.32,1);
}
.mosaicflow__item:hover .caption {background:url('../images/material/ahover_blue.png') repeat 0 0;}
.mosaicflow__item .caption span {display: block;padding: 0 18px 0 18px;}
.mosaicflow__item .caption .date {color: #CCC;font-size: 10px;line-height: 12px;padding-top: 7px;padding-bottom: 1px;}
.mosaicflow__item .caption .title {color: #FFF;font-size: 14px;line-height: 15px;padding-bottom: 6px;}
/*
-------------------------------------*/



#frame_news_thumb .more_news {width: 183px;height: 43px;margin: 0 auto;	border: 1px solid #920808;}
#frame_news_thumb .more_news a {
	display: block;
	height: 43px;
	line-height: 43px;
	color: #fff;
	background: #920808 url('../images/material/more_news.png') no-repeat 15px 50%;
	padding: 0 0 0 50px;
	text-align: left; 
	font-size:14px;
}
#frame_news_thumb .more_news a:hover {color:#ccc;}



#frame_event {}

#frame_social {height:490px;background:#fff url('../images/material/social_aha.jpg') no-repeat center bottom;}
#frame_social .wrapper {padding-top:90px;}
#frame_social .left_social {float:left; width:400px;}
#frame_social .right_social {float:right; width:445px; font-size:14px;}

#frame_social .left_social h1{color:#333; font-size:24px;font-family: 'open_sanslight';	text-transform:uppercase;margin-top:0;}
#frame_social .left_social h1 span{font-family: 'open_sansextrabold';}
#frame_social ul.social_network {margin:0; padding-top:15px;}
#frame_social ul.social_network li{float:left;list-style:none;margin:0 20px 0 0;}
#frame_social ul.social_network li a{display:block; width:87px; height:87px; text-indent:-999999px;}
#frame_social ul.social_network li a.sn_fb{background:url('../images/material/sn_fb.png') no-repeat 0 0;}
#frame_social ul.social_network li a.sn_twitter{background:url('../images/material/sn_twitter.png') no-repeat 0 0;}
#frame_social ul.social_network li a.sn_youtube{background:url('../images/material/sn_youtube.png') no-repeat 0 0;}


#frame_campaign {height:230px;background:#e8cd51;}
#frame_campaign .wrapper {background:url('../images/material/bg_yellow_campaign.jpg') no-repeat center top;}
#frame_campaign .campaig_content {background:url('../images/material/campaign_center.png') no-repeat center 50%;min-height:230px;}
#frame_campaign .campaig_content .camp_lf,
#frame_campaign .campaig_content .camp_rf {padding:40px 0 0 0;width:380px;}
#frame_campaign .campaig_content .camp_lf {float:left;}
#frame_campaign .campaig_content .camp_rf {float:right;}

#frame_campaign .campaig_content .camp_lf .img{float:left; margin:0 12px 0 0;}
#frame_campaign .campaig_content .camp_lf .text_des{float:left; width:227px;}
#frame_campaign .campaig_content .camp_rf .img{float:right; margin:0 0 0 12px;}
#frame_campaign .campaig_content .camp_rf .text_des{float:right; width:227px;}
#frame_campaign .campaig_content .camp_lf .text_des .date,
#frame_campaign .campaig_content .camp_rf .text_des .date {color:#666; font-size:10px; margin:0 0 5px 0; line-height:13px;}
#frame_campaign .campaig_content .camp_rf .text_des .date {text-align:right;}
#frame_campaign .campaig_content .camp_lf .text_des .short_des,
#frame_campaign .campaig_content .camp_rf .text_des .short_des{
	color:#004987;
	font-size:14px;
	font-family: 'open_sanssemibold';
}
#frame_campaign .campaig_content .camp_lf .text_des .short_des p,
#frame_campaign .campaig_content .camp_rf .text_des .short_des p {line-height:17px; margin:0;}
#frame_campaign .campaig_content .camp_rf .text_des .short_des p {text-align:right;}
#frame_campaign .campaig_content .camp_lf .text_des p.readmore,
#frame_campaign .campaig_content .camp_rf .text_des p.readmore {margin:12px 0 0 0;}
#frame_campaign .campaig_content .camp_lf .text_des p.readmore a,
#frame_campaign .campaig_content .camp_rf .text_des p.readmore a{
	color:#666;
	font-family: 'open_sanssemibold';
	background:url('../images/material/readmore_red.png') no-repeat 0 0;
	padding:0 0 0 23px;
}
#frame_campaign .campaig_content .camp_rf .text_des p.readmore a {float:right;}
#frame_campaign .campaig_content .camp_lf .text_des p.readmore a:hover, 
#frame_campaign .campaig_content .camp_rf .text_des p.readmore a:hover{
	color:#fd0100;
}




/* middle
----------------------------------------------------------------------------------------------*/
#middle {min-height:200px; padding:30px 0 50px 0;}
#middle .wrapper {position:relative;}
#middle a {color:#004d84; }
#banner_page {position:relative;margin-top: -55px;}
#banner_page .caption_r {
   color: #fff;
   font-size: 40px;
   font-family: 'open_sansextrabold';
   line-height: 40px;
   position: absolute;
   right: 30%;
   text-transform: uppercase;
   top: 40px;
}
#banner_page img{width:100%;}
.header_page {margin-bottom:-10px; z-index:100;}
.box_hover .cntr_ev span {line-height: 24px;margin: 0px auto 0;width: 200px;}
.box_hover .cntr_wea span {line-height: 24px;margin: 0px auto 0;width: 78px;}
span.outer {overflow: hidden;position: relative;display: table !important;}
span.middle {display: table-cell !important;vertical-align: middle;width: 100%;position: static; top: 50%;}
span.inner {position: relative;top: -50%;}
.cntr_ev span.outer {height: 220px;width: 150px;}
.cntr_wea span.outer {height: 66px;width: 180px;}

/*--------------------------------------*/

#frame_subheader {height:115px; width:100%; z-index:120; background:url('../images/material/subheader_bg.jpg') repeat-x 0 0;}
#frame_subheader .fs_top {height:60px;}
#frame_subheader .fs_nav {height:55px;}
.shared{float:left; width:120px;}
.shared a{float:left; width:25px; height:25px; margin-right:5px;}

.shared, 
.title_center, 
.social {margin-top:18px;}
.shared_url {float: left;}
.shared_url a {display: block;height:25px; width:500px;}
.shared_url a.chain {
   color: #999999;font-family: 'open_sanslight';font-size: 12px;
}
.shared span {text-indent: 0;}

#frame_subheader .fs_top .title_center {float:left; width:690px; text-align:center; color:#920808; font-size:24px; text-transform:uppercase; font-family: 'open_sansbold';}
.social {float:right; width:123px;}
.social a {width:25px; height:25px; margin-left:4px; overflow: hidden;padding: 0 !important;}
/*.social a.fb {background:url('../images/material/icon_fb.png');}
.social a.tw {background:url('../images/material/icon_twitter.png');}
.social a.ms {background:url('../images/material/icon_message.png');}
.social a.up {background:url('../images/material/icon_up.png');}*/
.social a.ppc {background:url('../images/material/icon_paper_check1.png');}

.shared a.aa01:hover, .shared a.aa02:hover, .shared a.print:hover, 
.social a.fb:hover,.social a.tw:hover,.social a.ms:hover, 
.social a.up:hover,.shared a.chain:hover,.shared_url a.chain:hover {background-position:0 -25px;}

.social a,.shared a,.shared_url a {
	-webkit-transition-property: color, background;
	-webkit-transition-duration: .2s, .2s;
	-webkit-transition-timing-function: linear, ease-in;
}

#frame_subheader .fs_nav ul {margin:0; text-align:center}
#frame_subheader .fs_nav ul li{display:inline-block;margin:0 4px 0 0;	list-style:none;}
#frame_subheader .fs_nav ul li a{	display:block;padding:18px 0 25px 0;font-size:11px;color:#999;font-family: 'open_sansregular';}
#frame_subheader .fs_nav ul li a:hover {color: #920808;}
#frame_subheader .fs_nav ul li a.active {color:#333;background:url('../images/material/subnav_hover.png') no-repeat bottom center;}

#middle{font-family: 'open_sansregular'; font-size:14px; color:#666;}
#middle p{margin-bottom:20px;}
#middle .title_d span{font-family: 'open_sansextrabold';}
#middle h3.aha_title {color: #3d9dc6;font-family: 'open_sansbold';line-height: 20px;margin-top: 0;text-transform: capitalize;}
#middle .date_title {color: #999;font-size: 12px;}
#middle .video{margin:0 0 35px 0;}
.grid_shadow,.grid_shadow_large,.grid_shadow_middle {width:100%; height:25px;text-indent:-999999px; margin:15px 0 30px 0;}
#middle .grid_shadow{ background:url('../images/material/grid_shadow.jpg') no-repeat center 0; }
.grid_shadow_large { background:url('../images/material/grid_shadow_large.jpg') no-repeat center 0; }
.grid_shadow_middle {background:url('../images/material/grid_shadow_middle.jpg') no-repeat center 0;}
#middle ul {}
#middle ul li {list-style:none;}
#middle ol li {padding-bottom:10px;}
#middle .im_descrip {margin: 5px 0 20px 0;padding: 0 0 0 15px;background: url('../images/material/img_descrip.jpg') no-repeat 0 5px;
	color: #999;font-size: 11px;font-style: italic; }

.over_hiden {overflow: hidden;}
/* box country
------------------------------*/
.load_box {width: 970px;}
.box_1,.box_2 {
   border: 1px solid #d8d8d8;
   float: left;
   margin-right: 5px;
   margin-bottom: 5px;
   overflow: hidden;
   position: relative;
}
.box_1 {height: 255px;width: 465px;}
.box_2 {height: 155px;width: 465px;}
.box_1 .flag {
    background: #fff;
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 40px;
    width: 60px;
}
.box_1 .nation_logo {float: left;text-align: center;width: 160px;}
.box_1 .desc_nation_1 {height: 158px;}
.box_1 .about_nat {float: left; padding-top: 50px;width: 290px;}
.about_nat h4 {font-family: 'open_sanslight' !important;font-weight: lighter; margin: 0;text-transform: capitalize !important;}
.about_nat h5 {color: #999999;margin: 0;font-family: 'open_sansregular';font-weight: normal;}
.box_1 .desc_nation_2 {
    background: url('../images/material/grid_shadow_middle.jpg') no-repeat center top;
    overflow: hidden;
    padding-top: 20px;
    clear: both;
}
.addrs {
    color: #333333;
    float: left;
    font-size: 12px;
    line-height: 14px;
    padding-left: 15px;
    width: 138px;
}
.who_nat {
    float: right;
    padding-right: 15px;
    text-align: right;
    width: 240px;
}
.who_nat .name_nat {
    color: #004d84;
    font-family: 'open_sansbold';
    font-size: 12px;
    line-height: 18px;
}
.who_nat .position_nat {color: #666;font-family: 'OpenSans-Italic';}

.box_2 a {
   display: block;
   overflow: hidden;
   padding: 22px 15px;
   -webkit-transition-property: color, background;
   -webkit-transition-duration: .4s, .4s;
   -webkit-transition-timing-function: linear, ease-in;
}
.box_2 a:hover {background: #222222;}
.box_2 a:hover .flag {background: #111;border: 1px solid #000;}
.box_2 a:hover .de_name,.box_2 a:hover .info1 {color: #555;}
.box_2 a:hover .intr_name,.box_2 a:hover .info2 {color: #999;}
.box_2 .flag {
   padding: 10px;
   background: #fff;
   border: 1px solid #eaeaea;
   float: left;
   height: 85px;
   margin-right: 15px;
   width: 138px;
}
.box_2 .a_nation {float: left; width: 260px;}
.box_2 .nation_name {height: 62px;}
.box_2 .de_name {color: #999;font-size: 11px;}
.box_2 .nation_name .intr_name {
   color: #333;
   font-family: 'open_sanslight';
   font-size: 24px;
   line-height: 20px;
   text-transform: capitalize;
}
.box_2 span {display: block;}
.box_2 .desc_nation {background: url('../images/material/grid_shadow_small.png') no-repeat center top;height: 62px;}
.desc_nation .desc_left,.desc_nation .desc_right {float: left;width: 124px;}
.desc_nation .desc_right {text-align: right;}
.desc_nation .info1 {color: #999; font-size: 11px;}
.desc_nation .info2 {color: #333;font-family: 'open_sansbold';font-size: 14px;}

/*
-----------------------------------------*/
#history_aha {padding:45px 0;}
#history_aha img{width:100%;}

table.further_contact {}
table.further_contact td.twf1{width:20%;}
table.further_contact td.twf2{width:2%;}
table.further_contact td.twf3{width:78%;}


#frame_theProgram, #frame_event {position:relative;}
#frame_download {position:relative;}
.box_hover {float:left; margin:0 5px 5px 0;position:relative;}
.bx_small {height: 174px;width: 182px;}
.bx_middle {height: 220px;width: 230px;}

.box_hover.bx_small a.bh_link {height:172px;width:180px;}
.box_hover.bx_middle a.bh_link {height:218px;width:228px;}
.box_hover a.bh_link{
	display:block;
	position:relative;
	border:1px solid #d8d8d8;
	-webkit-transition-property:color, background; 
	-webkit-transition-duration: .1s, .1s; 
	-webkit-transition-timing-function: linear, ease-in;
}
.box_hover a.bh_link:hover{background:#222;border:1px solid #222;	}
.box_hover a span {display:block;}
.box_hover a .spanNo, .box_hover a .event_date, .box_hover a .icon_download, a .icon_opportunities,a .icon_video,
.icon_paper,.icon_quote, .icon_user,.icon_earthquake,.icon_tsunami,.icon_eruption,
.icon_flood{
	width:50px; 
	height:50px; 
	line-height:50px ; 
	position:absolute; 
	top:-1px; 
	right:-1px; 
	background:#666; 
	color:#fff; 
	font-size:24px; 
	text-align:center;
	-webkit-transition-property:color, background; 
	-webkit-transition-duration: .1s, .1s; 
	-webkit-transition-timing-function: linear, ease-in;	
}


.event_date,.icon_download,.icon_opportunities,.icon_user,
.icon_paper,.icon_earthquake,.icon_tsunami,.icon_eruption,
.icon_flood,.icon_quote,.icon_video {
   font-size:10px;
	line-height:53px;
  text-indent:-999999px;
}
.icon_partly_cloudy,.icon_thunderstorms,.icon_rainny,.icon_mostly_cloudy {
   height: 66px;width: 76px;
   -webkit-transition-property:color, background; 
   -webkit-transition-duration: .4s, .4s; 
   -webkit-transition-timing-function: linear, ease-in;
}

.box_hover a .event_date {background:url('../images/material/event_date.png') no-repeat 0 0;}
.box_hover a .icon_download {	background:url('../images/material/icon_download.png') no-repeat center 50%;}
.box_hover a .icon_opportunities {	background:url('../images/material/opportunities.jpg') no-repeat center 50%;}
.box_hover a .icon_user {background:url('../images/material/icon_user.jpg') no-repeat center 50%;}
.icon_paper { background:url(../images/material/icon_paper.jpg) no-repeat center 50%;}
.icon_earthquake { background:url(../images/material/icon_earthquake.jpg) no-repeat left center;}
.icon_tsunami { background:url(../images/material/icon_tsunami.jpg) no-repeat center 50%;}
.icon_eruption { background:url(../images/material/icon_eruption.jpg) no-repeat center 50%;}
.icon_flood { background:url(../images/material/icon_flood.jpg) no-repeat center 50%;}
.icon_quote { background:url(../images/material/icon_quote.jpg) no-repeat center 50%;}
.box_hover a .icon_video { background: url('../images/material/icon_play_video.jpg') no-repeat center 50%;}
.icon_partly_cloudy {background: url('../images/material/icon_partly_cloudy.png') no-repeat center 50%;}
.icon_thunderstorms {background: url('../images/material/icon_thunder.png') no-repeat center 50%;}
.icon_rainny {background: url('../images/material/icon_rainny.png') no-repeat center 50%;}
.icon_mostly_cloudy {background: url('../images/material/icon_cloudy.png') no-repeat center 50%;}


.icon_location { background:url(../images/material/icon_location.jpg) no-repeat center 50%;height: 30px;text-indent:-999999px;position:absolute;right: -1px;top: -1px;width: 30px;
    -webkit-transition-property:color, background; 
	-webkit-transition-duration: .1s, .1s; 
	-webkit-transition-timing-function: linear, ease-in;
}

.box_hover a .text01, .box_hover a .text02, .box_hover a .text03,
.box_hover a .text_date, .box_hover a .text_place,.box_hover a .text_ntn {
	padding:0 5px 0 13px;
}


.box_hover a .text01 {padding-top:50px; color:#999; font-size:14px; font-family: 'open_sansregular';} 
.box_hover a .text02 {padding-top:2px; color:#333; font-size:19px; line-height:24px; font-family: 'open_sanslight';font-weight: normal !important;} 


.box_hover a .text03 {color: #333;family: 'open_sanslight';font-size: 16px;line-height:22px;font-weight: normal;}
.box_hover a .text_date{padding-top:50px; color:#999; font-size:10px; font-family: 'open_sansregular';font-weight: normal;}
.box_hover a .text_place{position:absolute; bottom:8px; left:0; color:#999; font-size:11px; font-family: 'open_sansregular';}
.box_hover a .text_date b.bold {color: #666;}
.box_hover a .text_ntn {color: #999999;font-size: 11px;padding-top:35px;font-weight: normal !important;}

.box_hover a:hover .spanNo {background:#ed1f25; color:#fff;}
.box_hover a:hover .event_date {background:url('../images/material/event_date_hover.png') no-repeat 0 0;}
.box_hover a:hover .icon_download {	background:url('../images/material/icon_download_hover.png') no-repeat center 50%;}
.box_hover a:hover .icon_opportunities {background:url('../images/material/opportunities_hover.jpg') no-repeat center 50%;}
.box_hover a:hover .icon_paper {background:url('../images/material/icon_paper_active.jpg') no-repeat center 50%;}
.box_hover a:hover .icon_quote {background:url('../images/material/icon_quote_active.jpg') no-repeat center 50%;}
.box_hover a:hover .icon_user {	background:url('../images/material/icon_user_active.jpg') no-repeat center 50%;}
.box_hover a:hover .icon_earthquake {	background:url('../images/material/icon_earthquake_active.jpg') no-repeat center 50%;}
.box_hover a:hover .icon_tsunami {	background:url('../images/material/icon_tsunami_active.jpg') no-repeat center 50%;}
.box_hover a:hover .icon_eruption {	background:url('../images/material/icon_eruption_active.jpg') no-repeat center 50%;}
.box_hover a:hover .icon_flood {background:url('../images/material/icon_flood_active.jpg') no-repeat center 50%;}
.box_hover a:hover .icon_video { background: url('../images/material/icon_play_video_active.jpg') no-repeat center 50%;}
.box_hover a:hover .icon_location { background: url('../images/material/icon_location_active.jpg') no-repeat center 50%;}
.box_hover a:hover .icon_partly_cloudy { background: url('../images/material/icon_partly_cloudy_active.png') no-repeat center 50%;}
.box_hover a:hover .icon_thunderstorms {background: url('../images/material/icon_thunder_active.png') no-repeat center 50%;}
.box_hover a:hover .icon_rainny {background: url('../images/material/icon_rainny_active.png') no-repeat center 50%;}
.box_hover a:hover .icon_mostly_cloudy {background: url('../images/material/icon_cloudy_active.png') no-repeat center 50%;}


.box_hover a:hover .text01,.box_hover a:hover .text_date,.box_hover a:hover .text_ntn {color:#555;}
.box_hover a:hover .text02  {color:#ccc;}
.box_hover a:hover .text_date b.bold,.box_hover a:hover .text03 {color: #999999;}

.icon_pch {
    background-image:url('../images/material/icon_paper_check2.png');
    background-repeat: no-repeat;
    background-position: 10px center;
}
.text_a {color: #999999; font-family: 'open_sansregular'; font-size: 11px; line-height: 14px; padding: 0 5px 0 13px;}
.text_b {color: #666666 !important;font-family: 'open_sansbold';font-size: 11px;}
.text_c {color: #999999;font-size: 10px;font-weight: normal !important;position: absolute; left: 14px; bottom: 10px;}
.text_celc {
   background: url(../images/material/icon_termometer.png) no-repeat left top;
   color: #666;
   font-size: 12px;
   font-weight: normal !important;
   line-height: 20px;
   padding-left: 15px;
   position: absolute;
   left: 14px;
   bottom: 10px;
}
.text_celc b {font-family: 'open_sansbold';font-size: 20px;}


.icon_download1,.icon_email1 {
   cursor: pointer;
    position: absolute;
    bottom: 10px;
    -webkit-transition-property: color, background;
    -webkit-transition-duration: .4s, .4s;
    -webkit-transition-timing-function: linear, ease-in;
}
.icon_download1{left: 14px;}
.icon_email1 { right: 10px;}
.icon_download1,.icon_email1 {height: 17px;padding-left: 17px;}
.icon_download1 { background:url(../images/material/icon_download1.png) no-repeat left center;}
.icon_email1 { background:url(../images/material/icon-email1.png) no-repeat left center;}


.box_hover:hover .icon_email1 { background: url(../images/material/icon-email1-active.png) no-repeat left center;}
.box_hover:hover .icon_download1 {background: url(../images/material/icon_download1_active.png) no-repeat left center;}
.box_hover:hover a.text_b {color: #e67e22 !important;}

/*
----------------------------------------------*/

#popup_program {width:100%; position:absolute; top:0 !important; left:0; height:445px; background:#222; z-index:1005; visibility:hidden;}
#popup_program .space{position:relative;padding:30px 14px;}
#popup_program span {display:block; float:none;}
#popup_program .spanNo {
	background:#ed1f25; 
	color:#fff;
	width:50px; 
	height:50px; 
	line-height:50px ; 
	position:absolute; 
	top:0px; 
	right:0px; 	
	font-size:24px; 
	text-align:center;
}
#popup_program .text01 {padding-top:2px; color:#555; font-size:14px; font-family: 'open_sansregular';} 
#popup_program .text02 {padding-top:2px; color:#ccc; font-size:23px; line-height:30px; font-family: 'open_sanslight';} 
#popup_program .scroll_content {height:330px; margin-top:7px;} 



#map_contact {}
#map_contact .mc_left{float:left;height: 400px; width:700px;}
#map_contact .mc_left #map-canvas {height: 100%;}
#map_contact .mc_right{float:right; width:240px; height:400px; background:#326993; color:#fff;} 
#map_contact .mc_right .space {padding:210px 20px 45px 20px;}
#map_contact .mc_right h3 {color:#fff; margin:0;}

/* Form
------------------------------*/
form.general_form .field {margin-bottom: 10px;}
form.general_form .half_field {margin-bottom: 10px;float: left;width: 470px;}
form.general_form .thrd_field {float: left;margin-bottom: 20px;width: 312px;}
form.general_form label {	display: block;font-size: 12px;}
form.general_form .req {color: #ff0000;}
form.general_form .error {color: #ff0000;font-size: 12px;}
form.general_form input.error {border-color: #ff0000;}

form.general_form span.italic,form.general_form span.hint {color: #999;font-size: 12px;}
.label1,.label2,.label3,.label4 {float: left;padding-top: 10px;}
form.general_form .label1 {width: 140px;}
form.general_form .label2 {width: 180px;}
form.general_form .label3 {width: 200px;}
form.general_form .label4 {width: 240px;}
form.general_form h3{font-size:24px; color:#333; margin:0;}
form.general_form fieldset{margin-bottom: 10px;}
form.general_form label,
form.general_form .dot,
form.general_form input[type="text"],form.general_form input[type="email"],form.general_form input[type="password"],
form.general_form textarea,select {
	float:left;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	font-family: 'open_sansregular';
}

form.general_form .dot {width:5px; line-height:35px; margin:0 9px 0 2px;}
form.general_form input[type="text"],form.general_form input[type="email"],form.general_form input[type="password"],select {margin-right: 10px;padding:5px 6px;
-webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.125);
          box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.125);}
form.general_form .input_01 {width:350px;}
form.general_form .input_02 {width:480px;}
/*form.general_form textarea {width:480px; max-width:480px; height:145px;}*/
form.general_form input[type="submit"] {
	padding-left: 40px;
  padding-right: 40px;
	height:45px;
	background-color:#920808;
	border:none;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	-webkit-transition-property:color, background; 
	-webkit-transition-duration: .4s, .4s; 
	-webkit-transition-timing-function: linear, ease-in;
}
form.general_form input:hover[type="submit"] {background-color:#a30c0c;}

.general_form .img_captcha {float: left;margin-right: 10px;}
.general_form .input_captcha {font-size: 60px;height: 80px;margin: 0;width: 250px;}
.general_form .left1 {float: left;width: 100px;}
.general_form .left2 {float: left;width: 150px;}
.input_width1 {width: 49px;}
.input_width2 {width: 119px;}
.input_width3 {width: 189px;}
.input_width4 {width: 259px;}
.input_width5 {width: 329px;}
.input_width6 {width: 399px;}
.input_width7 {width: 469px;}
.input_width8 {width: 539px;}
.input_width9 {width: 609px;}
.input_width10 {width: 679px;}
.input_width11 {width: 749px;}
.input_width12 {width: 819px;}

#form_contact input[type="submit"] {}
#formComments h3 {color: #333;text-transform: uppercase;font-family: 'open_sansextrabold';}

.custom-upload { position: relative;}
.upload_file {height: 40px;width: 458px;}
.edit_foto {height: 30px;width: 120px;}
.custom-upload input[type=file]{
   outline:none;
   position: relative;
   text-align: right;    
   -moz-opacity:0 ;
   filter:alpha(opacity: 0);
   opacity: 0;
   z-index: 2;
   width:100%;
   height:100%;

}
.custom-upload .fake-file {
   padding: 0;
   margin: 0;
   z-index: 1;
   line-height: 100%;
   position: absolute;
}
.upload_file .fake-file{
   background:url(../images/material/img-upload.png) center right no-repeat;
   left: 0px;
   top: 0px;
   width: 458px;
}
.edit_foto .fake-file {
   cursor: pointer;
   left: 50%;
   margin-left: -30px;
   height: 10px;
   top: 10px;
}
.custom-upload .fake-file input{
   background-color: transparent;
   border: none;
   font-size:16px;
   height:40px;
   padding-left: 40px;
   width:328px;
}
/*
-----------------------------------*/
.download_more {
	background:url('../images/material/icon_download_orange.png') no-repeat 0 4px ;
	padding: 5px 0 5px 25px;
	color:#666;
	font-family: 'open_sanssemibold';
}
.download_more:hover {color:#333;}

ol.roman_small {}
ol.roman_small li{font-style: italic; list-style:lower-roman;}
ol.roman_small li p{font-style: normal; margin: 0 !important;}
#middle .lower_latin li {background: none !important;list-style: lower-latin !important;padding-left: 0px;}
.frame_tabcountry {}
.frame_tabcountry .flag {float:left; margin:0 15px 0 0;}
.frame_tabcountry .txtCountry {float:left;}



#paging {margin-top:25px;}
#paging ul{text-align:center;}
#paging ul li{
	display:inline-block;
	padding:0;
	background:none;
	margin:0 7px 0 0;
	*zoom:1
	*display:inline;
	
}
#paging ul li a{
	display:block;
	padding:5px 11px;
	color:#666;
	font-size:14px;
	font-family: 'open_sansextrabold';
}
#paging ul li a:hover,
#paging ul li a.active{
	color:#fff;
	background:#666;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
}
.filter_archive {position:absolute;top:-5px;right:0;}
#middle .filter_archive li.click_archive {background-image:url('../images/material/filter_cal.jpg') !important;background-color: #004d85 !important;
  background-repeat: no-repeat;background-position: right center !important;cursor: pointer;height:35px;padding-left: 0px;padding-bottom: 0 !important;width:43px;}
.filter_archive li .hide_content {color: #fff;font-size: 14px;padding-top: 7px;text-transform: uppercase;width: 100%;}
#listArchives {background: #004d85;cursor: default;display: none;height: auto;padding: 10px 40px;position: absolute;right: 0px;top:70px;width: 860px;z-index: 11;}
#listArchives .arch {background: none;border-bottom: 1px solid #013e6b;cursor: default; display: inline;float: left;font-size: 12px;padding: 13px 0 8px;width: 285px;}
#listArchives .arch label {color: #fff;}
#listArchives .arch label:hover,#listArchives .arch input[type="radio"]:checked + label {color: #4397CF;}
#listArchives .arch input {display: none;opacity: 0;}
#frame_emergency {}

.btn_back {background-image: url(../images/material/btn-window.png);background-position: right top;background-repeat: no-repeat;color: #999;cursor: pointer;
  height: 28px;padding-right: 50px;padding-top: 7px;position: absolute;right: 0px;top: 15px;
}
.btn_back:hover {background-position: right bottom;}

.frame_popup {
	width:820px;
	background:#fff;
	color:#666;
	font-size:14px;
	min-height:500px;
	border-bottom:25px solid #222;padding-bottom: 25px;
}
.frame_popup2 {height: 350px;min-height: 350px;}
.frame_popup2 .close_pop { position: absolute; top: 4px;right: 8px;}
.frame_popup h3.title{
    font-family: 'open_sanslight';
	line-height:30px;
	padding:25px 40px;
	background:#222;
	color:#ccc;
	margin-top:0;
	margin-bottom:0;
}
.frame_popup h3.title .date{line-height:13px;font-size:11px;color:#555;display:block;}
.frame_popup .space{padding:25px 40px;}
.frame_popup .padrl {padding: 0 40px;} 
.frame_popup .cover_img {
    background: #fff;
    border: 1px solid #d8d8d8;
    float: left;
    margin-right: 20px;
    margin-bottom: 25px;
    padding: 10px;
}
.frame_popup .cover_img .title_center {text-align: center;}
.frame_popup .cover_img .title_center a {
    background: url('../images/material/icon_download2.jpg') no-repeat left top;
    font-family: 'open_sansbold';
    padding: 3px 0 5px 30px;
}
.frame_popup .pop_date {font-size:12px; line-height:14px; margin-bottom:20px; margin-top:5px;}
.frame_popup .source{font-size:12px;}
.frame_popup .im_descrip {
    font-family: 'OpenSans-Italic';
	margin: 5px 0 20px 0;
	padding: 0 0 0 15px;
	background: url('../images/material/img_descrip.jpg') no-repeat 0 5px;
	color: #999;
	font-size: 11px;	
}
.txt_center {text-align: center;}
.frame_popup b { color: #333; font-size: 12px;}
.frame_popup .title1 {font-family: 'open_sanslight';}
.frame_popup .who { color: #004d84;font-family: 'open_sansbold';font-size: 12px;}
.frame_popup .italic { font-family: 'OpenSans-Italic';  font-size: 12px;}
.frame_popup .grid_shadow {
width: 100%;
height: 25px;
background: url('../images/material/grid_shadow.png') no-repeat center 0;
text-indent: -999999px;
margin: 15px 0 30px 0;
}
.share_pop {padding-bottom:15px; border-bottom:1px solid #d8d8d8; margin-bottom:30px;}
.share_pop .shared{margin-top:0;}
.share_pop .social{margin-top:0; width:116px;}
.frame_popup .link_area {float: left; width: 400px;}
.frame_popup .link_area a {
    color: #333333;
    font-family: 'open_sansbold';
    font-size: 12px;
    margin-right: 30px;
}
.frame_popup .poplinev {background: url(../images/material/line-v.jpg) repeat-y 500px 0px;overflow: hidden;}
.frame_popup .popside_a,.frame_popup .popside_b {float: left;}
.frame_popup .popside_a {width: 480px;margin-right: 19px;}
.frame_popup .popside_b {width: 220px;word-wrap: break-word;margin-left: 19px;}

.map_on_popup {height: 236px;width: 480px;}
#map-canvas {height: 100%;}

/* List comments
------------------------------------------------*/
.list_comments {margin-left: 0;overflow: hidden;}
.list_comments li {border-bottom: 1px solid #d8d8d8;list-style: none;padding: 15px 0;}
.list_comments .cmnt_at {height: 30px;overflow: hidden;}
.list_comments .left {color: #999;font-size: 10px;}
.list_comments .left .bold {color: #004d84;font-size: 14px;}
.list_comments .right {background: url(../images/material/icon_warning.png) no-repeat right top;color: #a41118;font-family: 'open_sanslight';font-size: 11px;padding-right: 20px;}
/*
------------------------------------------------*/

.btn1 {
    width: 185px;
    height: 45px;
    background-color: #920808;
    border: none;
    padding: 0 30px;
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
}
.btn2 {
    width: 185px;
    height: 45px;
    background-color: #666666;
    border: none;
    font-family: 'open_sanslight';
    padding: 0 30px;
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
}
#frame_short {height:120px;}
#frame_short #sf_top{height:70px;background:#e67e22;margin-bottom:7px;}
#frame_short #sf_bot{font-size: 12px;}
#sf_bot label {font-size: 12px;}
#sf_bot .side_a {float: left;}
#sf_bot .side_a,#sf_bot .side_b {width: 370px;}
#sf_bot .side_b {
    float: right;
    text-align: right;}
#sf_bot .side_c {
    float: right;
    text-align: right;}
#sf_bot .side_c .line_vr {background: url(../images/material/line-v.jpg) repeat-y right top;margin-right: 10px;padding-right: 10px;}  
#sf_bot .side_c a {color: #999;}
.fmSearch2 {float: right;}
#frame_short .sf_search {float:left; width:290px; height:70px; background:#f39c12; border-right:1px solid #e1711c;position: relative;}
#frame_short .fmSearch {margin:18px 0 0 19px;}
#frame_short .fmSearch  input[type="text"],.fmSearch2  input[type="text"]{
	float:left;
	border:1px solid #bd5e0a;
	padding:6px 30px 6px 10px;
	
	border-radius:0;
	color:#999;
	font-size:12px;
	font-family: 'open_sansregular';
	-moz-border-radius:0;
	-webkit-border-radius:0;
	box-shadow: inset 1px 4px 9px -6px #000;
	-webkit-box-shadow: inset 1px 4px 9px -6px #000;
	-moz-box-shadow: inset 1px 4px 9px -6px #000;
}
#frame_short .fmSearch  input[type="text"] {width:208px;}
.fmSearch2  input[type="text"] {height: 26px;width:248px;}
#frame_short .fmSearch  input[type="submit"],.fmSearch2  input[type="submit"] {
	float:left;
	width:30px;
	height:33px;
	background:url('../images/material/btn_search.png') no-repeat 0 0;
	padding:0;
	border:0;
	cursor:pointer;
	margin-left:-30px;	
}
#frame_short  .sf_select {
	float:right;
	width:631px;
	margin:18px 18px 0 0;
}

#frame_short  .sf_select .sel01, #frame_short  .sf_select .sel02,
#frame_short  .sf_select .sel03{float:right; margin:0 0 0 10px;}
#frame_short  .sf_select .dropdown{background:#fff url('../images/material/select_icons01.png') no-repeat 95% center;}
#frame_short  .sf_select form a{display:block;}
#frame_short  .sf_select form a.dropdown-toggle{
	height:33px;
	line-height:33px;	
	border:1px solid #bd5e0a;
	padding:0 30px 0 12px;
	color:#999;
	font-size:12px;
	font-family: 'open_sansregular';
	font-weight:normal;
	box-shadow: inset 1px 4px 9px -6px #000;
	-webkit-box-shadow: inset 1px 4px 9px -6px #000;
	-moz-box-shadow: inset 1px 4px 9px -6px #000;	
}
#frame_short  .sf_select .sel01 a.dropdown-toggle {width:100px;}
#frame_short  .sf_select .sel02 a.dropdown-toggle {width:90px;}

.arrow_year {
   background-image: url(../images/material/arrow-year.png);
   background-repeat: no-repeat;
   height: 15px;
   position: absolute;
   text-indent: -9999px;
   top: 28px;
   width: 9px;
}
.a_prev { background-position: 0px -19px; left: 10px;}
.a_next { background-position: 0px 0px; right: 10px;}
.month_year {
   color: #fffefe;
   font-family: 'open_sanslight';
   font-size: 30px;
   text-align: center;
   position: absolute;
   left: 50%;
   margin-left: -60px;
   top: 24px;
}



/* style popup maps*/
.hide_content{ display:none; }
.popup_map{width: 700px;position: relative;}
.popup_map .bg_top{
	background-image: url(../images/material/bg_popup_top.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 38px;
}
.popup_map .bg_top .close_pop{position: absolute;top: -16px;right: -16px;}
.popup_map .bg_bottom{
	background-image: url(../images/material/bg_popup_bottom.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 29px;
}
.popup_map .wrap_popup{
	background-image: url(../images/material/bg_popup.png);
	background-repeat: repeat-y;
	background-position: center;
}
.popup_map .wrap_popup .watermark{
	background-image: url(../images/material/watermark-indonesia.png);
	background-repeat: no-repeat;
	background-position: right center;
	min-height: 370px;
	display: block;
	padding-right: 20px;
	padding-left: 20px;
}
.popup_map .wrap_popup .watermark h4{margin: 0px;text-transform: uppercase;font-weight:bold;}
.popup_map .wrap_popup .watermark h4 a{
	font-size: 12px;
	float: right;
	background-image: url(../images/material/icon-viewall.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	color: #333;
	font-weight: normal;
	text-transform: none;
}
.popup_map .wrap_popup .watermark p{ margin:0px; line-height:18px; }
.popup_map .wrap_popup .watermark .list-news,.popup_map .wrap_popup .watermark .country-info{ float:left; }
.popup_map .wrap_popup .watermark .list-news{width: 450px;margin-right:35px;}
.popup_map .wrap_popup .watermark .list-news ul{
	list-style-type: none;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: -8px;
}
.popup_map .wrap_popup .watermark .list-news ul li{
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 8px;
	padding-left: 8px;
}
.popup_map .wrap_popup .watermark .list-news ul li:hover{
	background-image: url(../images/material/bg-blue50.png);
	background-repeat: repeat;
}
.popup_map .wrap_popup .watermark .list-news ul li:hover span{ color:#fff;}
.popup_map .wrap_popup .watermark .list-news ul li a{color: #144b7a;font-size: 14px;font-family: 'open_sanssemibold';}
.popup_map .wrap_popup .watermark .list-news ul li span{font-size: 10px;color: #333;display:block;margin-bottom:-6px;}
.popup_map .wrap_popup .watermark .country-info{width: 175px;}
.popup_map .wrap_popup .watermark .country-info .title{
	font-size: 20px;
	font-family: "open_sansextrabold";
	text-transform: uppercase;
	display: inline-block;
	line-height:28px;
	margin-bottom:7px; 
}
.popup_map .wrap_popup .watermark .country-info .info{ font-family: "open_sansextrabold"; text-transform: uppercase;}
.popup_map .wrap_popup .watermark .country-info .title img{ margin-right:5px; float:left; }
.popup_map .wrap_popup .watermark .clear{ clear:both; }
.mark_labels {
	color: #FFF;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	margin-top: -35px !important;
	width: 34px;
	overflow:visible !important;
  opacity: 1 !important;
}
.mark_labels.dis_b {width: 50px;}
.mark_labels .country{position: relative;	overflow: visible;}
.mark_labels .country .hover{
	position: absolute;
	left: 0px;
	top: -3px;
	background-color: #740808;
	width: 110px;
	text-align: left;
	padding-right: 5px;
	display: none;
}
.mark_labels .country .hover h6{
	font-family: "open_sansextrabold";
	text-transform: uppercase;
	float: left;
	display: inline-block;
	padding: 0px;
	font-size: 12px;
	margin: 0px;
	padding-top:4px;
}
.mark_labels .country .hover span{
	float: left;
	background-color: #a91313;
	display: inline-block;
	padding: 4px;
	margin-right: 5px;
}

.mark_labels .click_disaster {position: relative;overflow: visible;}

.tip_disaster{
	position: absolute;
	background-image: url(../images/material/arrow-tip.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 11px;
  display: none;
}
.dis_a .tip_disaster {width: 385px; margin-top: -157px;margin-left: -178px;}
.dis_b .tip_disaster {margin-top: -66px;margin-left: -131px;width: 325px;}
.dis_c .tip_disaster {margin-top: -83px;margin-left: -138px;width: 325px;}
.tip_disaster .wrap_tip{background-color: #fff;color: #333;}

.tip_disaster .wrap_tip .style-tip{ border: 1px solid #d8d8d8; }
.tip_disaster .wrap_tip .style-tip .head-tip{
	background-color: #e5e5e5;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
}
.tip_disaster .wrap_tip .style-tip .head-tip .time{
	font-size: 10px;
	color: #666;
	display: block;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
}
.tip_disaster .wrap_tip .style-tip .head-tip h6{
	font-size: 12px;
	text-transform: uppercase;
	color: #004987;
	margin: 0px;
	white-space: normal;
	text-align: left;
	line-height: 16px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.tip_disaster .wrap_tip .style-tip .data{padding-top: 15px;padding-bottom: 15px;}
.tip_disaster .wrap_tip .style-tip .data div.grid_i{display: inline-block;text-align: center;	width: 23.33%;
       vertical-align: middle;	font-size: 10px;text-transform: uppercase;color: #333;}
.tip_disaster .wrap_tip .style-tip .data div h2{color: #004c94;font-family: 'open_sansextrabold';	margin: 0px;padding: 0px;}

.tip_disaster .img {display: inline-block;float: left;width: 100px;}
.tip_disaster .desc_disaster {display: inline-block;float: left;width: 205px;}
.tip_disaster .date,.tip_disaster .title {display: block;text-align: left;}
.tip_disaster .date {color: #666;font-size: 10px;}
.tip_disaster .title {color: #004d84; font-family: 'open_sansbold';font-size: 18px;white-space: normal;}

#frame_map_dis {width: 100%;height: 680px;margin-top: -55px;overflow: hidden;position: relative;}
/* float disaster
---------------------------------------------------*/
#floatRight {  color: #666; min-height: 580px;height: 100%;position: absolute; top: 0px;right: -300px;width: 600px;}
#floatRight form {margin: 0;}
.general_form .big_title {color: #999;font-family: 'open_sanslight';font-size: 24px;margin-bottom: 15px;text-transform: uppercase;}
.general_form .big_title span {font-family: 'open_sansextrabold';}
.dis_search fieldset {position: relative;}
#floatRight form input[type="image"] {border: none;float: none;position: absolute;right: 8px;top: 0px;}
.dis_search .general_form input[type="text"] {float: none;font-size: 12px; width: 258px}
.dis_search .general_form .italic {color: #666;display: block;line-height: 16px;}

#floatRight .title {font-size: 11px; text-transform: uppercase;}
.info_title {color: #fff;font-family: 'open_sanslight';font-size: 24px;line-height: 24px;}
#floatRight .no_notif {background: #f20d0d;bottom: 4px;font-family: 'open_sansbold';font-size: 10px;height: 20px;margin-left: 10px;
   padding: 3px 5px 4px 4px;position: relative;width: 20px;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;}

.weather_left,.weather_right {float: left;height: 100%;width: 300px;}
.weather_left {background-color: #222;position: relative;-wekit-box-shadow:6px 0px 3px #333;-moz-box-shadow: 6px 0px 3px #333;box-shadow: 6px 0px 3px #333;}
.weather_right {background-color: #444444;margin-left: 0px;}
.weather_right #frame_tabs {margin-top: 70px;}
.weather_right li {list-style: none;}
.close_weather_r {position: absolute;right: 15px;top: 80px;}

.info_dis1 ul {margin-left: 0px;}
.list_alert_updates li {border-bottom: 1px solid #353535;list-style: none;padding: 5px 0;}
.list_alert_updates li .date {font-size: 11px;line-height: 14px;}
.list_alert_updates li .inpoh1 {color: #c98828;font-size: 14px;line-height: 16px;}
.info_dis1 .select,.info_dis1 .bootstrap-select.btn-group .btn .caret {background-image: url(../images/material/select_icons01.png);}
.info_dis1 .title {background: url(../images/material/icon_location2.png) no-repeat left center;padding-left: 15px;}
.this_day {overflow: hidden;margin: 10px 0;}
.this_day > img {float: left;margin-right: 20px;}
.this_day .left {color: #c98828;text-transform: uppercase;}
.this_day .left .f_30 {vertical-align: bottom;}

.list_daily_weather li {color: #999;float: left;height: 60px;list-style: none;text-align: center;width: 64px;}
.list_daily_weather {}

.weather_bottom .left {width: 130px;}
.weather_bottom .left a {color: #3d9dc6;font-size: 10px;text-decoration: underline;}


.list_current .left {width: 124px;}
.list_current .title {color: #ccc;font-family: 'open_sansbold';font-size: 14px;}
.list_current .f_11 {color: #999;}
.list_current .anumber {color: #13bda9;}
.list_current .anumber b {font-size: 24px;}

.list_current,.list_forecast {margin: 0;padding: 0 15px 0 25px;}
.list_forecast li,.list_current li {border-bottom: 1px solid #525252;overflow: hidden;padding: 10px 0;}

.list_forecast .img_forecast {float: left;margin-right: 15px;}
.list_forecast .left {width: 184px;}
.list_forecast .left .that_date {color: #ccc;font-family: 'open_sansbold';}
.list_forecast .desc_forecast {color: #999;line-height: 14px;}
.border_line_top1 {background-image: url(../images/material/line-h.jpg);background-position: left top;background-repeat: repeat-x;}
.pad1 {padding: 22px 20px;}

#frame_tabs.tab_type_c .viewport {height: 470px;}
#expandWeather {bottom: 20px;height: 30px;position: absolute;right: -9px;text-indent: -99999px;cursor: pointer;
                background-image: url(../images/material/btn_expand.png);background-repeat: no-repeat;}
#expandWeather.expand_left {width: 56px;background-position: left top;}
#expandWeather.expand_right {width: 46px;background-position: right top;}

/*------------------------------------------------*/
/* footer
----------------------------------------------------------------------------------------------*/

.foot_top {height:36px;background:#d5d5d5;border-top:1px solid #fff;}
.foot_top .wrapper {padding-top:7px;background:url('../images/material/bg_foot_top.jpg') no-repeat 0 0;}
.foot_mid {display:none;height:334px;	background:#053290;	color:#fff;}
.foot_mid .wrapper{padding-top:30px;}
.foot_bottom {height:39px;background:#111111;}

.copyright {color:#999; text-align:center;font-size:10px;margin:0px 0 0 0;padding:10px 0 0 0;}
.copyright a{color:#999;}
.copyright a:hover{color:#fff;}

#nav_foot {float:left;margin:0 24px 0 0;}
#nav_foot h5{color:#c3cee6;font-size:12px;text-transform:uppercase;margin:0;padding:0 0 10px 0;line-height:14px;}
#nav_foot ul{margin:0;}
#nav_foot ul li{list-style:none;padding:0 0 6px 0;line-height:14px;}
#nav_foot ul li a{display:block;width:100%;	color:#c3cee6;font-size:11px;}
#nav_foot ul li a:hover{color:#e8cd51;}
	

#nav_foot.nf01{width:110px;}
#nav_foot.nf02{width:100px;}
#nav_foot.nf03{width:115px;}
#nav_foot.nf04{width:132px;}
#nav_foot.nf05{width:100px;}
#nav_foot.nf06{width:105px;}
#nav_foot.nf07{width:133px; margin-right:0;}



footer .social_media {float:left;}
footer .social_media ul{margin:0;}
footer .social_media ul li{float:left; 	margin:0 5px 0 0;list-style:none;}
footer .social_media ul li a{display:block;width:22px;height:22px;text-indent:-999999px;}
footer .social_media ul li a.fb{background:url('../images/material/social_fb.png') no-repeat 0 0;}
footer .social_media ul li a.twitter{background:url('../images/material/social_twitter.png') no-repeat 0 0;}
footer .social_media ul li a.youtube{background:url('../images/material/social_tube.png') no-repeat 0 0;}

footer .frame_btnSitemap {float:right;}
footer .frame_btnSitemap .btn_sitemap {
	display:block;
	background:url('../images/material/btn_sitemap.png') no-repeat right 50%;
	padding:0px 17px 0px 0;
	color:#333;
	cursor:pointer;
}
footer .frame_btnSitemap .btn_sitemap:hover {color:#000;}




/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:909; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../images/material/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

.table-1,.table-2,.table-3 {border: 1px solid #d8d8d8;}
.table-1 caption {background: #333333;color: #cccccc;font-family: 'open_sanslight';font-size: 24px;padding: 20px 0;text-transform: uppercase;}
.table-1 thead,.table-2 thead {background: #222222;border-top: 1px solid #333;}
.table-1 th,.table-2 th {background: #222222;border:1px solid #333;color: #999;font-family: 'open_sanslight';font-weight: normal;padding: 10px 0;}
.table-1 .title_m {background: #e67e22;color: #fff;font-family: 'open_sansbold';font-size: 18px;padding: 10px 0;text-align: center;}
.table-1 td {border: 1px solid #d8d8d8;line-height: 18px;padding: 15px 12px;}
.table-2 td {border: 1px solid #d8d8d8;}
.table-1 td .radio {float: none;}
.table-3 th,.table-3 td {padding: 15px 12px;}
.table-3 th {background-color: #e67e22;border: 1px solid rgba(255,255,255,0.1);color: #fff;font-family: 'open_sanslight';font-weight: normal;}
.table-3 td {font-size: 12px;}

.icon_a {
   opacity: 0.6;
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
.icon_a:hover {opacity: 1;}
input.search_go1 {
   float: left;
   font-size: 12px;
   -moz-border-top-right-radius: 0px;
   -moz-border-radius-bottomright: 0px;
   -webkit-border-top-right-radius: 0px;
   -webkit-border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   height: 20px;
   width: 118px;
}
/* General select, checkbox, radio
----------------------------------*/
.select {
   border: 1px solid #BD5E0A;
	position: absolute;
	height: 21px;
	padding: 9px 16px;
	color: #999;
  font-size: 12px;
	background-image: url(../images/material/select_icons03.png);
   background-repeat: no-repeat;
   background-color: #FFF;
   background-position: right center;
	overflow: hidden;
  text-align: left;
}
.styled option {height: 25px;}
.checkbox, .radio {
    width: 20px;
    height: 25px;
    padding: 0 5px 0 0;
    background: url(../images/material/checkbox.png) no-repeat;
    display: block;
    clear: left;
    float: left;
    cursor: pointer;
}
.radio {
   background: url(../images/material/radio.png) no-repeat;
}
.sel01 .select {width: 100px;}
.sel02 .select {width: 107px;}
.sel03 .select {width: 137px;}
.sel04 .select {width: 235px;}


.sel01 select.styled,.sel01{height: 40px;width: 100px;}
.sel02 select.styled,.sel02{height: 40px;width: 140px;}
.sel03 select.styled,.sel03{height: 40px;width: 170px;}
.sel04 select.styled,.sel04{height: 40px;width: 270px;}


.sel04 .btn {border: none;}
.sel04 .dropdown-menu.open,.sel04 ul.dropdown-menu.inner {width: 100%;}
/* ----------------------------------*/

.table-2 td {line-height: 16px;padding: 8px 10px;vertical-align: text-top;}
.table-2 .trbg {background: #f0f0f0;}
/*
------------------*/
#list-view-container {margin: 13px 0;padding-right: 16px;}
#list-view-container #list-view-header {color: #777;margin: 4px 0 10px;}
.gallery-view-section {
background-color: #FFF;
border: 1px solid #CCDBEB;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;
padding-top: 16px;
padding-left: 16px;
margin-left: 0px;
}
.list-view-cols .filename-col {width: 490px;}
.list-view-cols .filesize-col {width: 186px;}
.list-view-cols div {float: left;display: block;}
ol.browse-files {
-webkit-padding-start: 0px;
padding-left: 0;
margin-left: 0;
}
#list-view-container .browse-file:first-child {padding-top: 7px;}
#list-view-container .browse-files .browse-file {border-width: 1px 0 0 0;}
.gallery-list-view .browse-file {
text-align: left;
padding: 7px 0;
margin: 0 0px;
line-height: 32px;
color: #555;
border-width: 1px 0 0 0;
}
li.browse-file, li.browse-new-folder {
list-style: none;
position: relative;
border: 1px solid #E5E5E5;
border-width: 1px 0;
font-size: 13px;
zoom: 1;
}
.gallery-list-view .browse-file img.icon {
float: left;
width: 35px;
height: 35px;
margin-right: 11px;
display: block;
overflow: hidden;
background-color: rgba(0, 0, 0, 0);
vertical-align: bottom;
border: 1px solid rgba(0, 0, 0, 0);
cursor: pointer;
}
.gallery-view-section .scroll_bar {height: 700px;width: 786px;}
.gallery-view-section .viewport {height: 680px;width: 770px;}


