.trader_width_wrap .container .forex-komoditi{
  width:460px;
  position:relative;
  margin-top:35px;
}

.trader_width_wrap .container .indeks-futures{
  width:445px;
  position:relative;
  margin-top:125px;
  text-align:right;
}
.trader_width_wrap .container .cfd{
  width:445px;
  position:relative;
  margin-top:100px;
}
.trader_width_wrap .container .komoditi-multilateral{
  width:445px;
  position:relative;
  margin-top:115px;
  text-align:right;
}