

.accordion_wrap{
	float:left;
	width:100%;
	margin-top:30px;
}

h2.acc_trigger {
	padding: 0;	
	margin: 0 0 1px 0;
	background: url(../images/material/triger.jpg) no-repeat #ebebeb right top;
	height: 37px;
	width: 100%;
	font-size: 16px;
	font-weight: normal;
	font-family:myriad_semi;
}
h2.acc_trigger a {
	color: #555;
	text-decoration: none;
	display: block;
	padding: 0 0 0 15px;
}
h2.acc_trigger a:hover,
h2.acc_trigger.active a {
	color: #299925;
}
h2.active {background-position: right bottom;}
.acc_container {
	margin: 10px;
	padding: 0;
	text-align: justify;
}
.acc_container table{ float:none !important; }
.acc_container iframe{ width:100%; overflow:auto; }
.form_contact {
	border:1px solid #cfcfcf;
	background:#ebebeb;	
}
.form_contact .form{
	width:430px;
	margin:20px auto;
	
}
.form_contact .form span{
	color:#555;
	font-size:16px;
	font-family:myriad_semi;
	display:inline-block;
	margin-bottom:20px;
}
.form_contact .form p{
	margin:0 0;
	display:inline-block;
	width:100%;
	
}
.form_contact .form input{
	width:265px;
}
.form_contact .form input.sbt_form{
	width:125px;
	height:37px;
	background: url("../images/material/bg_green.jpg") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-family: myriad_semi;
    font-size: 16px;
    font-weight: normal;
	border:none;
	margin-bottom:30px;
}
.form_contact .form select{
	width:280px;
}
.form_contact .form textarea{
	width:415px;
	height:125px;
	
}
.acc_container p span{
	display:inline-block;
	width:40px;
}















