.account_wrap.homepage form input, select {margin-top: 0 !important; margin-bottom: 3px !important; }
.account_wrap.homepage form .captcha.captcha-container {float:left !important;}
.account_wrap.homepage form input[name='captcha']{float:left !important; width: 50px !important;}
.account_wrap.homepage form .btn_submit {width: 100px !important;}


@media (min-width: 1025px){
  .account_wrap.homepage form #live-Info{ height: 40px !important; margin-bottom: 10px !important;}
  .account_wrap.homepage form #demo-Info{ height: 40px !important; margin-bottom: 10px !important;}
}


@media (max-width: 1024px) and  (width: 1024px){
  .account_wrap.homepage form #live-Info{ height: 35px !important; margin-bottom: 10px !important;}
  .account_wrap.homepage form #demo-Info{ height: 35px !important; margin-bottom: 10px !important;}
}


.account_wrap.homepage form .captcha-container { width: 95px !important; padding: 0 0 0 0 !important; margin-right: 0 !important; margin-top: 2px !important; margin-left: 5px !important;}
.account_wrap.homepage .btn_tab{ margin-top: 14px !important; }