/* htt://mifx.com */

@font-face {
	font-family: 'myriad_semi';
	src: url('../font/myriad/semibold/myriadprosemibold.eot');
	src: url('../font/myriad/semibold/myriadprosemibold.eot?#iefix') format('embedded-opentype'),  url('../font/myriad/semibold/myriadprosemibold.woff') format('woff'),  url('../font/myriad/semibold/myriadprosemibold.ttf') format('truetype'),  url('../font/myriad/semibold/myriadprosemibold.svg#myriadprosemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'myriad_reg';
	src: url('../font/myriad/reg/regular-webfont.eot');
	src: url('../font/myriad/reg/regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../font/myriad/reg/regular-webfont.woff') format('woff'),  url('../font/myriad/reg/regular-webfont.ttf') format('truetype'),  url('../font/myriad/reg/regular-webfont.svg#regular-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanslight';
	src: url('../font/open-sans/opensans-light/opensans-light-webfont.eot');
	src: url('../font/open-sans/opensans-light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),  url('../font/open-sans/opensans-light/opensans-light-webfont.woff') format('woff'),  url('../font/open-sans/opensans-light/opensans-light-webfont.ttf') format('truetype'),  url('../font/open-sans/opensans-light/opensans-light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 12px;
	color: #555;
}
.container {
	position: relative;
}
img {
	max-width: 100%;
	height: auto;
}
/*header*/
header {
	/*background:url(../images/material/bg_body.jpg) repeat-x top center ;*/
	position: relative;
	width: 100%;
	z-index: 100;
	border-top-width: 7px;
	border-top-style: solid;
	border-top-color: #2b9526;
}
header .logo {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
header .logo a {
	display: block;
}
header .right_header {
	float: right;
	width: 390px;
}
header .right_header .sosMedia {
	float: right;
}
header .right_header .sosMedia a {
	float: left;
}
header .right_header .sosMedia a img {
	margin-top: 9px;
	margin-right: 7px;
}
header .right_header .sosMedia .language {
	display: inline-block;
	width: 144px;
	min-height: 26px;
	text-transform: uppercase;
}
header .right_header .sosMedia .language a {
	color: #fff;
	font-size: 11px;
	text-decoration: none;
}
header .right_header .sosMedia .language select {
	border: none;
	background: none;
	border-radius: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	width: 125px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #666;
	font-size: 11px;
	padding: 0px 0 0 10px;
	height: 15px;
	margin-top: 4px;
	line-height: 10px;
	text-transform: uppercase;
}
header .right_header .sosMedia .language select option {
	background: #0b8207;
	padding: 5px 0;
}
header .right_header .sosMedia .language .lang2 {
	position: absolute;
	top: 30px;
	width: 102px;
	/**min-height:50px; /** For 2 rows **/
	min-height: 25px; /** Only 1 rows **/
	background: #0B8308;
	z-index: 50;
}
header .right_header .sosMedia .language .lang2 a {
	display: block;
}
header .right_header .sosMedia .language .lang2 a:hover {
	text-decoration: underline;
}
header .right_header .sosMedia .languagef:before {
	content: '';
 d right:-25px;
	top: 10px;
	width: 25px;
	height: 25px;
	background: #fff;
	position: absolute;
	pointer-events: none;
	display: block;
}
header .right_header .btn_search {
	width: 24px;
	height: 37px;
	background: url('../images/material/t_search.png') no-repeat 0 0;
	text-indent: -999999px;
	display: inline-block;
	float: none !important;
}
header .right_header .form_search {
	position: absolute;
	top: 36px;
	right: 0;
	background: #279a25;
	padding: 5px;
	z-index: 45;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
header .right_header .form_search input {
	margin: 0;
	color: #666;
	font-size: 12px;
}
header .right_header .menuOther {
	display: inline-block;
	margin-top: 10px;
	background:#f6f6f6;
}
header .right_header .menuOther ul {
	margin-left: 0px;
}
header .right_header .menuOther ul li {
	float: left;
	margin: 0;
	font-size: 12px;
	font-family: myriad_semi;
	text-transform: uppercase;
	list-style: none;
	line-height: 21px;
	padding-left: 40px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-right: 1px solid #ccc;
	background-position: 15px center !important;
}
header .right_header .menuOther ul li:last-child {
	border-right: none;
}
header .right_header .menuOther ul li a {
	color: #777;
	display:block;
	text-decoration: none;
}
header .right_header .menuOther ul li a:hover {
	color: #289925;
	text-decoration: none;
}
header .right_header .menuOther ul li.first {
	background: url(../images/material/ico_other.png) no-repeat 0 -19px;
}
header .right_header .menuOther ul li.second {
	background: url(../images/material/ico_other.png) no-repeat 0 2px;
}
header .right_header .menuOther ul li.last {
	background: url(../images/material/ico_other.png) no-repeat 0 -39px;
}
header .right_header .button_share {
	position: absolute;
	right: 11px;
	top: 45px;
	display: none;
}
.right_header .sosMedia_mobile {
	position: absolute;
	top: 48px;
	right: 40px;
}
.right_header .phone {
	display: block;
	width: 125px;
	margin: 10px 0 0 0;
	padding: 2px 0px 11px 30px;
	background: url('../images/material/t_phone.png') no-repeat 0 0;
	color: #289824;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial;
}
header .nav-collapse {
}
header .main_menu {
	position: relative;
	background-image: url(../images/material/bg_menu.png);
	background-repeat: repeat-x;
	min-height: 50px;
}
.navbar .btn-navbar {
	display: none;
	right: 0;
	z-index: 999;
	cursor: pointer;
}
ul.nav {
	width: 100%;
	/*margin:13px 0 0 0;*/	
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
	width: 100%;
}
ul.nav li {
	float: left;
	font-size: 13px;
	list-style: none;
	font-family: myriad_semi;
	text-transform: uppercase;
	position: relative;
}
ul.nav li:last-child {
	background: url(../images/material/border_menu.jpg) no-repeat center right;
}
ul.nav li.last a:hover {
	background: url(../images/material/border_menu.jpg) no-repeat top right, url(../images/material/border_menu.jpg) no-repeat top left #f5f5f5;
}
ul.nav li a {
	color: #010101;
	display: block;
	/*padding:12px 30px 13px;*/
	padding: 12px 21px 13px;
	text-decoration: none;
	position: relative;
	background: url(../images/material/border_menu.jpg) no-repeat center left;
}
ul.nav li a:hover, ul.nav li.selected, ul.nav li a.active {
	background: url(../images/material/border_menu.jpg) no-repeat top left #f5f5f5;
}
/* add new css 11 dec 2013*/
ul.nav li a:hover, ul.nav li.selected, ul.nav li a.active {
	background: url(../images/material/border_menu.jpg) no-repeat top left #f5f5f5;
	-moz-box-shadow: inset 0 5px 10px -3px #AAA;
	-webkit-box-shadow: inset 0 5px 10px -3px #AAA;
	box-shadow: inset 0 5px 10px -3px #AAA;
}
ul.nav li a img {
	position: absolute;
	bottom: -13px;
	left: 50%;
	margin-left: -10px;
	display: none;
}
ul.nav li a:hover img, ul.nav li.selected img, ul.nav li a.active img {
	display: block;
	z-index: 20;
}
ul.nav li > ul {
/*display:none;*/
}
.in.collapseafdwsf {
	position: absolute;
	top: 46px;
	width: 95%;
	padding: 0 15px;
	background: #077f03;
}
.mainmenu ul.in li {
	float: none;
	font-size: 10px;
	width: 100%;
	border-bottom: 1px solid #53ad50;
}
.mainmenu ul.in li a {
	color: #fefefe;
	padding: 4px 7px;
	background: none;
}
.mainmenu ul.in li a:hover, .mainmenu ul.in li a.active {
	background-color: #077f03;
	background-image: none;
}
.mainmenu ul.in li a:hover img, .mainmenu ul.in li a.active img {
	display: none;
}
.mainmenu ul.in li.last {
	background: #077f03;
}
/*	Banner
==================================================================================================== */

.banner_home {
	width: 100%;
	padding-bottom: 9px;
	position: relative;
	text-align: center;
	background: url(../images/material/bg_banner_home.jpg) repeat-x bottom center;
}
/*	Widget
==================================================================================================== */

.widget_wrap {
	padding-top: 22px;
	margin-bottom: 30px;
	position: relative;
	background: #f6f6f6;
}
.widget_wrap .container {
	padding-bottom: 20px;
}
.widget_wrap .shadow {
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -537px;
}
.widget {
	position: relative;
	float: left;
	width: 190px;
	height: 165px;
	padding: 17px;
	background-image: url(../images/material/bg-widget.png);
	background-repeat: repeat-x;
	border: 1px solid #cfcfcf;
	background-color: #f6f6f6;
	background-position: bottom;
	margin-right: 10px;
	margin-top: 10px;
}
.widget:last-child {
	margin-right: 0;
}
.widget.last span img {
	float: left;
}
.widget span {
	display: block;
	height: 44px;
	overflow: hidden;
	margin-bottom: 20px;
}
.widget span img {
	margin-right: 8px;
}
.widget span a {
	text-decoration: none;
	font-size: 18px;
	font-family: myriad_semi;
	color: #000;
	line-height: 20px;
}
.widget span a:hover {
	color: #249520;
}
.widget p {
	line-height: 16px;
}
.gr {
	float: left;
	width: 100%;
}
.gr .plug {
	border-bottom: 1px solid #cfcfcf;
	float: left;
	width: 100%;
	padding-bottom: 25px;
}
.index_saham {
	float: left;
	width: 318px;
	height: 310px;
}
.greeter {
	float: left;
	width: 263px;
	margin: 0 25px;
	line-height: 18px;
}
.greeter h2 {
	line-height: 18px;
	margin: 0 0 15px 0;
	padding: 0;
	font-size: 18px;
	color: #000;
	font-family: myriad_semi;
	width: 100%;
	padding-bottom: 14px;
	border-bottom: 5px solid #dedede;
}
.greeter h2 b {
	color: #078d03;
}
.news_h {
	float: right;
	width: 302px;
}
.news_h h2 {
	line-height: 18px;
	margin: 0 0 15px 0;
	padding: 0;
	font-size: 18px;
	color: #000;
	font-family: myriad_semi;
	width: 100%;
	padding-bottom: 14px;
	border-bottom: 5px solid #dedede;
}
.news_h h2 b {
	color: #078d03;
}
.news_h ul {
	margin-bottom: 0;
}
.news_h ul li {
	width: 100%;
	line-height: 16px;
	margin-bottom: 20px;
	list-style-image: url(../images/material/arr_news.jpg);
}
.news_h ul li a {
	color: #000;
	display: block;
	text-decoration: none;
}
.news_h ul li a:hover {
	color: #249520;
	text-decoration: none;
}
.news_h ul li i {
	color: #999;
}
.news_h .monex {
	float: left;
	width: 95%;
	height: 58px;
	border: 1px solid #cfcfcf;
	border-top: none;
	font-size: 14px;
	color: #000;
	padding: 20px 6px;
	font-family: myriad_semi;
	background: url(../images/material/bg_monex.jpg) repeat-x top left;
}
.news_h .monex b {
	color: #078d03;
}
.news_h .monex p {
	font-size: 11px;
	color: #999;
	font-family: arial;
	display: block;
	margin-top: 15px;
}
.news_h .monex p a {
	color: #000;
	text-decoration: none;
}
.news_h .monex p a:hover {
	color: #249520;
	text-decoration: none;
}
.thumb_hi {
	float: left;
	width: 103%;
	margin-top: 30px;
}
.thumb_hi ul {
	float: left;
	width: 100%;
	margin: 0;
}
.thumb_hi ul li {
	float: left;
	width: 220px;
	height: 227px;
	list-style: none;
	text-align: center;
	margin: 0 20px 0 0;
	font-family: myriad_semi;
	font-size: 14px;
	color: #249520;
	position: relative;
}
.thumb_hi ul li .img {
	display: block;
	margin-bottom: 5px;
}
.thumb_hi ul li p a {
	font-size: 18px;
	text-decoration: none;
	color: #000;
	display: block;
	margin-top: 5px;
}
.thumb_hi ul li p a:hover {
	color: #249520;
}
.thumb_hi ul li .btn {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -50px;
}
.thumb_hi.other {
	margin-top: 10px;
}
.thumb_hi.other .list_thumb {
	padding-top: 20px;
}
.thumb_hi.other .list_thumb li {
	height: 215px;
	margin: 0 40px;
}
.banner_page {
	float: left;
	width: 100%;
	text-align: center;
	background: url(../images/material/bg_banner_page.jpg) repeat-x top center;
}
.middle_page {
	float: left;
	width: 100%;
	min-height: 400px;
	background: url(../images/material/shadow_widget.jpg) no-repeat top center;
}
.middle_page .container {
	margin-top: 35px;
}
.middle_page .container .left_wrap {
	float: left;
	width: 320px;
}
.middle_page .container .left_wrap .side_menu_mobile {
	background-color: #269722;
	position: absolute;
	height: 40px;
	width: 40px;
	right: -40px;
	top: 50%;
	margin-top: -20px;
	display: none;
	background-image: url(../images/material/icon-sidemenu.png);
	cursor:pointer;
}
.middle_page .container .left_wrap .side_menu {
	padding: 15px;
	margin-bottom: 30px;
	border: 1px solid #cfcfcf;
	background: url(../images/material/bg_left_side.jpg) repeat-x top center #e4e4e4;
	-moz-box-shadow: 0 0 5px #c6c6c6;
	-webkit-box-shadow: 0 0 5px #c6c6c6;
	box-shadow: 0 0 5px #c6c6c6;
}
.middle_page .container .left_wrap .side_menu h3 {
	color: #fff;
	margin: 0;
	line-height: 16.8px;
	font-weight: normal;
	font-size: 18px;
	font-family: myriad_semi;
	background-color: #000;
	padding: 10px;
}
.middle_page .container .left_wrap .side_menu ul {
	margin: 20px 0 0 0;
}
.middle_page .container .left_wrap .side_menu ul li {
	list-style: url(../images/material/bullet.png);
	list-style-position: inside;
	font-size: 14px;
	position: relative;
	padding: 0 0 0 5px;
	font-family: myriad_semi;
	border-bottom: 1px solid #cfcfcf;
}
.middle_page .container .left_wrap .side_menu ul li a {
	color: #555;
	display: inline-block;
	padding: 8px 0;
	text-decoration: none;
}
.middle_page .container .left_wrap .side_menu ul li a:hover, .middle_page .container .left_wrap .side_menu ul li.active a {
	color: #269722;
	text-decoration: none;
}
.middle_page .container .left_wrap .side_menu ul li:last-child {
	border-bottom: none;
}
.middle_page .container .left_wrap .side_menu ul li img {
	position: absolute;
	top: 0;
	right: -30px;
	display: none;
}
.middle_page .container .left_wrap .side_menu ul li:hover img, .middle_page .container .left_wrap .side_menu ul li.active img {
	display: block;
}
.middle_page .container .left_wrap .side_menu ul li ul {
	margin: 0 0 0 -5px;
}
.middle_page .container .left_wrap .side_menu ul li ul li {
	list-style: none;
	padding-left: 30px;
	width: 91%;
}
.middle_page .container .left_wrap .side_menu ul li ul li:first-child {
	border-top: 1px solid #cfcfcf;
}
.middle_page .container .left_wrap .side_menu ul li ul li a {
	color: #555 !important;
}
.middle_page .container .left_wrap .side_menu ul li ul li.active a, .middle_page .container .left_wrap .side_menu ul li ul li a:hover {
	color: #269722 !important;
}
.middle_page .container .left_wrap .platform, .middle_page .container .left_wrap .seminar {
	padding: 15px;
	margin: 10px;
	text-align: center;
	border: 1px solid #cfcfcf;
	background-color: #e4e4e4;
	-moz-box-shadow: 0 0 5px #c6c6c6;
	-webkit-box-shadow: 0 0 5px #c6c6c6;
	box-shadow: 0 0 5px #c6c6c6;
	font-size: 18px;
	font-family: myriad_semi;
}
.middle_page .container .left_wrap .platform span, .middle_page .container .left_wrap .seminar span {
	color: #259621;
}
.middle_page .container .left_wrap .platform img, .middle_page .container .left_wrap .seminar img {
	margin-bottom: 10px;
}
.no_background {
	background: none;
}
.right_wrap {
	float: right;
	width: 590px;
	line-height: 18px;
}
.right_wrap p {
	margin: 15px 0;
}
.right_wrap ul {
	list-style-image: url(../images/material/bullet.png);
}
.right_wrap a {
	text-decoration: none;
	color: #299925;
}
.right_wrap a:hover {
	text-decoration: underline;
}
.list_thumb {
	border-top: 1px solid #dedede;
}
h2.title_page {
	margin: 0;
	font-weight: normal;
	font-size: 18px;
	font-family: myriad_semi;
	color: #000;
	padding-bottom: 15px;
	line-height: 18px;
	border-bottom: 5px solid #dedede;
}
h2.title_page span {
	color: #078d03;
}
.font_16 {
	font-weight: normal;
	font-size: 18px;
	font-family: myriad_semi;
	color: #000;
}
.wid_trader {
	margin-top: 25px;
}
.wid_trader .wrap_trd {
	float: left;
	width: 300px;
	height: 124px;
	margin: 0px;
	background-image: url(../images/material/bg-widget.png);
	background-repeat: repeat-x;
	background-position: bottom;
	border: 1px solid #cfcfcf;
	margin-right: 15px;
	margin-bottom: 15px;
}
.wid_trader .wrap_trd:nth-child(3n+3) {
	margin-right: 0px;
}
.wid_trader .wrap_trd .ctr {
	width: 200px;
	margin: 35px auto 0 auto;
}
.wid_trader .wrap_trd .ctr a {
	text-decoration: none;
}
.wid_trader .wrap_trd .ctr img {
	vertical-align: middle;
	margin-right: 10px;
}
.wid_trader .wrap_trd .ctr span {
	font-size: 14px;
	font-family: myriad_semi;
	color: #000;
	line-height: 20px;
}
.wid_trader .wrap_trd .ctr a:hover span {
	color: #299925;
}
.wid_trader .img_account {
	position: absolute;
	bottom: -40px;
	left: -280px;
}
.wid_trader .account_detail {
	float: right;
	width: 580px;
	min-height: 470px;
}
.wid_trader .account_detail h3 {
	font-size: 30px;
	font-weight: bold;
	font-family: myriad_semi;
	color: #01160a;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #cdcdcd;
}
.wid_trader .account_detail h3 span {
	color: #178b13;
}
.wid_trader .account_detail h3.norborder {
	float: left;
	border-bottom: 0;
	margin-top: 152px;
}
.wid_trader .account_detail ul {
	margin: 0 0 0 25px;
}
.wid_trader .account_detail ul li {
	font-size: 15px;
	font-style: italic;
	color: #555;
	font-family: myriad_reg;
	list-style-image: url(../images/material/bullet_account.png);
	float: left;
	margin-right:10px;
}
.wid_trader .account_detail .create_account {
	float: right;
	width: 290px;
	background: #dedede;
	padding: 15px;
	margin-top: 20px;
}
.wid_trader .account_detail .create_account .ca_title {
	display: block;
	color: #ecf2f4;
	font-size: 16px;
	padding: 9px 14px;
	font-family: 'myriad_semi';
}
.wid_trader .account_detail .create_account .demo {
	background: url('../images/material/ca_title_demo.jpg') repeat-x 0 0;
}
.wid_trader .account_detail .create_account .live {
	background: url('../images/material/ca_title_live.jpg') repeat-x 0 0;
}
.wid_trader .account_detail .create_account fieldset p {
	margin: 0;
}
.wid_trader .account_detail .create_account fieldset {
	padding: 0 12px;
}
.wid_trader .account_detail .create_account fieldset input[type="text"] {
	width: 250px;
}
.wid_trader .account_detail .create_account fieldset input[type="checkbox"] {
	margin: 0;
	padding: 0;
	margin-right: 4px;
}
.wid_trader .account_detail .create_account fieldset select {
	width: 265px;
}
.wid_trader .account_detail .create_account .agree {
	overflow: hidden;
	font-size: 11px;
}
.wid_trader .account_detail .create_account p::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.wid_trader .account_detail .create_account .agree input[type="checkbox"] {
	float: left;
}
.wid_trader .account_detail .create_account .agree span {
	color: #299925;
}
.wid_trader .account_detail .create_account .verifikasi input[type="text"] {
	float: left;
	width: 125px;
}
.wid_trader .account_detail .create_account .verifikasi .captcha {
	/**float:left;**/
	display: inline-block;
	width: 113px;
	/**background: #f2ffe1;**/
	color: #768575;
	font-size: 15px;
	/**padding: 6px 0;**/
	text-align: center;
	/**border: 1px solid #c8cacb;**/
	float: right;/**margin-right: 10px;**/
}
.wid_trader .account_detail .create_account .submit {
	margin-top: 15px;
}
.wid_trader .account_detail .create_account .submit .btn_submit {
	float: right;
	background: url('../images/material/btn_submit.jpg') repeat-x 0 0;
	border: none;
	height: 31px;
	line-height: 31px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'myriad_reg';
	padding: 0 35px;
}
.wid_trader .account_detail .create_account .submit span {
	color: #fa0000;
	float: left;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	margin: 6px 0 0 0;
}
.wid_trader_small {
	display: none;
	margin-top: 15px;
}
.wid_trader_small ul {
	float: left;
	width: 100%;
	margin: 0;
	list-style: none;
}
.wid_trader_small ul li {
	float: left;
	min-height: 62px;
	width: 310px;
	font-family: myriad_semi;
	font-size: 14px;
	background: url(../images/material/button_long2.jpg) no-repeat;
}
.wid_trader_small ul li a {
	color: #000;
	display: block;
	padding: 8px 0;
	margin: 5px 0 0 20px;
	text-decoration: none;
}
.wid_trader_small ul li ul {
	margin: 10px 0 10px 40px;
	display: none;
}
.wid_trader_small ul li ul li {
	background-image: none;
	font-family: myriad_reg;
	list-style-image: url(../images/material/bullet.png);
	min-height: 20px !important;
	margin: 5px 0;
}
.wid_trader_small ul li ul li a {
	padding: 0;
	margin: 0;
}
.wid_trader_small ul li ul li a:hover {
	color: #077f03;
}
.step_register {
	background: #f3f3f3;
	min-height: 125px;
	margin-top: 40px;
}
.step_register h2, .client_area h2 {
	display: block;
	margin: 20px 0 0 0;
	padding: 0 0 30px 0;
	font-size: 20px;
	color: #000;
}
.client_area h2 {
	margin-top: 0;
}
.step_register ul {
	margin: 0;
}
.step_register li {
	float: left;
	width: 450px;
	margin: 0;
	padding: 0 40px 50px 0;
	list-style: none;
}
.step_register li.last {
	padding-right: 0;
}
.step_register {
}
.step_register p {
	font-size: 14px;
	color: #555;
	margin-bottom: 5px !important;
}
.step_register p.bold {
	font-weight: bold;
	color: #000;
}
.wid_trader .account_detail .button_acc {
	float: left;
	width: 255px;
	height: 158px;
	margin: 30px 15px 0 15px;
	text-align: center;
	line-height: 20px;
	font-size: 20px;
	font-family: myriad_semi;
	background: url(../images/material/bgt_button_account.jpg) no-repeat;
}
.wid_trader .account_detail .button_acc a {
	display: inline-block;
	color: #000;
	text-decoration: none;
}
.wid_trader .account_detail .button_acc a img {
	margin-top: 25px;
	margin-bottom: 15px;
}
.wid_trader .account_detail .button_acc a span, .wid_trader .account_detail .button_acc a:hover {
	color: #299925;
}
.schedul_edu {
	width: 96%;
	border: 1px solid #cfcfcf;
	border-top: 5px solid #0b8207;
	padding: 15px 10px;
	background: url(../images/material/schedul_edu.jpg) repeat-x top left #f2f2f2;
}
.schedul_edu h3 {
	font-family: myriad_semi;
	font-size: 18px;
	margin: 0;
	line-height: 18px;
}
.schedul_edu h3 span {
	color: #078D03;
}
.schedul_edu.seminar h3 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 8px;
}
.schedul_edu.seminar table tr th {
	color: #188c14;
	text-align: left;
}
.schedul_edu.seminar table tr td select {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	width: 60px;
}
.schedul_edu.seminar table tr td {
	vertical-align: top;
	padding: 15px 0;
}
.schedul_edu.seminar table tr {
	border-bottom: 1px solid #ccc;
}
.schedul_edu.seminar table tr:first-child {
}
.schedul_edu.seminar table tr td a {
	color: #000;
}
.schedul_edu.seminar .paging li {
	border-bottom: none;
}
.schedul_edu.seminar .paging {
	margin-left: 0;
}
.schedul_edu ul {
	margin: 0;
}
.schedul_edu ul li {
	list-style-image: none;
	list-style: none;
	line-height: 18px;
	margin-bottom: 4px;
	padding: 12px 0;
	border-bottom: 1px solid #cfcfcf;
}
.schedul_edu ul li:last-child {
	border-bottom: none;
}
.schedul_edu ul li a {
	text-decoration: none;
	color: #000;
}
.schedul_edu ul li span {
	display: block;
	color: #999;
	font-size: 11px;
}
.schedul_edu.seminar select {
	margin: 0;
}
.schedul_edu.seminar {
	color: #000;
}
.video_edu {
	margin-top: 30px;
	background-color:#f7f7f7;
}
.video_edu .container .text_edu {
	float: left;
	width: 440px;
	text-align: right;
	line-height: 18px;
	margin-left: 60px;
	margin-top: 15px;
}
.video_edu .container .text_edu h3 {
	border-bottom: 1px solid #CDCDCD;
	color: #178B13;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.video_edu .container .video {
	background: url(../images/material/shadow_video.jpg) no-repeat bottom center;
	float: right;
}
.artikel_wrap {
	float: left;
	width: 100%;
	margin: 0;
}
.artikel_wrap .container h2 {
	display: block;
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 22px;
	color: #000;
	border-bottom: 5px solid #dedede;
}
.artikel_wrap .container .artikel_list {
	float: left;
	margin: 20px 0 30px 0;
	padding: 0;
}
.artikel_wrap .container .artikel_list li {
	float: left;
	margin: 0 10px;
	padding: 0;
	text-align: center;
	font-size: 18px;
	font-family: myriad_semi;
	width: 220px;
	list-style: none;
}
.artikel_wrap .container .artikel_list li a {
	color: #000;
	display: inline-block;
	text-decoration: none;
	margin-top: 20px;
}
.artikel_wrap .container .artikel_list li a:hover {
	color: #279123;
	text-decoration: none;
}
.artikel_wrap .container .artikel_list li:first-child {
	margin-left: 0;
}
.artikel_wrap .container .artikel_list li:last-child {
	margin-right: 0;
}
.book_wrap {
	background: #f4f2f2;
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: -40px;
	min-height: 292px;
	position: relative;
}
.book_wrap .container {
	min-height: 292px;
}
.book_wrap .container .img_book {
	position: absolute;
	bottom: 0;
	left: 0;
}
.book_wrap .container .text_book {
	float: right;
	width: 385px;
	line-height: 18px;
	margin-top: 55px;
}
.book_wrap .container .text_book h3 {
	border-bottom: 1px solid #CDCDCD;
	color: #178B13;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
/* Breadcrumb
==================================================================================================== */
.breadcrumb {	
	background: #fff !important;
	color: #299925;
	border-radius: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	border-bottom: 1px solid #cdcdcd;
}
.breadcrumb a {
	color: #555;
	text-decoration: none;
}
.linked {
	float: left;
	margin: 0 0 0 5px;
	line-height: 20px;
}
.linked a {
	color: #555;
	text-decoration: none;
}
.linked a:hover {
	color: #249520;
	text-decoration: none;
}
.linked a img {
	margin-right: 5px;
}
.separate {
	float: left;
	width: 100%;
	position: relative;
}
.btn_signUp {	
	position: relative;
	text-align: center;
	font-size: 22px;
	color: #555;
	font-weight: bold;
	margin-top: 30px;
}
.btn_signUp div {
	background: #dedede;
	padding: 7px 4px 3px 4px;
	width: 325px;
	margin: 15px auto 0 auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.demo_btn {
	background: url(../images/material/btn_accound.png) no-repeat bottom left;
	width: 153px;
	height: 40px;
	text-indent: -999px;
	overflow: hidden;
	display: inline-block;
}
.live_btn {
	background: url(../images/material/btn_accound.png) no-repeat bottom right;
	width: 153px;
	height: 40px;
	text-indent: -999px;
	overflow: hidden;
	display: inline-block;
	vertical-align:top;
}
/* Trader width wrapper
==================================================================================================== */
.trader_width_wrap {
	margin-top: 30px;
	position: relative;
}
.trader_width_wrap .container{ margin-top:0; }
.trader_width_wrap .forex {	
	position: relative;
	margin-top: 35px;
}
.trader_width_wrap .col {
	line-height: 18px;
	color: #555;
}
.trader_width_wrap .col a {
	color: #0b8207;
	text-decoration: none;
}
.trader_width_wrap .col h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #cdcdcd;
}
.trader_width_wrap .text{ width:450px; }
.trader_width_wrap > div{ padding-top:40px; padding-bottom:40px; }
.trader_width_wrap > div{ background-color:#eeeef3; }
.trader_width_wrap > div:nth-child(even) .text{ text-align:right; }
.trader_width_wrap > div:nth-child(odd) .text{ float:right; }
.trader_width_wrap .forex-komoditi {
	background-color: #C8E3EC;
	background-image: url(../images/material/trading-01.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size:50% 100%;
}
.trader_width_wrap .komoditi-multilateral{
	background-image: url(../images/material/trading-04.png);
	background-repeat: no-repeat;
	background-position: 90% center;
	background-size:470px;
}
.trader_width_wrap .indeks-futures{
	background-image: url(../images/material/trading-02.png);
	background-repeat: no-repeat;
	background-position: 90% center;
	background-size:470px;
}
.trader_width_wrap .cfd {
	background-color:#DBE2EA;
	background-image: url(../images/material/trading-03.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size:50% 100%;
}

.container .right {
	float: right;
}
.container .left {
	float: left;
}
.bg_grey {
	float: left;
	width: 100%;
	background: #ebebeb;
	position: relative;
	margin-top: 30px;
}
.bg_grey .container {
	position: relative;
	min-height: 367px;
}
.bg_grey .shadow {
	position: absolute;
	left: 50%;
	margin-left: -692px;
}
.bg_grey .img_tablet {
	position: absolute;
	bottom: 0;
	left: -120px;
}
.right.monex {
	width: 435px;
	margin-top: 60px;
}
.texting {
	line-height: 18px;
}
.texting a {
	color: #0b8207;
	text-decoration: none;
	margin-top: 30px;
	display: inline-block;
}
.texting h3 {
	font-size: 22px;
	font-weight: bold;
	color: #178b13;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #cdcdcd;
}
.texting h3 span, .text_book h3 span, .text_edu h3 span {
	color: #555;
}
.mobile_trade {
	float: left;
	width: 100%;
	text-align: center;
	line-height: 18px;
	padding-top: 35px;
}
.mobile_trade .ico_mob {
	margin: 0 10px;
}
.mobile_trade .text_mob {
	width: 440px;
	margin: 20px auto 0 auto;
}
.mobile_trade .text_mob h3 {
	font-size: 22px;
	font-weight: bold;
	color: #178b13;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #cdcdcd;
}
.mobile_trade .text_mob h3 span {
	color: #555;
}
.mobile_trade .text_mob a {
	color: #0b8207;
	text-decoration: none;
	margin-top: 30px;
	display: inline-block;
}
.bg_multi {
	float: left;
	width: 100%;
	min-height: 385px;
	background: #ebebeb;
	line-height: 18px;
	margin-top: 30px;
}
.bg_multi .text_multi {
	width: 440px;
	margin: 0 auto;
	padding: 30px 0;
	text-align: center;
}
.bg_multi .text_multi h3 {
	font-size: 22px;
	font-weight: bold;
	color: #178b13;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #cdcdcd;
}
.bg_multi .text_multi h3 span {
	color: #555;
}
.bg_multi .text_multi a {
	color: #0b8207;
	text-decoration: none;
	margin-top: 30px;
	display: inline-block;
}
.tools_trade {
	float: left;
	width: 100%;
	min-height: 411px;
	position: relative;
}
.tools_trade .container .img_tools {
	position: absolute;
	right: 50px;
 bottom:0:
}
.tools_trade .container .text_tools {
	float: left;
	width: 410px;
	line-height: 18px;
	text-align: right;
	margin-top: 50px;
}
.tools_trade .container .text_tools img {
	float: right;
	margin-left: 20px;
	margin-top: 5px;
}
.tools_trade .container .text_tools p a {
	display: block;
	color: #555;
	text-decoration: none;
	font-weight: bold;
}
.tools_trade .container .text_tools p a:hover {
	color: #269722;
}
.tools_trade .container .text_tools h3 {
	font-size: 22px;
	font-weight: bold;
	color: #555;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #cdcdcd;
}
.faq_wrap {
	min-height: 366px;
	margin-bottom: 10px;
	background: url(../images/material/bg_faq.jpg) no-repeat top left #e2e6ea;
}
.faq_wrap .text_faq {
	float: right;
	width: 410px;
	margin: 0;
	line-height: 18px;
}
.faq_wrap .text_faq h3 {
	font-size: 22px;
	font-weight: bold;
	color: #555;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #cdcdcd;
}
.faq_wrap .text_faq strong {
	display: block;
}
.faq_wrap .text_faq a {
	color: #0b8207;
	text-decoration: none;
	margin-top: 10px; /** 30px; **/
	display: inline-block;
}
.widget_wrap .container .account_wrap {
	display: none;
}
.widget_wrap .container .account_wrap input, .widget_wrap .container .account_wrap select {
	margin-left: 16px;
}
.widget_wrap .container .account_wrap .captcha, .widget_wrap .container .account_wrap .btn_submit {
	margin-right: 4px;
}
.account_wrap {
	float: left;
	width: 290px;
	padding: 15px;
	border: 1px solid #cfcfcf;
	background: #dedede;
	-moz-box-shadow: 0 0 5px #c6c6c6;
	-webkit-box-shadow: 0 0 5px #c6c6c6;
	box-shadow: 0 0 5px #c6c6c6;
}
.account_wrap h3 {
	float: left;
	width: 100%;
	height: 37px;
	color: #fff;
	margin: 0 0 15px 0;
	position: relative;
	line-height: 16.8px;
	font-weight: normal;
	font-size: 18px;
	font-family: myriad_semi;
	text-align: left;
	background-color: #000;
}
.account_wrap h3 span {
	display: block;
	margin: 9px 0 0 15px;
}
.account_wrap h3 img {
	position: absolute;
	right: 8px;
	top: 11px;
}
.account_wrap select {
	border: 1px solid #c8cacb;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	width: 269px;
	color: #999;
	margin-left: 10px;
}
.account_wrap input {
	border: 1px solid #c8cacb;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	width: 255px;
	color: #999;
	margin-left: 10px;
}
.account_wrap.homepage input, .account_wrap.homepage select {
	margin-left: 0px;
}
.account_wrap input.verif {
	width: 140px;
	margin-left: 10px;
	margin-top: 10px;
}
.account_wrap .captcha-container {
	display: inline-block;
	width: 111px;
	/** background:#f2ffe1; **/
	color: #768575;
	font-size: 15px;
	padding: 6px 0;
	text-align: center;
	/** border:1px solid #c8cacb; **/
	float: right;
	margin-right: 10px;
}
.account_wrap p {
	display: block;
}
.account_wrap .btn_submit {
	background-color: #000;
	color: #FFFFFF;
	font-family: myriad_semi;
	font-size: 16px;
	font-weight: normal;
	height: 37px;
	width: 123px;
	float: right;
	cursor: pointer;
	margin-right: 11px;
}
.account_wrap .btn_tab, .account_wrap .btn_tab_mobile {
	float: left;
	width: 111%;
	height: 40px;
	margin-top: 30px;
	margin-left: -16px;
	border-top: 1px solid #fff;
	padding-top: 4px;
	position: relative;
}
.account_wrap .btn_tab .demo_acc, .account_wrap .btn_tab_mobile .demo_acc {
	background: url(../images/material/btn_accound.png) no-repeat bottom left;
	width: 152px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	left: 6px;
	bottom: 0;
}
.account_wrap .btn_tab .live_acc, .account_wrap .btn_tab_mobile .live_acc {
	background: url(../images/material/btn_accound.png) no-repeat bottom right;
	width: 152px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	right: 6px;
	bottom: 0;
}
.account_wrap .btn_tab .demo_acc:hover, .account_wrap .btn_tab .demo_acc.active, .account_wrap .btn_tab_mobile .demo_acc:hover, .account_wrap .btn_tab_mobile .demo_acc.active {
	background: url(../images/material/btn_accound.png) no-repeat top left;
	height: 56px;
}
.account_wrap .btn_tab .live_acc:hover, .account_wrap .btn_tab .live_acc.active, .account_wrap .btn_tab_mobile .live_acc:hover, .account_wrap .btn_tab_mobile .live_acc.active {
	background: url(../images/material/btn_accound.png) no-repeat top right;
	height: 56px;
}
/*Footer
==================================================================================================== */

#footer {
	float: left;
	width: 100%;
	margin: 40px 0 0 0;
	padding: 0;
}
section.disclaimer {
	background: url(../images/material/shadow_footer.jpg) no-repeat top center #ececec;
	float: left;
	width: 100%;
	min-height: 213px;
}
section.disclaimer .container {
	font-size: 11px;
	color: #888;
	line-height: 16px;
	margin-top: 20px;
}
section.disclaimer .container h4 {
	color: #0a8106;
	font-size: 12px;
}
section.disclaimer .container .partner {
	float: left;
	width: 100%;
	text-align: center;
	margin: 15px 0;
	padding-top: 20px;
	border-top: 1px solid #cdcdcd;
}
section.disclaimer .container .partner a {
	display: inline-block;
	margin: 0 10px;
}
section.footer_menu {
	background: #e3e3e3;
	float: left;
	width: 100%;
	min-height: 225px;
	border-bottom: 5px solid #38793b;
}
section.footer_menu .container {
	margin-top: 25px;
}
section.footer_menu .container ul.foot_nav {
	float: left;
	width: 485px;
	margin: 0 0 0 16px;
	padding: 0;
}
section.footer_menu .container ul.foot_nav li {
	list-style-image: url(../images/material/bullet.png);
	float: left;
	width: 160px;
	font-size: 11px;
}
section.footer_menu .container ul.foot_nav li a {
	color: #777;
	text-decoration: none;
}
section.footer_menu .container ul.foot_nav li a:hover {
	color: #249520;
	text-decoration: none;
}
section.footer_menu .container .right_foot {
	float: right;
	width: 375px;
	color: #777;
	font-size: 11px;
	line-height: 16px;
}
section.footer_menu .container .right_foot ol {
	margin: 0 0 0 16px;
}
section.footer_menu .container .foot_log {
	float: right;
	width: 100%;
	font-size: 11px;
	color: #777;
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #cdcdcd;
}
section.footer_menu .container .foot_log img {
	margin: 0 20px;
}
section.footer_menu .container .foot_log a {
	display: block;
	float: left;
}
.clear {
	clear: both;
}
.banner_home .container {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -470px;
	min-height: 444px;
}
.banner_home .container .account_wrap {
	float: right;
	margin-top: 8px;
}
.banner_home .container .btn_signUp {
	width: 335px;
	position: absolute;
	bottom: 25px;
	right: 0;
	display: none;
}
.banner_home .container .btn_signUp div {
	background: #dedede;
	padding: 7px 4px 3px 4px;
	width: 325px;
	margin: 15px auto 0 auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.widget_small {
	display: none;
	float: left;
	width: 100%;
}
.widget_small a {
	float: left;
	width: 310px;
	height: 45px;
	margin-left: 5px;
	margin-bottom: 5px;
	padding-top: 15px;
	color: #000;
	font-size: 14px;
	font-family: myriad_semi;
	text-decoration: none;
	background: url(../images/material/button_long.jpg) no-repeat;
}
.widget_small a img {
	margin: 0 10px 0 15px;
}
.green_font {
	color: #299925;
}
.date {
	color: #999;
	font-size: 11px;
}
.corp_event {
	width: 588px;
	margin-top: 20px;
	border: 1px solid #cfcfcf;
	border-top: 5px solid #0b8207;
	background: url(../images/material/corp_event.jpg) repeat-x bottom center;
}
.corp_event .corp_title {
	display: block;
	margin-top: 10px;
	margin-left: 15px;
	font-family: myriad_semi;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
}
.corp_event .corp_title span {
	color: #078d03;
}
.corp_event ul.list_event {
	margin: 20px 0 0 30px;
	width: 92%;
}
.corp_event ul.list_event li {
	margin: 8px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #cfcfcf;
}
.corp_event ul.list_event li a {
	color: #000;
}
.paging {
	float: left;
	width: 100%;
	margin: 15px 0 20px 25px;
}
.paging ul {
	float: left;
	margin: 0;
}
.paging ul li {
	list-style: none;
	margin: 0;
	float: left;
	line-height: 12px;
	font-size: 11px;
	padding: 0 5px;
	border-right: 1px solid #000;
}
.paging ul li a {
	color: #000;
}
.paging ul li:last-child {
	border: none;
}
.detail_event {
	float: left;
	width: 100%;
	padding: 0 0 5px 0;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #cdcdcd;
}
.detail_event .sosMedia {
	float: right;
	margin-top: 15px;
}
.detail_event .sosMedia img {
	vertical-align: top;
	margin: 0 2px;
}
.detail_event .tit_page {
	float: left;
	width: 70%;
}
.demo_multi {
	margin-top: 20px;
}
.demo_multi .form tr td {
	padding: 5px 5px;
}
.demo_multi .form tr td input {
	margin-bottom: 0;
}
.sptr {
	display: inline-block;
	margin: 0 20px;
}
.other_art {
	float: left;
	width: 100%;
	margin-top: 20px;
	border-top: 1px solid #ccc;
}
.vid_wrp {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.sl_wrp {
	width: auto;
	min-height: 200px;
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
}
.sl_wrp .slide_little {
	margin-top: 27px;
	width:auto !important;
}
.sl_wrp .slide_little ul li {
	margin-right: 10px;
	text-align: center;
	font-family: myriad_semi;
	font-size: 15px;
	color: #000;
	width: 175px;
}
.sl_wrp .slide_little ul li img{ width:100%; height:auto !important; }
.bt_prev2 {
	position: absolute;
	right: -33px;
	top: 25%;
	width: 33px;
	height: 33px;
	z-index: 10;
	background-image: url(../images/material/arr-global.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.bt_next2 {
	position: absolute;
	left: -33px;
	top: 25%;
	width: 33px;
	height: 33px;
	z-index: 10;
	text-indent: -999999px;
	background-image: url(../images/material/arr-global.png);
	background-repeat: no-repeat;
	background-position: right;
}
/* Upadate 18 july
==============================================================*/

#desktop li ul {
	display: none;
}
#desktop li.selected > ul.child01 {
	display: block;
}
ul.child01 {
	left: -25px;
	position: absolute;
	top: 45px;
	width: 270px;
	padding: 20px 0;
	background: #289824;
}
ul.child01 li {
	float: none !important;
	padding: 0px 10px;
	font-size: 11px;
}
ul.child01 li a {
	background-image: none;
	color: #fff !important;
	padding: 5px 5px;
	border-bottom: 1px solid #4aa647;
}
ul.child01 li a:hover {
	background-image: none;
	color: #289824 !important;
}
ul.child01 li.have_child {
	background: url(../images/material/row_down.png) no-repeat top right;
}
ul.child01 li.have_child.open {
	background: url(../images/material/row_up.png) no-repeat top right;
}
ul.child02.opened {
	display: block !important;
	background-color: #08aa03 !important;
	margin: 0;
}
ul.child02.opened li {
	padding-left: 0;
	padding-right: 0;
	border-bottom: 1px solid #39bb35 !important;
}
ul.child02.opened li.last {
	background-image: none;
	border: none;
}
.wid_edu_wrap {
	margin-bottom: 30px;
	display:inline-block;
	width:100%;
}
.wid_edu_wrap .edu_wid {
	float: left;
	height: 120px;
	width: 180px;
	margin-right: 6px;
	text-align: center;
	background-image: url(../images/material/bg-widget.png);
	background-repeat: repeat-x;
	border: 1px solid #cfcfcf;
}
.wid_edu_wrap .edu_wid:last-child {
	margin-right: 0;
}
.wid_edu_wrap .edu_wid:last-child a {
	
}
.wid_edu_wrap .edu_wid a img{ vertical-align:middle; margin-right:5px; float:left; }
.wid_edu_wrap .edu_wid a {
	font-size: 12px;
	font-family: myriad_semi;
	color: #000;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	margin-top: 37px;
	width: 165px;
	height:46px;
	background-image:none !important;
}
.wid_edu_wrap .edu_wid a span{ display:table-cell; margin-left:40px; text-align:left; vertical-align: middle; height: 40px; }
.wid_edu_wrap .edu_wid .edu_seminar {
	background: url(../images/material/edu_seminar.jpg) no-repeat center left;
}
.wid_edu_wrap .edu_wid .edu_learning {
	background: url(../images/material/edu_learning.jpg) no-repeat center left;
}
.wid_edu_wrap .edu_wid .edu_platform {
	background: url(../images/material/edu_platform.jpg) no-repeat center left;
}
.wid_edu_wrap .edu_wid .edu_ebook {
	background: url(../images/material/edu_ebook.jpg) no-repeat center left;
}
.info_priv {
	width: 485px;
	margin: 0 auto;
}
.info_priv p {
	margin: 8px 0;
	font-size: 14px;
	font-family: myriad_reg;
}
.info_priv span {
	display: inline-block;
	width: 120px;/**width:100px;**/
}
.info_priv span.t_area {
	vertical-align: top;
}
.info_priv input {
	margin-bottom: 0 !important;
}
.info_priv input[type="radio"] {
	margin: 0 !important;
}
.info_priv input.t_ipt {
	width: 330px;/**width:357px;**/
}
.info_priv textarea {
	width: 330px;/**width:357px;**/
}
.info_priv .btn_back, .info_priv .btn_sbt {
	background-color: #000;
	color: #FFFFFF;
	cursor: pointer;
	font-family: myriad_reg;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: normal;
	margin-right: 11px;
	width: 123px;
	display: inline-block;
	text-align: center;
	padding: 5px 0;
}
.info_priv .btn_back:hover, .info_priv .btn_sbt:hover {
	text-decoration: none;
}
.jump_page {
	float: left;
	width: 100%;
	border-top: 1px solid #cdcdcd;
	padding: 7px 0;
}
.jump_page .prev_art {
	float: left;
}
.jump_page .next_art {
	float: right;
}
#other_menu {
	float: left;
	margin-top: 15px;
	width: 100%;
	padding: 3px 0;
	cursor: pointer;
	font-family: myriad_semi;
	font-size: 16px;
	text-align: center;
	position: relative;
	border-right: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-bottom: 3px solid #249620;
	background: url(../images/material/bg_menu_other.jpg) repeat-x top center;
	text-transform: uppercase;
}
.list_menu {
	display: none;
	background: url(../images/material/bg_list.jpg) repeat-x top center #279823;
	float: left;
	width: 97%;
	margin-left: 10px;
}
.openList {
	display: block;
}
.list_menu ul {
	list-style-image: none;
	list-style: none;
	padding: 0 10px;
	margin: 10px 0 0 0;
	width: 550px;
}
.list_menu ul li {
	font-family: myriad_semi;
	font-size: 12px;
	width: 100%;
	padding: 0;
	padding: 0;
	border-bottom: 1px solid #4aac45;
	text-transform: uppercase;
}
.list_menu ul li.parent {
	background: url(../images/material/row_up.png) no-repeat top right;
}
.list_menu ul li.arr_down {
	background: url(../images/material/row_down.png) no-repeat top right;
}
.list_menu ul li a {
	color: #fff;
	padding: 3px 10px 5px 10px;
	display: block;
}
.list_menu ul li a:hover {
	text-decoration: none;
	color: #1a8d15;
	background: #fff;
}
.list_menu ul li ul {
	margin: 0 0 0 -10px;
	padding: 0 15px;
	width: 541px;
	background: #08aa03;
	display: none;
}
.list_menu ul li ul.opened {
	display: block;
}
.list_menu ul li ul li {
	border-bottom: 1px solid #39bb35;
}
.list_menu ul li ul li:last-child {
	border: none;
}
.trade_menu {
	float: left;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px 0;
	background: #f7f7f7;
	border: 1px solid #dedede;
}
.trade_menu .alfabeth {
	list-style: none;
	margin: 5px 0 0 10px;
	float: left;
}
.trade_menu .alfabeth li {
	float: left;
	font-size: 11px;
	margin: 0 3px;
	text-transform: uppercase;
}
.trade_menu .alfabeth li a {
	color: #666;
}
.trade_menu .s_trade {
	float: right;
	width: 33%;
	margin-right: 10px;
}
.trade_menu .s_trade .btn_s {
	background: url(../images/material/btn_search.jpg) no-repeat;
	width: 24px;
	height: 26px;
	border: none;
	cursor: pointer;
	float: right;
	margin-top: 0px;
	margin-left: 5px;
}
.trade_menu .s_trade input {
	color: #999;
	font-size: 11px;
	width: 150px;
	margin: 0;
}
.trad_page {
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.trad_page a {
	margin: 0 2px;
}
.sorter_list {
	float: left;
	width: 100%;
	-moz-column-count: 2; /* Firefox */
	-webkit-column-count: 2; /* Safari and Chrome */
	column-count: 2;
	list-style: none !important;
	margin: 0;
}
.sorter_list li a {
	color: #555;
}
.sorter_list li a:hover {
	color: #269722;
}
.btn_option {
	margin-top: 20px;
	border-top: 1px solid #cdcdcd;
}
.btn_option p {
	float: left;
	width: 195px;
}
.btn_option p a {
	color: #555;
}
.btn_option p a:hover {
	text-decoration: none;
	color: #0d8409;
}
/* add css tab forex home 
-----------------------------------*/
ul#myTab {
	width: 100%;
	margin: 0;
	border-bottom: 0px solid #1c1c1c;
	z-index: 150;
	position: relative;
}
ul#myTab li {
	list-style-type: none;
	background: url('../images/material/tab_a.png') repeat-x 0 0;
	line-height: 40px;
	text-align: center;
	width: 25%;
}
ul#myTab li > a {
	color: #999;
	text-decoration: none;
	border: none;
	padding: 0;
	display: block;
	line-height: 40px;
	margin: 0;
	position: relative;
}
ul#myTab li.active > a {
	background: transparent;
	color: #fff;
	background: url('../images/material/tab_active.png') repeat-x 0 0;
}
ul#myTab li.active > a:after {
	content: url(../images/material/tab_arrow_active.png);
	position: absolute;
	width: 16px;
	margin-right: auto;
	margin-left: auto;
	left: 0px;
	right: 0px;
}
ul#myTab li > a span {
	display: block;
	height: 40px;
	line-height: 40px;
	border-right: 1px solid #626262;
	padding: 0 18px;
}
ul#myTab li.active > a span {
	border-right: 1px solid #338f30;
}
#myTabContent {
	background: #f5f5f5 url('../images/material/myTab_content.jpg') repeat-x 0 0;
	border: 1px solid #cfcfcf;
	border-bottom: 0px solid #cfcfcf;
	margin: -11px 0 0 0;
	padding: 13px 0 0 0;
}
#myTabContent .tab-pane {
	width: 100%;
}
table.tsaham {
	text-align: left;
	color: #000;
	font-size: 11px;
}
table.tsaham th {
	background: url('../images/material/tsaham_th.jpg') repeat-x 0 0;
	padding: 10px 8px;
	font-weight: normal;
}
table.tsaham td {
	background: url('../images/material/tsaham_td.jpg') repeat-x 0 0;
	padding: 10px 8px;
	border-bottom: 1px solid #cfcfcf;
    height: 12px;
}
table.tsaham tr.blue td {
	color: #0054ff;
}
table.tsaham tr.red td {
	color: #ff0000;
}
table.tsaham tr td.up {
	color: #0054ff;
}
table.tsaham tr td.down {
	color: #ff0000;
}
/* update 05 september 2013 
---------------------------------------------------------------------------- */
.sosmed_ebook {
	float: right;
	position: absolute;
	top: 55px;
	right: 0;
	z-index: 1;
}
ul.ebook_list {
}
ul.ebook_list:before, ul.ebook_list:after {
	display: table;
	content: "";
}
ul.ebook_list:after {
	clear: both;
}
ul.ebook_list li {
	width: 188px;
	float: left;
}
.sl_wrp .slide_little {
	overflow: hidden;
}
.sl_wrp2 {
}
.sl_wrp .slide_little2 {
	margin-top: 27px;
	overflow: hidden;
	width:auto !important;
}
.sl_wrp .slide_little2 ul li {
	margin-right: 1px;
	text-align: center;
	font-family: myriad_semi;
	font-size: 15px;
	color: #000;
	margin-left: 0px;
	margin-right: 10px;
	border: 1px solid #cfcfcf;
	width:126px;
}
.sl_wrp .slide_little2 ul li a {
	display: block;
}
.eprev {
	background-image: url(../images/material/arr-global.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.enext {
	position: absolute;
	width: 35px;
	z-index: 10;
	text-indent: -999999px;
	background-image: url(../images/material/arr-global.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.sl_wrp .slide_little2 .popover {
	max-width: 206px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.sl_wrp .slide_little2 .popover.bottom {
	margin-top: -0px;
}
.sl_wrp .slide_little2 .popover.top {
	margin-bottom: -0px;
}
.sl_wrp .slide_little2 .popover.left {
	margin-left: 10px;
}
.sl_wrp .slide_little2 .popover.right {
	margin-left: -5px;
}
.sl_wrp .slide_little2 .popover-title {
	padding: 8px 8x;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	background-color: #fff;
	border-bottom: 0px solid #ebebeb;
	-webkit-border-radius: 0px 0px 0 0;
	-moz-border-radius: 0px 0px 0 0;
	border-radius: 0px 0px 0 0;
}
.sl_wrp .slide_little2 .popover-content {
	font-size: 10px;
	color: #555;
	padding-top: 0;
}
.ebook_wrap {
	float: left;
	width: 100%;
	margin: 20px 0 0 0;
	padding: 25px 0;
	border-top: 1px solid #ccc;
}
.ebook_wrap .img {
	float: left;
	margin: 0 0 15px 10px;
}
.ebook_wrap .descrip {
	float: left;
	width: 345px;
	margin: 0 10px 0 10px;
}
.ebook_wrap h2.title_page {
	border: none;
	padding-bottom: 10px;
}
.ebook_wrap .btn_ebook {
	display: block;
	padding: 15px 0 0 0;
}
.ebook_wrap .btn_ebook:before, .ebook_wrap .btn_ebook:after {
	display: table;
	content: "";
}
.ebook_wrap .btn_ebook:after {
	clear: both;
}
.ebook_wrap .btn_ebook a.demo {
	background: url('../images/material/ebook_demo.jpg') repeat-x 0 0;
	width: 80px;
	margin: 0 20px 0 49px;
}
.ebook_wrap .btn_ebook .full {
	background: url('../images/material/ebook_full.jpg') repeat-x 0 0;
	width: 116px;
	cursor: pointer;
}
.ebook_wrap .btn_ebook a.demo, .ebook_wrap .btn_ebook .full {
	height: 40px;
	line-height: 40px;
	float: left;
	color: #fff;
	text-align: center;
	font-size: 14px;
}
.ebook_wrap .btn_ebook a.demo:hover, .ebook_wrap .btn_ebook .full:hover {
	text-decoration: none;
	color: #e7e7e7;
}
#form_ebook {
	width: 100%;
	margin: 0 0 25px 0; /** margin:-35px 0 25px 0; **/
	padding-left: 0;
	padding-right: 0;
	position: relative;
}
#form_ebook fieldset {
	width: 290px;
	margin: 0 auto;
}
#form_ebook .eprivacy {
	margin-left: 12px;
	font-size: 11px;
}
#form_ebook .eprivacy input[type="checkbox"] {
	float: left;
	margin: 0 10px 0 0;
	border: 0;
	padding: 0;
}
#form_ebook .eprivacy p {
	margin: 1px 0;
}
.arrow_ebook {
	width: 22px;
	height: 17px;
	background: url('../images/material/arrow_ebook.png') no-repeat 0 0;
	float: left;
	position: absolute;
	top: -17px;
	right: 175px;
}
h3.greeny {
	color: #555 !important;
}
h3.greeny span {
	color: #178b13 !important;
}
.wid_trader .account_detail .create_account .agree span a {
	color: #299925;
	text-decoration: none;
}
.create-account-box, .mobile-create-account-box {
	display : none !important
}
.create-account-box.active, .mobile-create-account-box.active {
	display : block !important;
}
section.slider {/*margin-top:150px;*/
}
ul.slides {
	z-index: -1!important;
}
.is-validate .error, .contact-validate .error, #frm-ebook-download .error, #frm-register-seminar .error {
	border-color : #FC0A14 !important;
	border-width : 1px !important;
}
#bpopup-media {
	background-color: #fff;
	border-radius: 3px;
	border-width: 1px;
	border-color: #eee;
	border-style: solid;
	padding: 15px;
	width: 420px;
	position: absolute;
	top: -3000px;
	opacity: 0;
}
span.error {
	color: #F00;
}
@media (max-width: 1024px) {
.account_wrap.homepage select#live-Info,  .account_wrap.homepage select#demo-Info {
	height: auto;
}
}
 @media (max-width: 900px) {
section.slider {
	margin-top: 0 !important;
}
}
#popup_container h1 {
	font-size: 25px;
	margin: 0;
}
#popup_content {
	background-color: #fff;
	border: none;
	color: #555;
}
.wid_trader .account_detail .create_account .verifikasi img {
	margin-bottom: 10px;
}
.account_wrap .agree {
	overflow: hidden;
	font-size: 11px;
	width: 267px;
	text-align: left;
	margin: auto;
}
.account_wrap.account_detail .create_account .agree input[type="checkbox"] {
	float: left;
}
.account_wrap .agree span {
	color: #299925;
}
.account_wrap input[type="checkbox"] {
	margin: 0;
	padding: 0;
	margin-right: 4px;
}
.account_wrap .agree span a {
	color: #299925;
	text-decoration: none;
}
.create-account-box .agree {
	overflow: hidden;
	font-size: 11px;
	width: 267px;
	text-align: left;
	margin: auto;
}
.create-account-box.account_detail .create_account .agree input[type="checkbox"] {
	float: left;
}
.create-account-box .agree span {
	color: #299925;
}
.create-account-box input[type="checkbox"] {
	margin: 0;
	padding: 0;
	margin-right: 4px;
}
.create-account-box .agree span a {
	color: #299925;
	text-decoration: none;
}
/* add new css 11 dec 2013*/
.partner_box01 {
	background: url('../images/material/partnership_shadow.png') no-repeat center bottom;
	padding: 35px 0 30px 0;
}
.partner_box01 .left, .partner_box02 .left {
	float: left;
	width: 215px;
}
.partner_box01 .right, .partner_box02 .right {
	float: right;
	width: 358px;
}
.partner_box01 .getStar {
	padding-top: 15px;
}
.partner_box01 .getStar a {
	float: right;
	width: 128px;
	height: 23px;
	background: url('../images/material/partnership_getStar.png') no-repeat 0 0;
	text-indent: -999999px;
}
.partner_box01 .left p {
	margin: 0;
}
.partner_box02 {
	padding-top: 25px;
	position: relative;
}
.partner_box02 .left {
	width: 355px;
}
.partner_box02 .right {
	width: 228px;
}
.partner_box01 ul, .partner_box02 ul, .partner_box03 ul {
	list-style: none;
	margin: 0;
}
.partner_box01 ul li, .partner_box02 ul li, .partner_box03 ul li {
	padding: 0 0 5px 25px;
	background: url('../images/material/bullet_account.png') no-repeat 0 2px;
}
.partner_box02 .gbr {
	height: 214px;
}
.partner_box02 .gbr img {
	position: absolute;
	right: 0;
	bottom: 0;
}
.partner_box03 {
	border-top: 1px solid #ccc;
	padding-top: 15px;
	margin-top: 25px;
	padding-bottom: 35px;
}
.partner_box03 ul li {
	margin-right: 15px;
}
.form_partner {
	position: relative;
	padding-bottom: 55px;
}
.form_partner .form {
	width: 300px !important;
}
.form_partner .limited_order {
	width: 130px;
	height: 84px;
	background: url('../images/material/partnership_limited.png') no-repeat 0 0;
	text-indent: -999999px;
	position: absolute;
	right: 15px;
	bottom: 20px;
}
/* add css 20 Desember 2013 */
.description_artikel a {
	text-decoration: none !important;
	color: #299925 !important
}
.description_artikel a span {
	color: #299925 !important;
}
.description_artikel a:hover {
	text-decoration: underline;
}
.right_header .sosMedia .language .lang3 {
	position: absolute;
	top: 30px;
	width: 102px;
	min-height: 25px;
	z-index: 50;
}
/* end css 20 desember 2013  */ 
/* ======================================= */

/* add css 20 May 2014 */
/* accounts
------------------------------------*/
.step_pic {
	position: relative;
	z-index: 1;
}
.step_pic span {
	display: block;
}
.step_pic span img {
	width: 100%;
}
.step_info {
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
	margin-top: -2px;
	margin-bottom: 40px;
	padding: 20px 30px 20px 40px;
	position: relative;
}
.step_info .btn1 {
	font-weight: bold;
	width: 140px;
}
.step_ul {
	font-size: 16px;
	margin: 0;
}
.step_ul li {
	float: left;
	list-style: none;
	width: 430px;
}
.step_name {
	margin-left: 0;
	min-height: 31px;
	position: relative;
	margin-top: -75px;
}
.step_name li {
	box-sizing: border-box;
	color: #a5a5a5;
	float: left;
	font-family: 'myriad_reg';
	font-size: 16px;
	font-weight: bold;
	list-style: none;
	text-align: center;
}
.step_name .active {
	color: #3bb036;
}
.step_name li.step_sub {
	margin-right: 3%;
	padding: 0 40px;
	width: 21%;
}
.step_name li.step_reg {
	padding: 0 65px;
	width: 26.5%;
}
.step_name li.step_user {
	margin-right: 4%;
	padding: 0 58px;
	width: 26.5%;
}
.step_name li.step_acc {
	padding: 0 40px;
	width: 19%;
}
.title_1 {
	font-size: 22px;
	font-weight: bold;
}
.img-rb {
	bottom: -35px;
	position: absolute;
	right: 0px;
}
.faq {
	background: #efefef;
}
.faq .title_1 {
	padding-top: 30px;
}
.prob_sol {
	position: relative;
}
.prob_sol .list {
	display: table;
	margin: 10px 0 30px;
}
.prob_sol .ps {
	float: left;
	width: 460px;
}
.prob_sol .ps img {
	margin-right: 5px;
}
.prob_sol .psno {
	float: left;
	width: 5%;
}
.prob_sol .psc {
	float: left;
	padding-right: 10px;
	width: 90%;
}
.profit {
	background: url(../images/content/account_img.jpg) no-repeat bottom right;
	background-size: 50%;
}
.check {
	margin: 0px;
}
.check li {
	background: url(../images/material/check.png) no-repeat left top;
	list-style: none;
	margin-bottom: 5px;
	padding-left: 20px;
}
.btn1 {
	background-color: #E4E4E4;
	background-image: linear-gradient(to bottom, #F6F6F6, #E4E4E4);
	background-repeat: repeat-x;
	border: 1px solid #CFCFCF;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
	color: #555555;
	display: table;
	margin-right: 20px;
	padding: 10px;
	text-decoration: none;
}
.green_font {
	text-decoration: none;
}
.mobile-accountbutton{ display:none; }
/* end css 20 may 2014 */
/*=================================*/


/*update 20 agustus 2014*/
.border-bottom-acc:after {
	border-left: 10px solid rgba(255,255,255,0);
	border-right: 10px solid rgba(255,255,255,0);
	border-top: 10px solid #168a11;
	bottom: 1px;
	content: "";
	height: 0;
	position: relative;
	width: 0;
}
.acc-title {
	border-bottom: 4px solid #168a11;
	font-family: "Myriad Pro";
	font-size: 33px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.acc-title .text-italic {
	font-family: 'MyriadWebProItalic';
}
.color-green {
	color: #168a11;
}
.acc-list-box {
	margin-top: 20px;
	margin-left: 20px;
	width: 102%;
}
.acc-list-box li {
	border-bottom: 2px solid #a1a1a1;
	box-sizing: border-box;
	display: inline-block;
	float: left;
	height: 183px;
	margin: 0 10px 40px !important;
	text-align: center;
	width: 220px;
}
.acc-list-box .alb-title {
	color: #1d8f19;
	font-family: "Myriad Pro";
	font-size: 16px;
	margin-bottom: 5px;
}
.acc-list-box p {
	color: #58595b;
	font-family: "Myriad Pro";
}
.acc-list-box li img {
	display: block;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.parent-button-new { margin:0; }
.parent-button-new li {
	display: block;
}
.button_acc-new {
	border: 1px solid #CFCFCF;
	box-sizing: border-box;
	display: inline-block;
	min-height: 130px;
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 100%;
	background: linear-gradient(to bottom, #E4E4E4 0%, #F6F6F6 100%) repeat scroll 0% 0% transparent;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
	text-decoration: none;
	padding: 30px 10px;
}
.button_acc-new:hover {
	box-shadow: 0 0 7px rgba(0,0,0,.3);
}
.inside-ban {
	display: block;
	margin: auto;
	width: 100%;
}
.button_acc-new img {
	box-sizing: border-box;
	display: inline-block;
	float: left;
	margin-right: 15px;
	width: 20%;
}
.row-mte .button_acc-new img {
	margin-top: 15px;
}
.button_acc-new .ban-content {
	box-sizing: border-box;
	color: #010101;
	display: inline-block;
	font-family: 'myriad_semi';
	font-size: 20px;
	padding-top: 20px;
	font-style: normal !important;
}
.button_acc-new .ban-content > span {
	color: #299925;
}
.acc-list-box li.two {
	height: 225px !important;
}
/* end update 20 agustus 2014*/

/* add new 12 agustus 2014
================================================================ */
.mte_access {
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #cdcdcd;
}
.mte_access .img {
	float: left;
	width: 205px;
	margin-right: 25px;
}
.mte_access .img img {
	width: 205px;
}
.mte_access .descripEdu {
	float: left;
	width: 345px;
	padding-top: 35px;
}
.mte_access h2.title_page, .mte_video h2.title_page {
	border-bottom: 0;
	padding-bottom: 0;
	font-size: 22px;
	line-height: 22px;
}
.mte_video h2.title_page {
	padding-bottom: 25px !important;
}
.mte_access .regToAcc {
	padding-bottom: 10px;
}
.mte_access .regToAcc a {
	background: url('../images/material/ebook_demo.jpg') repeat-x 0 0;
	width: 124px;
	height: 40px;
	display: block;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
}
.mte_access .regToAcc a:hover {
}
.mte_access .descripEdu form {
}
.mte_access .descripEdu form input[type="text"] {
	float: left;
	padding: 6px;
	width: 245px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.mte_access .descripEdu form input[type="submit"] {
	float: left;
	padding: 0px;
	background: url('../images/material/ebook_demo.jpg') repeat-x 0 0;
	width: 70px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	border: none;
	margin-left: 15px;
}
.mte_video {
}
.mte_video ul {
	list-style-image: none;
	list-style: none;
	margin-left: 0;
}
.mte_video .sample_vid {
	margin-top: 10px;
	margin-bottom: 30px;
}
.mte_video .list_vid {
	padding-top: 25px;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-bottom: 25px;
	border-bottom: 1px solid #cdcdcd;
	border-top: 1px solid #cdcdcd;
}
.mte_video .list_vid h2.title_page {
	color: #555;
	padding-bottom: 15px;
}
.mte_video .list_vid li {
	padding: 0 0 5px 25px;
	background: url('../images/material/bullet_account.png') no-repeat 0 2px;
	font-style: italic;
}
.mte_video .other_vid {
	padding: 15px 0;
}
.mte_video .other_vid h2.title_page {
	float: left;
	color: #555;
	width: auto;
	padding-top: 6px;
}
.mte_video .other_vid a.reg_acc {
	float: right;
	color: #fff;
	width: 122px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: url('../images/material/ebook_demo.jpg') repeat-x 0 0;
	font-size: 16px;
	text-decoration: none;
}
/* end new 12 agustus 2014*/

/* add new 17 september 2014
================================================================ */
.title22 {
	font-size: 22px;
	font-family: 'open_sanslight';
	line-height: 28px;
}
.stitle11 {
	font-size: 11px;
	color: #269722;
	line-height: 13px;
}
.title22, .stitle1 {
	margin-bottom: 5px;
}
.benefit_box {
	padding-top: 25px;
}
.benefit_box h4 {
	color: #259621;
	padding-bottom: 10px;
}
.benefit_box ol {
	margin-left: 30px;
}
.benefit_box li {
	font-size: 22px;
	padding-bottom: 25px;
}
.benefit_box li div.bgbox {
	display: block;
	font-size: 14px;
	color: #555;
	padding: 6px 6px 6px 25px;
	margin-bottom: 15px;
	background: #e6e6e6;
}
.benefit_box li div.bgbox span {
	color: #23941f;
}
.benefit_box ol ul {
	margin-left: 0;
}
.benefit_box li li {
	list-style: none;
	font-size: 12px;
	padding: 0 0 5px 25px;
	background: url('../images/material/bullet_account.png') no-repeat 0 2px;
}
.form_contact {
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}
.form_contact .form span {
	color: #008c01;
	font-size: 18px;
}
.benefit_box .partner_box03 {
	border: none !important;
	margin-top: 0px !important;
}
/* end new 17 september 2014


/* 26 september 2014 */
/*tambahan debfry */
.wid_trader .account_detail.edited {
	width: 100%;
	position: relative;
}
.wid_trader .account_detail .caption {
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	top: 0px;
	bottom: 0px;
	height: 360px;
}
.wid_trader .account_detail .caption h3 {
	float: none;
	margin-top: 80px;
	font-size: 21px;
	line-height: 25px;
	margin-bottom: 0px;
}
.wid_trader .account_detail .create_account .ipad-camp {
	position: absolute;
	left: -240px;
	z-index: -1;
	top: 106px;
}
.wid_trader .account_detail.edited {
	width: 100%;
}
.drop-ipad {
	display: block;
}
.drop-ipad ul {
	list-style-image: url(../images/material/bullet.png);
}
.drop-ipad .note {
	font-style: italic;
	color: #999;
}
.drop-ipad a {
	font-weight: bold;
	color: #000;
	text-decoration: underline;
}
.wid_trader .account_detail .create_account {
	position: relative;
}
/*---------------*/
/* end 26 september 2014 */

/*
 * add 29 Oktober 2014
 */
input.button-submit {
	height: 37px;
	background: url("../images/material/bg_green.jpg") repeat-x scroll 0 0 transparent;
	color: #FFFFFF;
	cursor: pointer;
	float: right;
	font-family: myriad_semi;
	font-size: 15px;
	font-weight: normal;
	border: none;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 15px
}
.wrap_popup .btn_close {
	position: absolute;
	right: 0px;
	top: 0px;
}
.wrap_popup .data-table {
	position: absolute;
	top: 30%;
	color: #ffffff;
	width: 80%;
	background-color: #278e01;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.wrap_popup .data-table td {
	padding-left: 5px;
	padding-right: 5px;
}
.wrap_popup .data-table td {
	font-size: 13px;
}
.wrap_popup .data-table td span {
	display: block;
	font-size: 12px;
}
/* end 29 oktober */
/* tambahan 18-11-2014
============================================================*/
#form_trading {
	background-color: #dedede;
	text-align: center;
	padding: 0px 30px 30px 30px;
	border: 1px solid #cfcfcf;
}
#form_trading input[type=text] {
	width: 250px;
	color: #999;
}
#form_trading select {
	width: 265px;
	color: #999;
}
#form_trading label {
	font-size: 11px;
}
#form_trading .captcha-text {
	width: 123px !important;
	margin-top: 9px;
}
#form_trading h5 {
	margin-bottom: 20px;
}
#form_trading .btn_submit {
	background: url("../images/material/bg_green.jpg") repeat-x scroll 0 0 transparent;
	color: #FFFFFF;
	font-family: myriad_semi;
	font-size: 16px;
	font-weight: normal;
	height: 37px;
	width: 123px;
	cursor: pointer;
	margin-right: 11px;
	border: 0;
}
.text_education {
	font-family: "open_sanslight" !important;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 30px;
}
.text_education strong {
	font-family: 'myriad_semi';
}
.text_education .green_font {
	font-family: 'myriad_semi';
}
.btn-green {
	font-size: 12px;
	color: #fff !important;
	background-image: url(../images/material/bg-btn.jpg);
	background-repeat: repeat-x;
	display: inline-block;
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 3px;
	padding-left: 15px;
	background-color: #098105;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #047200;
}
.btn-green:after {
	content: url(../images/material/arr-white.png);
	margin-left: 5px;
}
.list_video {
	padding: 0px;
	list-style-type: none;
	list-style-image: none !important;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.list_video:after {
	content: ' ';
	clear: both;
	display: block;
}
.list_video li {
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	width: 175px;
}
.list_video li img{ width:100%; height:auto !important; }
.list_video li span {
	display: block;
}
.list_video li a {
	font-size: 15px;
	text-align: center;
	color: #000;
	font-family: "myriad_semi";
	text-decoration: none;
}
.paging.withBorder {
	margin: 0px;
	float: none;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #dedede;
	border-bottom-color: #dedede;
	padding-top: 20px;
	padding-bottom: 20px;
}
.paging.withBorder ul {
	float: none;
	text-align: center;
}
.paging.withBorder ul li {
	float: none;
	display: inline-block;
}
/* end 18-11-2014 */
/*tambahan 05-12-2014 
=================================================*/
.mte_access h3 {
	line-height: 29px;
	color: #299826;
}
.mte_access .btn-green {
	font-size: 16px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.mte_access .btn-green:after {
	content: '';
}
/* end 05-12-2014 */

/* add new css disble menu mobile backdrop
=========================================================== */
ul#mobile .dropdown-backdrop, #frm-wrapper {
	
}
/* add WEBARQ (02 March 2015) */
.bt_prev3 {
	position: absolute;
	right: -33px;
	top: -34px;
	width: 33px;
	height: 196px;
	z-index: 10;
	background-image: url(../images/material/arr-global.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.bt_next3 {
	position: absolute;
	left: -33px;
	top: -34px;
	width: 33px;
	height: 196px;
	z-index: 10;
	text-indent: -999999px;
	background-image: url(../images/material/arr-global.png);
	background-repeat: no-repeat;
	background-position: right;
}
.fancybox-wrap.fancybox-type-iframe {
	padding: 20px 20px 68px 20px;
	background: #FFFFFF;
}
.sl_wrp {
	margin-top: 16px;
}
.list_video li {
	text-align: center;
}
