.trader_width_wrap .container .forex-komoditi{
  width:460px;
  position:relative;
  margin-top:35px;
}

.trader_width_wrap .container .indeks-futures{
  width:445px;
  position:relative;
  margin-top:155px;
  text-align:right;
}
.trader_width_wrap .container .cfd{
  width:445px;
  position:relative;
  margin-top:140px;
}
.trader_width_wrap .container .komiditi-multilateral{
  width:445px;
  position:relative;
  margin-top:115px;
  text-align:right;
}


/* style monex mt4*/
.monex-mt4 {
  background:#ebebeb url(../images/material/shadow_grey.jpg) no-repeat;
  position:relative;
  margin-top:30px;
}

.monex-mt4 .container{
  position:relative;
  min-height:367px;
}
.monex-mt4 .shadow{
  position:absolute;
  left:50%;
  margin-left:-692px;
}
.monex-mt4 .img_tablet{
  position:absolute;
  bottom:0;
  left:-120px;
}


/* style monex mobile trader */
.monex-mobile-trader{
  
  text-align:center;
  line-height:18px;
  padding-top:35px;
}
.monex-mobile-trader .ico_mob{
  margin:0 10px;
}
.monex-mobile-trader .texting{
  width:440px;
  margin:20px auto 0 auto;
}
.monex-mobile-trader .text_mob h3{
  font-size:22px;
  font-weight:bold;
  color:#178b13;
  padding-bottom:10px;
  margin-bottom:20px;
  border-bottom:1px solid #cdcdcd;
}
.monex-mobile-trader .text_mob h3 span{
  color:#555;
}
.monex-mobile-trader .text_mob a{
  color:#0b8207;
  text-decoration:none;
  margin-top:30px;
  display:inline-block;
}

/* style monex multi terminal */
.monex-multi-terminal {
  
  min-height:385px;
  background:#ebebeb;
  line-height:18px;
  margin-top:30px;
}
.monex-multi-terminal div{
  width:440px;
  margin:0 auto;
  padding:30px 0;
  text-align:center;
}
.monex-multi-terminal div h3{
  font-size:22px;
  font-weight:bold;
  color:#178b13;
  padding-bottom:10px;
  margin-bottom:20px;
  border-bottom:1px solid #cdcdcd;
}
.monex-multi-terminal div h3 span{
  color:#555;
}
.monex-multi-terminal div a{
  color:#0b8207;
  text-decoration:none;
  margin-top:30px;
  display:inline-block;
}


/* Webmaster Tools*/
.webmaster-tools{
  
  min-height:411px;
  position:relative;
}
.webmaster-tools .container .img_tablet{
  position:absolute;
  right:50px;
  bottom:0px;
}
.webmaster-tools .container .texting{
  float:left;
  width:410px;
  line-height:18px;
  text-align:right;
  margin-top:50px;
}
.webmaster-tools .container .texting img{
  float:right;
  margin-left:20px;
  margin-top:5px;
}
.webmaster-tools .container .texting p a{
  display:block;
  color:#555;
  text-decoration:none;
  font-weight:bold;
}
.webmaster-tools .container .texting p a:hover{
  color:#269722;
}
.webmaster-tools .container .texting h3{
  font-size:22px;
  font-weight:bold;
  color:#555;
  padding-bottom:10px;
  margin-bottom:20px;
  border-bottom:1px solid #cdcdcd;
}
.webmaster-tools .container .texting p {
  margin: 0;
}