@charset "utf-8";
/* CSS Document */
 @media screen and (min-width:481px) and (max-width:900px) {
/* Tablet styles */
.container {
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
}
.gr {
	float: none;
	width: auto;
}
ul#mobile.nav {
	display: none;
}
#desktop li ul {
	display: none !important;
}
.navbar .btn-navbar {
	display: block;
}
.nav-collapse.collapse {
	display: none;
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
}
ul.nav {
	background-color: #077f03;
}
ul.nav li {
	float: none;
}
ul.nav li a {
	color: #fff;
}
ul.nav li a:hover, ul.nav li.selected, ul.nav li a.active {
	color: #010101;
}
ul.nav li a.active img {
	display: none;
}
.banner_home .container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: inherit;
	width: 320px;
	right: inherit !important;
}
.mobile-accountbutton{ margin-top:13px; }
.flex-direction-nav .flex-next {
	right: 20px;
}
.flex-direction-nav .flex-prev {
	left: 20px;
}
.widget {
	width: 318px;
}
.widget_wrap .container {
	max-width: 730px;
	margin-left: auto;
	margin-right: auto;
}
.index_saham {
	float: none;
	width: auto;
}
#myTabContent {
	width: auto;
	margin: 0;
}
.greeter {
	width: 49%;
	margin-right: 1%;
	margin-left: 0px;
}
.news_h {
	width: 49%;
	margin-left: 1%;
}
.middle_page .container .left_wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -320px;
	z-index: 100;
	background-color: #D0D0D0;
}
.middle_page .container .left_wrap .side_menu {
	margin: 10px;
}
.middle_page .container .right_wrap {
	float: none;
	width: auto;
}
.middle_page .container .left_wrap .row-mte {
	margin: 10px;
}
.middle_page .container .left_wrap .side_menu_mobile {
	display: block;
}
.form_contact {
	margin-left: auto;
	margin-right: auto;
}
.wid_trader .wrap_trd {
	width: 230px;
}
.faq_wrap .text_faq {
	float: none;
}
.wid_trader .account_detail .caption {
	width: auto !important;
	position: relative;
	height: auto;
}
.sl_wrp .slide_little3{ width:auto !important; }
.sl_wrp .slide_little ul li,.list_video li{ width:220px; }
#div-form-account {
	display: block;
	width: 558px;
	margin: 0 auto;
}
.monex-mt4 .img_tablet{
	left: 0px !important;
	right: 0;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}
.right.monex{ width:auto; }
.wid_edu_wrap .edu_wid{ margin-bottom:5px; }
.video_edu .container .text_edu{ float:none; width:auto; margin-left:0; margin-right:0px; text-align:center; }
.video_edu .container .video{ margin-top:20px; float:none; background-image:none; text-align:center; }
.artikel_wrap .container .artikel_list li{ margin-right:5px; margin-bottom:10px; margin-left:5px; }
.book_wrap .container .text_book{ float:none; width:auto; text-align:center; }
.book_wrap .container{ min-height:inherit; }
.book_wrap { min-height:440px; }
.book_wrap .container .img_book{ right:0; text-align:center; }
.faq_wrap { background:#E6E9EE none; }
.trade_menu .alfabeth{ width:200px; }
.trade_menu .s_trade{ width:195px; }
/*footer*/
section.footer_menu .container ul.foot_nav {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
section.footer_menu .container ul.foot_nav, section.footer_menu .container .right_foot {
	float: none;
	width: auto;
}
section.footer_menu .container .foot_log {
	padding-bottom: 15px;
}
}
 @media only screen and (max-width: 480px) {
/* Mobile styles */
}
