@charset "utf-8";
/* CSS Document */
  @media only screen and (max-width: 480px) {
/* Mobile styles */
.container {
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
}
.gr {
	float: none;
	width: auto;
}
header .logo {
	width:100px;	
}
header .right_header {
	float: none;
	width: auto;
}
.right_header .phone{ float:right; width:auto; font-size:14px; background-size:20px; margin-top:39px !important; }
.right_header .sosMedia_mobile{ top:30px; right:15px; }
header .right_header .button_share {
	display: block;
	top:0;
}
header .right_header .menuOther {
	margin-bottom: 20px;
	display:block;
	width:296px;
	margin-left:auto;
	margin-right:auto;
}
header .right_header .menuOther ul {
	margin: 0px;
	display:inline-block;
}
header .right_header .menuOther ul li {
	border-right-width: 1;
	background-position: 3px center !important;
	padding-left: 23px;
	padding-right: 5px;
	margin-right: 1px;
	border-right-style: solid;
	border-right-color: #fff;
}
header .right_header .sosMedia{ position:absolute; right:0; }
header .right_header .menuOther ul li:last-child {
	border: 0;
}
.mobile-accountbutton {
	width: 220px !important;
	padding-top: 7px;
	margin-top:10px;
}
.mobile-accountbutton a {
	float: left;
	width: 90px;
	margin-right: 15px;
}
ul#mobile.nav {
	display: none;
}
#desktop li ul {
	z-index:1;
	position:relative;
	top:0;
	width:auto;
	left:-13px;
	display:block;
}
.navbar .btn-navbar {
	display: block;
}
.nav-collapse.collapse {
	display:none;
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0px;
  overflow: hidden;
  left:0px;
  background-image:url(../images/overlay.png);
  background-repeat:repeat;
  height:100% !important;
}
.nav-collapse.collapse.loading{
	background-image: url(../images/loading.gif), url(../images/overlay.png);
	background-repeat: no-repeat, repeat;
	background-position: center center;
}
ul.nav {
	background-color: #077f03;
	width:250px;
	float:right;
	overflow:auto;
	margin-right:-250px;
	height:100%
}
ul.nav li {
	float: none;
}
ul.nav li a {
	color: #fff;
	background:none;
}
ul.nav li:last-child{ background:none; }
ul.nav li a:hover, ul.nav li a.active {
	color: #010101;
}
ul.nav li.selected,ul.nav li.selected a{ background:#289824; color:#fff; }
ul.nav li a.active img {
	display: none;
}
.banner_home .container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: inherit;
	width: 320px;
	right: inherit !important;
}
.flex-direction-nav .flex-next {
	right: 20px;
}
.flex-direction-nav .flex-prev {
	left: 20px;
}
.widget {
	width: auto;
	margin-left: 20px;
	margin-right: 20px !important;
}
.widget_wrap .container {
	max-width: 730px;
	margin-left: auto;
	margin-right: auto;
}
.index_saham {
	float: none;
	width: auto;
}
#myTabContent {
	width: auto;
	margin: 0;
}
.greeter {
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}
.news_h {
	width: 100%;
	margin-left: 0px;
	margin-top: 30px;
}
.middle_page .container .left_wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -250px;
	z-index: 100;
	width:250px;
	background-color: #D0D0D0;
}
.middle_page .container .left_wrap .scroll_mobile{ overflow:auto; height:100%; }
.middle_page .container .left_wrap .side_menu {
	margin: 10px;
}
.middle_page .container .right_wrap {
	float: none;
	width: auto;
}
.middle_page .container .left_wrap .row-mte {
	margin: 10px;
}
.middle_page .container .left_wrap .side_menu_mobile {
	display: block;
}
.middle_page .container .left_wrap .side_menu ul li{ font-size:11px; }
.button_acc-new .ban-content{ font-size:18px; }
.form_contact {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	max-width:300px;
}
.wid_trader .wrap_trd {
	width: 230px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.wid_trader .wrap_trd:nth-child(3n+3) {
	margin-right: auto;
}
.faq_wrap .text_faq {
	float: none;
}
.wid_trader .account_detail .caption {
	width: auto !important;
	position: relative;
	height: auto;
}
.ebook_wrap .descrip {
	float: none;
	width: auto;
}
.ebook_wrap .img {
	float: none;
}
h2.title_page {
	margin-left: 0 !important;
}
.ebook_wrap .btn_ebook a.demo {
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.corp_event {
	width: auto;
}
.corp_event ul.list_event {
	width: auto;
	margin: 20px 15px 0px 25px;
}
.schedul_edu {
	width: auto;
}
.sl_wrp .slide_little3 {
	width: auto !important;
}
.sl_wrp .slide_little ul li, .list_video li {
	width: 220px;
}
.wid_trader .account_detail ul {
	margin-left: 0px !important;
}
.trader_width_wrap .text {
	width: auto;
	text-align: center;
}
.trader_width_wrap > div {
	background-image: none !important;
}
.trader_width_wrap > div:nth-child(even) .text {
	text-align: center;
}
.trader_width_wrap > div:nth-child(odd) .text {
	float: none;
}
.btn_signUp div {
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
}
.btn_signUp div .demo_btn {
	margin-bottom: 10px;
}
.form_contact, #bpopup-media {
	width: auto;
}
.form_contact .form {
	width: auto;
}
.form_contact .form input {
	width: 240px;
}
.form_contact .form textarea{ width: 240px; }
.form_contact .form select{ width: 255px; }
#div-form-account {
	display: block;
	width: 558px;
	margin: 0 auto;
}
.monex-mt4 .img_tablet {
	left: 0px !important;
	right: 0;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
}
.right.monex {
	width: auto;
	margin-bottom: 120px;
}
.monex-mobile-trader .texting, .monex-multi-terminal div, .webmaster-tools .container .texting {
	width: auto !important;
	margin: 0 15px !important;
}
.webmaster-tools .container .texting {
	float: none;
}
.webmaster-tools img {
	position: relative !important;
	right: inherit !important;
}
.faq_wrap .text_faq {
	width: auto;
}
.acc-list-box li {
	float: none;
	margin: 0 auto !important;
	display: block;
}
.wid_edu_wrap .edu_wid {
	float: none;
	margin: 5px auto;
}
.wid_edu_wrap .edu_wid:last-child {
	margin-right: auto;
}
.video_edu .container .text_edu {
	float: none;
	width: auto;
}
.vid_wrp object {
	width: 100%;
	height: auto !important;
}
.sl_wrp {
	margin-left: 40px;
	margin-right: 40px;
}
#form_trading {
	padding: 0 !important;
}
#form_trading table {
	width: 100%;
	padding: 0 !important;
}
#form_trading input[type=text] {
	width: 84%;
}
.partner_box01 .right, .partner_box02 .right {
	float: none;
	width: auto;
}
.wid_trader .account_detail ul li{ float:none; margin-left:auto; margin-right:auto; margin-top:15px; }
.trade_menu .alfabeth{ width:200px; }
.form_contact .form input.sbt_form{ float:none; }
.trade_menu .s_trade{ width:auto; }
.partner_box01 .left, .partner_box02 .left{ float:none; }
.sl_wrp2{ margin-left:25px; margin-right:25px; }
header .right_header .form_search{
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
}
header .right_header .form_search .close{}
header .right_header .form_search .close:before{
	content: 'x';
  font-size: 26px;
  cursor: pointer;
  position: relative;
  margin-top: 1px;
  margin-right: 5px;
  display: inline-block;
}
/*footer*/
section.footer_menu .container ul.foot_nav {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
section.footer_menu .container ul.foot_nav, section.footer_menu .container .right_foot {
	float: none;
	width: auto;
}
section.footer_menu .container .foot_log {
	padding-bottom: 15px;
}
section.footer_menu .container .foot_log a {
	float: none;
	text-align: center;
	margin-bottom: 10px;
}
}
