#widget-news-category-item {border:none;}
#widget-news-category-item a {height:110px;margin:5px 0 0 5px;display:inline-block;width:120px;padding:15px 5px;text-align:center;background-color:rgb(219, 253, 210);border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px;}
#widget-news-category-item a:first-child {margin-left:0;}
#widget-news-category-item a img {height:90px;}