#widget-news-category {}
#widget-news-category ul {margin:5px 0 10px 10px;list-style-type:circle;padding-left:10px;}
#widget-news-category ul li.active > a,#widget-news-category ul li.active li.active > a,#widget-news-category ul li.active li.active li.active > a {color:red;}
#widget-news-category ul ul {margin: 0 0 0 10px;list-style-type:disc;}