/** General **/
body {font-size:11px;color:#333;overflow-y:scroll;background:transparent url('../images/body-repeater.jpg') center repeat;}
#wg-user-admin-webarq-change-password { margin : 0 auto;}
#wg-user-admin-webarq-change-password .wg-header {height:82px;width:inherit;background-position:top left;background-repeat:no-repeat;position:relative;z-index:0;}
#wg-user-admin-webarq-change-password .wg-header.header-left {background-image:url('../images/wg-header-left.png');}
#wg-user-admin-webarq-change-password .wg-header.header-right {background-image:url('../images/wg-header-right.png');background-position:top right;}
#wg-user-admin-webarq-change-password .wg-header.header-right {background-image:url('../images/wg-header-right.png');}
#wg-user-admin-webarq-change-password .wg-header.header-center {background-image:url('../images/wg-header-repeater.png');background-repeat:repeat-x;}
#wg-user-admin-webarq-change-password #inner-header-right {background:url('../images/wg-header-right.jpg') top right no-repeat;height:74px;background-position:100% 1px;margin:0 -4px;}
#wg-user-admin-webarq-change-password #inner-header-right .logo-client {width:145px;height:54px;float:left;margin:10px 20px;background-repeat:no-repeat;background-position:top left;background-image:url('../images/logo-client.png');}
#wg-user-admin-webarq-change-password .wg-content {background-color:#fff;border-left:1px solid #ececec;border-right:1px solid #ececec;float:left;margin:-6px 0 0 0;min-height:200px;z-index:-10;}
#wg-user-admin-webarq-change-password .wg-content .wording {padding:33px 43px;}
#wg-user-admin-webarq-change-password .input input {margin-top:5px;width:220px;color:#999999;font:14px/37px "verdana";height:39px;margin-right:5px;background:url('../images/wg-text-middle.png') top center repeat-x;border-color:#ccc;border-left-width:1px;border-right-width:1px;border-style:solid;border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;-webkit-border-radius:8px;}
#wg-user-admin-webarq-change-password .wg-footer {height:76px;background:url('../images/wg-footer-shadow.png')bottom center no-repeat;clear:left;}
#wg-user-admin-webarq-change-password .wg-footer .wording {height:42px;background: #094c69 url('../images/wg-footer-wording.jpg') left center no-repeat;font:12px/42px "Arial";color:#fff;padding-left:60px;background-position:40px center;}
#wg-user-admin-webarq-change-password .request-password {text-transform:uppercase;font-size:13px;font-weight:bold;color:rgb(70, 70, 70);background-position : center bottom;border:1px solid rgb(235, 235, 235);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;float:right;width:114px;height:32px;cursor:pointer;background-color:rgb(182, 174, 174);background-image:linear-gradient(top, rgb(182, 174, 174) 0%, rgb(182, 174, 174) 100%);background-image:-o-linear-gradient(top, rgb(182, 174, 174) 0%, rgb(182, 174, 174) 100%);background-image:-moz-linear-gradient(top, rgb(182, 174, 174) 0%, rgb(182, 174, 174) 100%);background-image:-webkit-linear-gradient(top, rgb(182, 174, 174) 0%, rgb(182, 174, 174) 100%);background-image:-ms-linear-gradient(top, rgb(182, 174, 174) 0%, rgb(182, 174, 174) 100%);background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(182, 174, 174)),color-stop(1, rgb(182, 174, 174)));}
#wg-user-admin-webarq-change-password .logo-webarq {background:url('../images/logo-webarq.png') bottom center no-repeat;color:#666666;font:11px/9px "verdana";text-align:center;height:39px;}
#wg-user-admin-webarq-change-password .error-message {margin:5px 0;font-weight:bold;} 

/** Normal Class **/
#wg-user-admin-webarq-change-password.normal {width:333px;height:423px;}
#wg-user-admin-webarq-change-password.normal .wg-content {width:331px;}
#wg-user-admin-webarq-change-password.normal .wg-header.header-center {margin:0 4px;width:325px;}
